﻿@model SiteBMS.ViewModels.ReleveViewModel
@using SiteBMS.Extensions;

@{
    ViewBag.Title = Resources.NewStatement;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    /*
    1   Abricot
    5   Pêche
    6   Poire
    7   Pomme
    8   Prune
    9   Raisin de table
    10  Vigne
    11  Aucune
    12  Céréales
    13  Maïs
    */
    // groupement par type d'especes
    var Noyau = new[] { 1, 5, 8 };
    var Pepin = new[] { 6, 7 };
    var Vigne = new[] { 9, 10 };
    var Cereal = new[] { 12, 13 };
    var Aucune = new[] { 11 };
    // EDIT RELEVE

    var currentEspece = (Model.Parcelle != null) ? Model.Parcelle.RefComboEspece : 0;
    // CREATE RELEVE
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB /Releves/List/111/page/origin ViewBag.Controller = origin; //  (origin == 1) ? "Parcelles" : "Releves"; -->
                <h2>
                    @if (ViewBag.Controller == 2)
                    {
                        <a href="@Url.Action("List", "Releves", new {id = Model.Parcelle.ID, page = ViewBag.Page, origin = ViewBag.Controller})"><i class="fa fa-bars"></i> @Resources.StatementS</a>
                    }
                    else
                    {
                        <a href="@Url.Action("List", "Parcelles", new {id = Model.Parcelle.RefClient, page = ViewBag.Page, origin = ViewBag.Controller})"><i class="fa fa-bars"></i> @Resources.Parcel</a>
                    }
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title : <span class="capitalize">@Model.Parcelle.Nom</span>
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

                    <p class="text-muted">
                        <h5><i class='fa fa-star asterisc'></i> @Resources.ElementsTakenFoliarNutritionProg</h5>
                    </p>

                    @using (Html.BeginForm("Create", "Releves", new { page = ViewBag.Page, origin = ViewBag.Controller }, FormMethod.Post,
        new { @class = "form-horizontal form-label-left", role = "form", id = "createForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- HIDDEN FIELDS -->

                        @Html.HiddenFor(model => model.DateReleve)
                        @Html.HiddenFor(model => model.DatCreat)
                        @Html.HiddenFor(model => model.DatModif)

                        @Html.HiddenFor(model => model.RefParcelle)
                        @Html.HiddenFor(model => model.IsInitial)
                        @Html.HiddenFor(model => model.IsPerso)
                        @Html.HiddenFor(model => model.IsBilanCalculated)
                        @Html.HiddenFor(model => model.IDUserCreat)
                        @Html.HiddenFor(model => model.IDUserModif)
                        @Html.HiddenFor(model => model.IsActive, new { Value = true })
                        @Html.HiddenFor(model => model.Nom)

                        <!-- CLIENT COMMUN -->
                        <div class="x_panel">
                            <div class="x_title">
                                @*<h4><i class="fa fa-th-large"></i> Parcelle</h4>*@
                                <div class="form-group">
                                    <div class="col-md-2 col-sm-2">
                                        <h4>
                                            <i class="fa fa-th-large"></i> @Resources.Parcel
                                        </h4>
                                    </div>
                                    <div class="col-md-10 col-sm-10">
                                        <label class="control-label col-md-1-5 col-sm-2">@Resources.Name</label>
                                        <div class="col-md-2 col-sm-2">
                                            <p class="form-control-static static">@Model.Parcelle.Nom</p>
                                        </div>
                                        <!--RefComboEspece -->
                                        <label class="control-label col-md-1-5 col-sm-2 requiredField">@Resources.Specie</label>
                                        <div class="col-md-2 col-sm-2">
                                            <p class="form-control-static static">@ViewBag.Espece</p>
                                        </div>

                                        <!-- RefVariete -->
                                        @Html.LabelFor(model => model.Parcelle.RefVariete, new { @class = "control-label col-md-1-5" })
                                        <div class="col-md-3 col-sm-2">
                                            <p class="form-control-static static">@ViewBag.Variete</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">

                                    <!--Client-->
                                    @Html.LabelFor(model => model.Client, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2 col-sm-2">
                                        <p class="form-control-static static">@Model.Client</p>
                                    </div>

                                    <!--NOM DE LA RECOLTE : (Year-Num) -->
                                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })

                                    <div class="col-md-2 col-sm-2">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6">
                                                    @Html.DropDownList("RecolteYear", (IEnumerable<SelectListItem>)ViewBag.DDLRecolteYear,
                                                   htmlAttributes: new { @class = "form-control", onchange = "ChangeRecolteYear(this);" })
                                                    @*pas besoin de validateur car il y a toujours une Année selectionné par defaut.*@
                                                </div>

                                                <div class="col-md-6 col-sm-6" style="padding-left:0;">
                                                    @Html.DropDownList("RecolteNum", (IEnumerable<SelectListItem>)ViewBag.DDLRecolteNum, htmlAttributes: new { @class = "form-control" })
                                                    @*pas besoin de validateur car il y a toujours un Numéro selectionné par defaut.*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--DateReleve-->
                                    @Html.LabelFor(model => model.DateReleve, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2 col-sm-2">
                                        <p class="form-control-static static">@Model.DateReleve.ToString("dd MMMM yyyy")</p>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <!--CreateBy Name of User (Not ID see hidden filds) -->
                                    @Html.LabelFor(model => model.IDUserCreat, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2 col-sm-2">
                                        <input type="text" class="form-control read-only" value="@ViewBag.CreateBy" readonly>
                                    </div>

                                    <!--DatCreat-->
                                    @Html.LabelFor(model => model.DatCreat, new { @class = "control-label col-md-2 col-sm-2 col-md-offset-4" })
                                    <div class="col-md-2 col-sm-3">
                                        <p class="form-control-static static">@(((DateTime)Model.DatCreat).ToString("dd MMMM yyyy"))</p>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <!--IDUserModif-->
                                    @Html.LabelFor(model => model.IDUserModif, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2 col-sm-2">
                                        <input type="text" class="form-control read-only" value="@ViewBag.ModifiedBy" readonly>
                                    </div>

                                    <!--DatModif-->
                                    @Html.LabelFor(model => model.DatModif, new { @class = "control-label col-md-2 col-sm-2 col-md-offset-4" })
                                    <div class="col-md-2 col-sm-3">
                                        <p class="form-control-static static">@(((DateTime)Model.DatModif).ToString("dd MMMM yyyy"))</p>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <!-- RefComboTypeUser -->
                                    @Html.LabelFor(model => model.RefComboTypeUser, new { @class = "control-label col-md-2" })
                                    <div class="col-md-3 col-sm-4">
                                        @Html.DropDownListFor(model => model.RefComboTypeUser, (IEnumerable<SelectListItem>)ViewBag.DDLTypeUser,
                                        new { @class = "form-control selectpicker show-tick" })
                                        @Html.ValidationMessageFor(model => model.RefComboTypeUser, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.RefComboTypeUser, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- RENDEMENT COMMUN SAUF LIBELLE CALIBRE -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h4><i class="fa fa-download"></i> @Resources.Yield</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- Moyen Tonnage-->
                                @if (!Vigne.Contains(currentEspece))
                                {
                                    <div class="form-group ">
                                        <label class="control-label col-md-2 col-sm-3">@Resources.AverageTonnage</label>
                                        <div class="col-md-2 col-sm-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control" value="55.00" readonly>
                                                <span class="input-group-addon">@Resources.TonsHa</span>
                                            </div>
                                        </div>
                                        <!--Calibre-->
                                        <label class="control-label col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-1">@Resources.Caliber</label>
                                        <div class="col-md-2 col-sm-2">
                                            <input type="text" class="form-control" value="77.50" readonly>
                                        </div>
                                    </div>
                                }

                                <!--ObjectifRendement-->
                                <div class="form-group ">
                                    <label class="control-label col-md-2 col-sm-3">@Resources.ObjectiveTonnage <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2 col-sm-3">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.ObjectifRendement, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifRendement,
                                                new { @class = "form-control selectpicker show-tick", onchange = "CalculFumure()" })
                                            <span class="input-group-addon">@Resources.TonsHa</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ObjectifRendement, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- DEGRE -->
                                    @if (Vigne.Contains(currentEspece))
                                    {
                                        <label class="control-label col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-1">@Resources.Degree <i class='fa fa-star asterisc'></i></label>
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.ObjectifDegre, (IEnumerable<SelectListItem>)ViewBag.DDLDegres,
                                            new { @class = "form-control selectpicker show-tick", @data_size = "11" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ObjectifDegre, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        <!--OBJECTIF CALIBRE-->
                                        <label class="control-label col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-1">@Resources.Caliber <i class='fa fa-star asterisc'></i></label>
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.ObjectifCalibre, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifCalibre,
                                                new { @class = "form-control selectpicker show-tick" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ObjectifCalibre, "", new { @class = "text-danger" })
                                    }
                                </div>

                                <!--ObjectifRendementN_1-->
                                <div class="form-group ">
                                    <label class="control-label col-md-2 col-sm-3">@Resources.Crop <sub>N-1</sub> @Resources.Tonnage <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2 col-sm-3">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.ObjectifRendementN_1, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifRendementN_1,
                                            new { @class = "form-control selectpicker show-tick" })
                                            <span class="input-group-addon">@Resources.TonsHa</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ObjectifRendementN_1, "", new { @class = "text-danger" })
                                    </div>

                                    <!-- DEGRE -->
                                    @if (Vigne.Contains(currentEspece))
                                    {
                                        <label class="control-label col-md-2 col-sm-3 col-md-offset-4 col-sm-offset-1">@Resources.Degree <i class='fa fa-star asterisc'></i></label>
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.ObjectifDegreN_1, (IEnumerable<SelectListItem>)ViewBag.DDLDegres,
                                                new { @class = "form-control selectpicker show-tick", @data_size = "11" })
                                            @Html.ValidationMessageFor(model => model.ObjectifDegreN_1, "", new { @class = "text-danger" })
                                        </div>
                                    }
                                    else
                                    {
                                        <!--ObjectifCalibreN_1-->
                                        <label class="control-label col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-1">@Resources.Caliber <sub>N-1</sub> <i class='fa fa-star asterisc'></i></label>
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.ObjectifCalibreN_1, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifCalibreN_1,
                                                new { @class = "form-control selectpicker show-tick" })
                                            @Html.ValidationMessageFor(model => model.ObjectifCalibreN_1, "", new { @class = "text-danger" })
                                        </div>
                                    }
                                </div>

                                <!--Alternance-->
                                <div class="form-group ">
                                    @Html.LabelFor(model => model.Alternance, null, required, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2 col-sm-3">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Alternance, true, new { id = "oui" }) @Resources.Yes
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Alternance, false, new { id = "non" }) @Resources.No
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Alternance, "", new { @class = "text-danger" })
                                </div>

                                <hr />

                                <div class="form-group">

                                    <!-- APPELATION VIGNE/RAISIN -->
                                    @if (Vigne.Contains(currentEspece))
                                    {
                                        @Html.LabelFor(model => model.RefComboTypeVin, null, required, new { @class = "control-label col-md-2 col-sm-4" })
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.RefComboTypeVin, (IEnumerable<SelectListItem>)ViewBag.DDLAppelation, @Resources.NoneF,
                                        new { @class = "form-control selectpicker show-tick" })
                                            @Html.ValidationMessageFor(model => model.RefComboTypeVin, "", new { @class = "text-danger" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RefComboTypeVin, "", new { @class = "text-danger" })
                                    }

                                    <!-- GREFFE VIGUEUR VISUELLE-->
                                    @Html.LabelFor(model => model.RefComboGreffe, null, required, new { @class = "control-label col-md-1-5 col-sm-4" })
                                    <div class="col-md-1-5 col-sm-2">
                                        @Html.DropDownListFor(model => model.RefComboGreffe, (IEnumerable<SelectListItem>)ViewBag.DDLComboGreffe, @Resources.NoneF,
                                        new { @class = "form-control selectpicker show-tick" })
                                        @Html.ValidationMessageFor(model => model.RefComboGreffe, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- RefComboVigueurVisuelle -->
                                    @Html.LabelFor(model => model.RefComboVigueurVisuelle, null, required, new { @class = "control-label col-md-3" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboVigueurVisuelle, (IEnumerable<SelectListItem>)ViewBag.DDLRefComboVigueurVisuelle,
                                        new { @class = "form-control selectpicker show-tick" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.RefComboVigueurVisuelle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <!-- TYPE DE SOL COMMUN -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h4><i class="fa fa-flickr"></i> @Resources.TypeSoil</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">

                                    <!--Matiere Organique (M.O)-->
                                    @Html.LabelFor(model => model.MatiereOrganique, new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-2 col-sm-2">
                                        @Html.DropDownListFor(model => model.MatiereOrganique, (IEnumerable<SelectListItem>)ViewBag.DDLMatiereOrganique,
                                        new { @class = "form-control selectpicker show-tick" })
                                        @Html.ValidationMessageFor(model => model.MatiereOrganique, "", new { @class = "text-danger" })
                                    </div>

                                    <!--CEC-->
                                    @Html.LabelFor(model => model.CEC, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                                    <div class="col-md-1 col-sm-2">
                                        @Html.EditorFor(model => model.CEC, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CEC, "", new { @class = "text-danger" })
                                    </div>

                                    <!--PH H2O-->
                                    <label class="control-label col-md-2 col-sm-2 col-md-offset-1">Ph H<sub>2</sub>O</label>
                                    <div class="col-md-1 col-sm-2">
                                        @Html.EditorFor(model => model.PH, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PH, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--Drainage-->
                                    @Html.LabelFor(model => model.Drainage, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2 col-sm-2">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Drainage, true, new { id = "oui" }) Oui
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Drainage, false, new { id = "non" }) Non
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Drainage, "", new { @class = "text-danger" })

                                    <!-- ONLY VIGNE/NOYAU, % CALCAIRE ACTIF -->
                                    @if (!Pepin.Contains(currentEspece))
                                    {
                                        @Html.LabelFor(model => model.Calcaire, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                                        <div class="col-md-1-5 col-sm-1">
                                            @Html.DropDownListFor(model => model.Calcaire, (IEnumerable<SelectListItem>)ViewBag.DDLCalcaire,
                                        new { @class = "form-control selectpicker show-tick" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Calcaire, "", new { @class = "text-danger" })
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- FUMURE COMMUN -->
                        <div class="x_panel x_top _grey">
                            <div class="x_title">
                                <h4><i class="fa fa-tint"></i> @Resources.Manure</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    <label class="control-label col-md-2 col-sm-2">@Resources.Ideal <sub>N</sub></label>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="form-control-static static">
                                            <span id="idealFumureN">45</span> <i><sub>u</sub></i>
                                        </p>
                                    </div>

                                    @*<label  class="control-label col-md-2">P2O5</label>*@
                                    <label class="control-label col-md-2 col-sm-2">P<sub>2</sub>O<sub>5</sub></label>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="form-control-static static">
                                            <span id="idealFumureP">22.5</span> <i><sub>u</sub></i>
                                        </p>
                                    </div>

                                    @*<label  class="control-label col-md-2">K20</label>*@
                                    <label class="control-label col-md-2 col-sm-2">K<sub>2</sub>0</label>
                                    <div class="col-md-2 col-sm-2">
                                        <p class="form-control-static static">
                                            <span id="idealFumureK">67.5</span> <i><sub>u</sub></i>
                                        </p>
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <!-- FUMURE N -->
                                    @*@Html.LabelFor(model => model.FumureN, new {@class = "control-label col-md-2"})*@
                                    <label class="control-label col-md-2 col-sm-2">@Resources.Realized <sub>N</sub></label>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.FumureN, (IEnumerable<SelectListItem>)ViewBag.DDLFumureN,
                                                     @Resources.NoneF, new { @class = "form-control selectpicker show-tick", @data_size = "11" })
                                            <span class="input-group-addon"><i><sub>u</sub></i></span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FumureN, "", new { @class = "text-danger" })

                                    <!-- FUMURE P -->
                                    @*@Html.LabelFor(model => model.FumureN, new {@class = "control-label col-md-2"})*@
                                    <label class="control-label col-md-2 col-sm-2">P<sub>2</sub>O<sub>5</sub></label>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.FumureP, (IEnumerable<SelectListItem>)ViewBag.DDLFumureP,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick", @data_size = "11" })
                                            <span class="input-group-addon"><i><sub>u</sub></i></span>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.FumureP, "", new { @class = "text-danger" })
                                    <!-- FUMURE K -->
                                    @*@Html.LabelFor(model => model.FumureK, new {@class = "control-label col-md-2"})*@
                                    <label class="control-label col-md-2 col-sm-2">K<sub>2</sub>0</label>
                                    <div class="col-md-2 col-sm-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.FumureK, (IEnumerable<SelectListItem>)ViewBag.DDLFumureK,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick", @data_size = "11" })
                                            <span class="input-group-addon"><i><sub>u</sub></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- grp 13 -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApportMO, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ApportMO, true, new { id = "oui" }) Oui
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ApportMO, false, new { id = "non" }) Non
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        if (Pepin.Contains(currentEspece))
                        {
                        <!--CALCUL FOLIAIRE -->
                            <div class="x_panel x_top">
                                <div class="x_title">
                                    <h4><i class="fa fa-leaf"></i> @Resources.FoliarComputation</h4>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="form-group">

                                        <!-- Rang -->
                                        @Html.LabelFor(model => model.NbRang, new { @class = "control-label col-md-2" })
                                        <div class="col-md-2  col-sm-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.NbRang, (IEnumerable<SelectListItem>)ViewBag.DDLNbRang,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick" })
                                                <span class="input-group-addon"><i><sub>m</sub></i></span>
                                            </div>
                                        </div>
                                        <!-- Hauteur Canopé-->
                                        @Html.LabelFor(model => model.HauteurCanope, new { @class = "control-label col-md-2" })
                                        <div class="col-md-2  col-sm-3">
                                            <!-- La valeur selected item est récupéré pour la liste dans le model=>model.selectdItem -->
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.HauteurCanope, (IEnumerable<SelectListItem>)ViewBag.DDLHauteurCanope,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick" })
                                                <span class="input-group-addon"><i><sub>m</sub></i></span>
                                            </div>
                                        </div>

                                        <!-- Surface -->
                                        <label class="control-label col-md-2">@Resources.SurfaceFoliar</label>
                                        <div class="col-md-1  col-sm-2">
                                            <p class="form-control-static static">
                                                @Model.Parcelle.Surface <i>ha</i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else if (Noyau.Contains(currentEspece))
                        {
                        <!--FLORAISON  -->
                            <div class="x_panel x_top">
                                <div class="x_title">
                                    <h4><i class="fa fa-leaf"></i> @Resources.BloomingNouaison <i class="fa fa-star asterisc" style="font-size:0.5em;"></i></h4>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <div class="form-group">

                                        <!-- Nombre de fleurs field(NbRang) -->
                                        @Html.LabelFor(model => model.NbrFleurs, new { @class = "control-label col-md-2-5" })
                                        <div class="col-md-1-5  col-sm-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.NbRang, (IEnumerable<SelectListItem>)ViewBag.DDLNbRang,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick", @onchange = "NbRangChange($(this).val());" })
                                                <span class="input-group-addon"><i><sub>m</sub></i></span>
                                            </div>
                                        </div>
                                        <!-- nombre de fruits field(HauteurCanope) -->
                                        @Html.LabelFor(model => model.NbrFruits, new { @class = "control-label col-md-2-5" })
                                        <div class="col-md-1-5  col-sm-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.HauteurCanope, (IEnumerable<SelectListItem>)ViewBag.DDLHauteurCanope,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick", @onchange = "HauteurCanopeChange($(this).val());" })
                                                <span class="input-group-addon"><i><sub>m</sub></i></span>
                                            </div>
                                        </div>

                                        <!-- Taux de nouaison -->
                                        <label class="control-label col-md-2">@Resources.FruitingRate</label>
                                        <div class="col-md-1  col-sm-2">
                                            <p class="form-control-static static" id="clientIDNouaison">@ViewBag.InitialTauxNouaison 0%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- ZONE CLIMATIQUE -->
                        <div class="x_panel x_top _grey">
                            <div class="clearfix"></div>
                            <div class="x_content">

                                <!-- COMMON ZONE CLIMATIQUE -->
                                <div class="form-group">
                                    <label class="control-label col-md-2">@Resources.ClimateZone<i class="fa fa-star asterisc"></i></label>
                                    <div class="col-md-2  col-sm-3">
                                        <p class="form-control-static static">@ViewBag.ZoneClimatique</p>
                                    </div>

                                    <!-- Pluviometrie 90 jour -->
                                    @Html.LabelFor(model => model.PluvioReel, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2  col-sm-3">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.PluvioReel, (IEnumerable<SelectListItem>)ViewBag.DDLPluviometrie,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick" })
                                            <span class="input-group-addon"><i><sub>mm</sub></i></span>
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.PluvioReel, "", new { @class = "text-danger" })*@
                                    </div>

                                    @*<label class="control-label col-md-2 col-sm-3">@Resources.ObjectiveTonnage <i class='fa fa-star asterisc'></i></label>
                                        <div class="col-md-2 col-sm-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.ObjectifRendement, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifRendement,
                                                    new { @class = "form-control selectpicker show-tick", onchange = "CalculFumure()" })
                                                <span class="input-group-addon">@Resources.TonsHa</span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ObjectifRendement, "", new { @class = "text-danger" })
                                        </div>*@

                                    <!-- Age -->
                                    @Html.LabelFor(model => model.RefComboAge, null, required, new { @class = "control-label col-md-2" })
                                    <div class="col-md-2  col-sm-2">
                                        @Html.DropDownListFor(model => model.RefComboAge, (IEnumerable<SelectListItem>)ViewBag.DDLAge,
                                         @Resources.NoneF, new { @class = "form-control selectpicker show-tick" })
                                    </div>
                                </div>

                                <!-- TAILLE (NOYAUX/PEPIN)-->
                                <div class="form-group">

                                    @{
                                        var classPluvio = "control-label col-md-2 col-md-offset-4";
                                    }

                                    <!-- CONDUITE ONLY VIGNE/RAISIN -->
                                    @if (Vigne.Contains(currentEspece))
                                    {
                                        classPluvio = "control-label col-md-2";

                                        @*@Html.LabelFor(model => model.RefComboTypeTaille, null, required, new { @class = "control-label col-md-2" })*@
                                        <label class="control-label col-md-2">@Resources.Training</label>
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.RefComboTypeTaille, (IEnumerable<SelectListItem>)ViewBag.DDLTaille, @Resources.NoneF,
                                               new { @class = "form-control selectpicker show-tick" })
                                        </div>
                                    }

                                    <!-- PLUVIO ESTIVAL FOR ALL EXCEPT PEPIN -->
                                    @if (!Pepin.Contains(currentEspece))
                                    {
                                        @Html.LabelFor(model => model.Pluvio2, new { @class = @classPluvio })
                                        <div class="col-md-2  col-sm-3">
                                            <div class="input-group">
                                                @Html.DropDownListFor(model => model.Pluvio2, (IEnumerable<SelectListItem>)ViewBag.DDLPluviometrie,
                                             @Resources.NoneF, new { @class = "form-control selectpicker show-tick" })
                                                <span class="input-group-addon"><i><sub>mm</sub></i></span>
                                            </div>
                                        </div>
                                    }

                                    @if (!Vigne.Contains(currentEspece))
                                    {
                                    <!-- TAILLE EXCEPT VIGNE-->
                                        @Html.LabelFor(model => model.RefComboTypeTaille, null, required, new { @class = "control-label col-md-2" })
                                        <div class="col-md-2 col-sm-2">
                                            @Html.DropDownListFor(model => model.RefComboTypeTaille, (IEnumerable<SelectListItem>)ViewBag.DDLTaille, @Resources.NoneF,
                                               new { @class = "form-control selectpicker show-tick" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- PROBLEME NUTRITIONELS -->
                                        <div class="x_panel x_top _grey">
                                            <div class="x_title">
                                                <h4><i class="fa fa-info"></i> @Resources.InfoNutriProblem</h4>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="x_content">

                                                <div class="form-group">
                                                    <!-- Coulure -->
                                                    <label class="control-label col-md-2-5">@Resources.Coulure <i class='fa fa-star asterisc'></i></label>
                                                    <div class="col-md-1-5  col-sm-2">
                                                        @Html.DropDownListFor(model => model.RefComboCoulure, (IEnumerable<SelectListItem>)ViewBag.DDLCoulure,
                                                            new { @class = "form-control selectpicker show-tick" })
                                                    </div>

                                                    <!-- Chlorose -->
                                                    <label class="control-label col-md-2-5">@Resources.Chlorosis <i class='fa fa-star asterisc'></i></label>
                                                    <div class="col-md-1-5  col-sm-2">
                                                        @Html.DropDownListFor(model => model.RefComboChlorose, (IEnumerable<SelectListItem>)ViewBag.DDLChlorose,
                                                            new { @class = "form-control selectpicker show-tick" })
                                                    </div>

                                                    @if (Pepin.Contains(currentEspece))
                                                    {
                                    <!-- Type Conservation -->
                                                        <label class="control-label col-md-2">@Resources.Conservation <i class='fa fa-star asterisc'></i></label>
                                                        <div class="col-md-2  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboTypeConservation, (IEnumerable<SelectListItem>)ViewBag.DDLConservation,
                                        new { @class = "form-control selectpicker show-tick" })
                                                        </div>
                                                    }
                                                    @if (Vigne.Contains(currentEspece))
                                                    {
                                    <!-- Millerandage -->
                                                        <label class="control-label col-md-2">@Resources.Millerandage <i class='fa fa-star asterisc'></i></label>
                                                        <div class="col-md-1-5  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboMillerandage, (IEnumerable<SelectListItem>)ViewBag.DDLMillerandage,
                                        new { @class = "form-control selectpicker show-tick" })
                                                        </div>
                                                    }
                                                </div>

                                                <div class="form-group">

                                                    @if (Pepin.Contains(currentEspece))
                                                    {
                                    <!-- Stades conservations -->
                                                        <label class="control-label col-md-2-5">@Resources.StagesConservations</label>
                                                        <div class="col-md-1-5  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboStadeConservation, (IEnumerable<SelectListItem>)ViewBag.DDLStadeConservation,
                                        new { @class = "form-control selectpicker show-tick" })
                                                        </div>
                                                    }
                                                    @if (Vigne.Contains(currentEspece))
                                                    {
                                    <!-- Desechement Rafle -->
                                                        <label class="control-label col-md-2-5">@Resources.BlackStem <i class='fa fa-star asterisc'></i></label>
                                                        <div class="col-md-1-5  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboRafle, (IEnumerable<SelectListItem>)ViewBag.DDLDessechement,
                                        new { @class = "form-control selectpicker show-tick" })
                                                        </div>
                                    <!-- Millerandage -->
                                                        <label class="control-label col-md-2-5">@Resources.PhytosanitarySituation <i class='fa fa-star asterisc'></i></label>
                                                        <div class="col-md-1-5  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboSanitaire,
                                                           (IEnumerable<SelectListItem>)ViewBag.DDLPhyto, new { @class = "form-control selectpicker show-tick" })
                                                        </div>
                                                    }
                                                    @if (Noyau.Contains(currentEspece))
                                                    {

                                    <!-- Bacteriose -->
                                                        <label class="control-label col-md-2-5">@Resources.Bacteriosis <i class='fa fa-star asterisc'></i></label>
                                                        <div class="col-md-1-5  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboTypeConservation, (IEnumerable<SelectListItem>)ViewBag.DDLBacteriose,
                                        new { @class = "form-control selectpicker show-tick" })
                                                        </div>
                                    <!-- Symptome -->
                                                        <label class="control-label col-md-2-5">@Resources.Symptom <i class='fa fa-star asterisc'></i></label>
                                                        <div class="col-md-1-5  col-sm-2">
                                                            @Html.DropDownListFor(model => model.RefComboStadeConservation, (IEnumerable<SelectListItem>)ViewBag.DDLSymptome,
                                        new { @class = "form-control selectpicker show-tick" })
                                                        </div>

                                                    }
                                                </div>
                                            </div>
                                        </div>

                        <!-- REMARQUES COMMUN -->
                                        <div class="x_panel x_top">
                                            <div class="x_title">
                                                <h4><i class="fa fa-pencil-square-o"></i> @Resources.Remarks</h4>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">

                                                <!-- Remarque -->
                                                <div class="form-group">
                                                    <label class="control-label col-md-2">@Resources.Remarks</label>
                                                    <div class="col-md-4">
                                                        <!--rows=3, columns = 0-->
                                                        @Html.TextAreaFor(m => m.Remarque, 3, 0, new { @class = "form-control" })
                                                    </div>
                                                    <label class="control-label col-md-2">@Resources.RemarksTechnicianBMS</label>
                                                    <div class="col-md-4">
                                                        <!--rows=3, columns = 0-->
                                                        @Html.TextAreaFor(m => m.RemarqueTech, 3, 0, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

            <!-- BUTTON -->
                                        <div class="form-group x_panel">
                                            <label class="control-label col-md-2">&nbsp;&nbsp;</label>
                                            <div class="col-md-2">
                                                <button type="submit" class="form-control btn btn-success btn-sm">@Resources.Save</button>
                                            </div>
                                            <div class="col-md-2 col-md-offset-6">

                                                <!-- Releves/List/id parcelle -->
                                                @if (ViewBag.Controller == 1)
                                                {
                                                    // liste des parcelles du client
                                                    @Html.ActionLink(Resources.Cancel, "List", "Parcelles", new { id = @Model.Parcelle.RefClient, page = ViewBag.Page }, new { @class = "form-control btn btn-primary btn-sm" })
                                                }
                                                else
                                                {
                                                    // list des releves de la parcelle
                                                    @Html.ActionLink(@Resources.Cancel, "List", "Releves", new { id = Model.Parcelle.ID, page = ViewBag.Page, origin = ViewBag.Controller }, new { @class = "form-control btn btn-primary btn-sm" })
                                                }
                                            </div>
                                        </div>
                                        }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show(); // display:block

            // PARCELLES DU CLIENT
            $("#menu-parcel").show();
            $("#list-parcel").attr("href", "/Parcelles/List/" + @Model.Parcelle.RefClient);

            // RELEVES DE LA PARCELLE
            if(@Model.Parcelle.Releves.Count > 0)
            {
                $("#menu-releve").show();
                $("#list-releve").attr("href", "/Releves/List/" + @Model.Parcelle.ID);
            }

            // validate form
            $("#createForm").submit(function(){

                // $("#CEC").val($("#CEC").val().replace(",", "."));
                // $("#PH").val($("#PH").val().replace(",", "."));
                $("#Nom").val($("#RecolteYear").val() + "-" + $("#RecolteNum").val());
                //console.log($("#Nom").val());

                return true;
            });

            CalculFumure();

        });

        function NbRangChange(valeur) {
            CalculNouaison(parseInt(valeur, 10), parseInt($("#HauteurCanope").val(), 10));
        }

        function HauteurCanopeChange(valeur) {
            CalculNouaison(parseInt($("#NbRang").val(), 10), parseInt(valeur, 10));
        }

        function CalculNouaison(pNbFleurs, pNbFruits) {
            var tauxNouaison = 0;
            // Calcul de nouaison : (NbFruits / NbFleurs) * 100
            if (pNbFruits > 0 && pNbFleurs > 0) {
                tauxNouaison = (pNbFruits / pNbFleurs) * 100;
            }

            $("#clientIDNouaison").text(tauxNouaison.toFixed(2) + "%");
        };

        // replace comma by dot decimal separator
        // onsubmit = "ValidateForm()",
        function ValidateForm() {

            $("#CEC").val($("#CEC").val().replace(",", "."));
            $("#PH").val($("#PH").val().replace(",", "."));
            return true;
        }

        /***********************************************************/
        // Calcul Fumure :
        // Calculer la fumure idéale
        // en fonction de l'objectif de rendement tonnage sélectionné
        // et des coefficients de fumure liés à l'espèce.
        /***********************************************************/
        //variables des coefficients de fumure (N - P - K) (renseignées coté serveur)
        var coefN = parseFloat(  "@ViewBag.coefN".replace(/,/g, '.'));
        var coefP = parseFloat("@ViewBag.coefP".replace(/,/g, '.'));
        var coefK = parseFloat("@ViewBag.coefK".replace(/,/g, '.'));

        // onchange="CalculFumure(this.options[this.selectedIndex].value)"

        function CalculFumure() {

            var pRdmtObjectif = $("#ObjectifRendement").val();

            // Calcul des fumures : RdmtObjectif * Coeff
            fumureP = parseInt(pRdmtObjectif) * coefP;
            fumureK = parseInt(pRdmtObjectif) * coefK;
            fumureN = parseInt(pRdmtObjectif) * coefN;

            // Ecriture des fumures
            $("#idealFumureN").text(fumureN);
            $("#idealFumureP").text(fumureP);
            $("#idealFumureK").text(fumureK);

        };

        function ChangeRecolteYear(obj) {

            var id = $("#RefParcelle").val();
            var select = $("#RecolteNum");
            var year = $("#RecolteYear").val();
            //console.log(id + " " + year);


            $.ajax({
                url: '/Releves/ChangeRecolteYear',
                type: 'POST',
                data: { id: id, year: year},
                dataType: 'JSON',
                error: function () {
                    console.log("ChangeRecolteYear : Server access failure!");
                },
                success: function (response) {
                    //var response = result;
                    select.empty();
                    //debugger;
                    $.each(response, function (index, item) {
                        //debugger;
                        var p = new Option(item, item);
                        select.append(p);
                    });
                }
            });
        }
    </script>

}