﻿@model SiteBMS.ViewModels.ReleveViewModel
@using SiteBMS.Extensions;
@{
    ViewBag.Title = "Nouveau relevé pour la parcelle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> Required = @<i class='fa fa-star asterisc'></i>;

    // CREATE RELEVE
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB /Releves/List/111/page/origin ViewBag.Controller = origin; //  (origin == 1) ? "Parcelles" : "Releves"; -->
                <h2>
                    @if (ViewBag.Controller == 2)
                    {
                        <a href="@Url.Action("List", "Releves", new {id = Model.Parcelle.ID, page = ViewBag.Page, origin = ViewBag.Controller})"><i class="fa fa-bars"></i> Relevés</a>
                    }
                    else
                    {
                        <a href="@Url.Action("List", "Parcelles", new {id = Model.Parcelle.RefClient, page = ViewBag.Page, origin = ViewBag.Controller})"><i class="fa fa-bars"></i> Parcelles</a>
                    }
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title : <span class="capitalize">@Model.Parcelle.Nom</span>
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

                    <p class="text-muted">
                        <h5><i class='fa fa-star asterisc'></i> Eléments pris en compte dans le programme de nutrition foliaire.</h5>
                    </p>

                    @using (Html.BeginForm("Create", "Releves", new { page = ViewBag.Page, origin = ViewBag.Controller }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- HIDDEN FIELDS -->

                        @Html.HiddenFor(model => model.DateReleve)
                        @Html.HiddenFor(model => model.DatCreat)
                        @Html.HiddenFor(model => model.DatModif)

                        @Html.HiddenFor(model => model.RefParcelle)
                        @Html.HiddenFor(model => model.IsInitial)
                        @Html.HiddenFor(model => model.IsPerso)
                        @Html.HiddenFor(model => model.IsBilanCalculated)
                        @Html.HiddenFor(model => model.IDUserCreat)
                        @Html.HiddenFor(model => model.IDUserModif)

                        <!-- CLIENT -->
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Parcelle</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">

                                    <!--Client-->
                                    @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <p class="form-control-static static">@Model.Client</p>
                                    </div>

                                    <!--Nom de la recolte -->
                                    @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.Nom, (IEnumerable<SelectListItem>)ViewBag.DDLRecolte,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>

                                    <!--DateReleve-->
                                    @Html.LabelFor(model => model.DateReleve, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <p class="form-control-static static">@Model.DateReleve.ToString("dd MMMM yyyy")</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--Parcelle.Nom => RefParcelle -->
                                    @Html.LabelFor(model => model.RefParcelle, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <p class="form-control-static static">@Model.Parcelle.Nom</p>
                                    </div>

                                    <!--Parcelle.RefComboEspece -->
                                    <label class="control-label col-md-2">Espece</label>
                                    <div class="col-md-2">
                                        <p class="form-control-static static">@ViewBag.Espece</p>
                                    </div>

                                    <!-- Parcelle.RefVariete -->
                                    @Html.LabelFor(model => model.Parcelle.RefVariete, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <p class="form-control-static static">@ViewBag.Variete</p>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <!-- RefComboTypeUser -->
                                    <label for="RefComboTypeUser" class="control-label col-md-2">Releve effectue par</label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboTypeUser, (IEnumerable<SelectListItem>)ViewBag.DDLTypeUser,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.RefComboTypeUser, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- RENDEMENT -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h2>Rendement</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group ">
                                    <!-- Moyen Tonnage-->
                                    <label class="control-label col-md-2">Tonnage Moyen</label>
                                    <div class="col-md-4 ">
                                        <input type="text" class="form-control  read-only" value="55.00" readonly>
                                    </div>
                                    <!--tonnes/ha Calibre-->
                                    <label class="control-label col-md-2 col-md-offset-2">tonnes/ha Calibre</label>
                                    <div class="col-md-2 ">
                                        <input type="text" class="form-control  read-only" value="77.50" readonly>
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <!--ObjectifRendement-->
                                    <label for="ObjectifRendement" class="control-label col-md-2">Objectif Tonnage <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2 ">
                                        @Html.DropDownListFor(model => model.ObjectifRendement, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifRendement,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.ObjectifRendement, "", new { @class = "text-danger" })
                                    </div>
                                    <!--ObjectifCalibre-->
                                    <label for="ObjectifCalibre" class="control-label col-md-2 col-md-offset-4">tonnes/ha Calibre <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2 ">
                                        @Html.DropDownListFor(model => model.ObjectifCalibre, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifCalibre,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <!--ObjectifRendementN_1-->
                                    <label for="ObjectifRendementN_1" class="control-label col-md-2 ">Récolte <sub>N-1</sub> Tonnage <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2 ">
                                        @Html.DropDownListFor(model => model.ObjectifRendementN_1, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifRendementN_1,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.ObjectifRendementN_1, "", new { @class = "text-danger" })
                                    </div>

                                    <!--ObjectifCalibreN_1-->
                                    <label for="ObjectifCalibreN_1" class="control-label col-md-2 col-md-offset-4">tonnes/ha Calibre <sub>N-1</sub> <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2 ">
                                        @Html.DropDownListFor(model => model.ObjectifCalibreN_1, (IEnumerable<SelectListItem>)ViewBag.DDLObjectifCalibreN_1,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--Alternance-->
                                    @Html.LabelFor(model => model.Alternance, null, Required, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Alternance, true, new { id = "oui" }) Oui
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Alternance, false, new { id = "non" }) Non
                                        </label>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Alternance, "", new { @class = "text-danger" })

                                    <!-- GREFFE VIGUEUR VISUELLE-->
                                    <!--RefComboGreffe-->
                                    @Html.LabelFor(model => model.RefComboGreffe, null, Required, htmlAttributes: new { @class = "control-label col-md-1" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboGreffe, (IEnumerable<SelectListItem>)ViewBag.DDLComboGreffe, "Aucune",
                                            htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.RefComboGreffe, "", new { @class = "text-danger" })
                                    </div>


                                    <!-- RefComboVigueurVisuelle -->
                                    @Html.LabelFor(model => model.RefComboVigueurVisuelle, null, Required, htmlAttributes: new { @class = "control-label col-md-2 col-md-offset-1" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboVigueurVisuelle, (IEnumerable<SelectListItem>)ViewBag.DDLRefComboVigueurVisuelle,
                                    htmlAttributes: new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.RefComboVigueurVisuelle, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                         <!-- TYPE DE SOL -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h2>Type de sol</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">

                                    <!--Matiere Organique (M.O)-->
                                    @Html.LabelFor(model => model.MatiereOrganique, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.MatiereOrganique, (IEnumerable<SelectListItem>)ViewBag.DDLMatiereOrganique,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                    <!--CEC-->
                                    @Html.LabelFor(model => model.CEC, null, Required, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        @Html.EditorFor(model => model.CEC, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                    <!--PH H2O-->
                                    <label class="control-label col-md-2">Ph H<sub>2</sub>O</label>
                                    <div class="col-md-1">
                                        @Html.EditorFor(model => model.PH, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--Drainage-->
                                    @Html.LabelFor(model => model.Drainage, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Drainage, true, new { id = "oui" }) Oui
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Drainage, false, new { id = "non" }) Non
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FUMURE -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h2>Fumure</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- IDEAL DATA STATIC -->
                                <!-- <p class="form-control-static static">45</p> -->
                                <!--
                                <div class="input-group">
                                    <input type="text" class="form-control" value="67.5" readonly>
                                    <div class="input-group-addon">u</div>
                                </div>
                                -->
                                <div class="form-group">
                                    <label class="control-label col-md-2">Idéale <sub>N</sub></label>
                                    <div class="col-md-2">
                                        <p class="form-control-static static">
                                            45 <i><sub>u</sub></i>
                                        </p>
                                    </div>

                                    <label class="control-label col-md-2">P<sub>2</sub>O<sub>5</sub></label>
                                    <div class="col-md-2">
                                        <p class="form-control-static static">
                                            22.5 <i><sub>u</sub></i>
                                        </p>
                                    </div>

                                    <label class="control-label col-md-2">K<sub>2</sub>0</label>
                                    <div class="col-md-2">
                                        <p class="form-control-static static">
                                            67.5 <i><sub>u</sub></i>
                                        </p>
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <!-- FUMURE N -->
                                    @*@Html.LabelFor(model => model.FumureN, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label class="control-label col-md-2">R&eacute;alis&eacute; <sub>N</sub></label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.FumureN, (IEnumerable<SelectListItem>)ViewBag.DDLFumureN, "Aucune",
                                    htmlAttributes: new { @class = "form-control selectpicker", @data_size = "11" })
                                            <span class="input-group-addon"><i><sub>u</sub></i></span>
                                        </div>
                                    </div>

                                    <!-- FUMURE P -->
                                    @*@Html.LabelFor(model => model.FumureP, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label class="control-label col-md-2">P<sub>2</sub>O<sub>5</sub></label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.FumureP, (IEnumerable<SelectListItem>)ViewBag.DDLFumureP, "Aucune",
                                    htmlAttributes: new { @class = "form-control selectpicker", @data_size = "11" })
                                            <span class="input-group-addon"><i><sub>u</sub></i></span>
                                        </div>
                                    </div>

                                    <!-- FUMURE K -->
                                    @*@Html.LabelFor(model => model.FumureK, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                    <label class="control-label col-md-2">K<sub>2</sub>0</label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.FumureK, (IEnumerable<SelectListItem>)ViewBag.DDLFumureK, "Aucune",
                                    htmlAttributes: new { @class = "form-control selectpicker", @data_size = "11" })
                                            <span class="input-group-addon"><i><sub>u</sub></i></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- grp 13 -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ApportMO, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ApportMO, true, new { id = "oui" }) Oui
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ApportMO, false, new { id = "non" }) Non
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--CALCUL FOLIAIRE -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h2>Calcul Foliaire</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">

                                    <!-- Largeur Rang -->
                                    @Html.LabelFor(model => model.NbRang, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.NbRang, (IEnumerable<SelectListItem>)ViewBag.DDLNbRang, "Aucune",
                                            htmlAttributes: new { @class = "form-control selectpicker" })
                                            <span class="input-group-addon"><i><sub>m</sub></i></span>
                                        </div>

                                    </div>
                                    <!-- Hauteur Canopé-->
                                    @Html.LabelFor(model => model.HauteurCanope, htmlAttributes: new { @class = "control-label col-md-2 " })
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <!-- La valeur selected item est récupéré pour la liste dans le model=>model.selectdItem -->
                                            @Html.DropDownListFor(model => model.HauteurCanope, (IEnumerable<SelectListItem>)ViewBag.DDLHauteurCanope, "Aucune",
                                            htmlAttributes: new { @class = "form-control selectpicker" })

                                            <span class="input-group-addon"><i><sub>m</sub></i></span>
                                        </div>

                                    </div>

                                    <!-- Surface -->
                                    <label class="control-label col-md-2 col-md-offset-1">Surface foliaire</label>
                                    <div class="col-md-1 input-group">
                                        <p class="form-control-static static">
                                            @Model.Parcelle.Surface <i>m&sup2;</i>
                                        </p>
                                    </div>
                                </div>

                                <hr />
                                <div class="form-group">
                                    <!-- Static Zone climatique -->
                                    <label class="control-label col-md-2">Zone climatique<i class="fa fa-star asterisc"></i></label>
                                    <div class="col-md-2">
                                        <p class="form-control-static static">@ViewBag.ZoneClimatique</p>
                                    </div>

                                    <!-- Pluviometrie -->
                                    @Html.LabelFor(model => model.PluvioReel, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            @Html.DropDownListFor(model => model.PluvioReel, (IEnumerable<SelectListItem>)ViewBag.DDLPluviometrie, "Aucune",
                                            htmlAttributes: new { @class = "form-control selectpicker" })
                                            <span class="input-group-addon"><i><sub>mm</sub></i></span>
                                        </div>
                                    </div>

                                    <!-- Age -->
                                    @Html.LabelFor(model => model.RefComboAge, null, Required, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboAge, (IEnumerable<SelectListItem>)ViewBag.DDLAge, "Aucune",
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Taille -->
                                    @Html.LabelFor(model => model.RefComboTypeTaille, null, Required, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboTypeTaille, (IEnumerable<SelectListItem>)ViewBag.DDLTaille, "Aucune",
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- PROBLEME NUTRITIONELS -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h2>Information des problème nutritionels</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    <!-- Coulure -->
                                    <label class="control-label col-md-2">Coulure <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboCoulure, (IEnumerable<SelectListItem>)ViewBag.DDLCoulure,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>

                                    <!-- Chlorose -->
                                    <label class="control-label col-md-2">Chlorose <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboChlorose, (IEnumerable<SelectListItem>)ViewBag.DDLChlorose,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                    <!-- Conservation -->
                                    <label class="control-label col-md-2">Conservation <i class='fa fa-star asterisc'></i></label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboTypeConservation, (IEnumerable<SelectListItem>)ViewBag.DDLConservation,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Stades conservations -->
                                    <label class="control-label col-md-2">Stades conservations</label>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(model => model.RefComboStadeConservation, (IEnumerable<SelectListItem>)ViewBag.DDLStadeConservation,
                                htmlAttributes: new { @class = "form-control selectpicker" })
                                    </div>
                                </div>
                            </div>
                        </div>

            <!-- REMARQUES -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- Remarque -->
                                <div class="form-group">
                                    <label class="control-label col-md-2">Remarques</label>
                                    <div class="col-md-4">
                                        <!--rows=3, columns = 0-->
                                        @Html.TextAreaFor(m => m.Remarque, 3, 0, new { @class = "form-control" })
                                    </div>
                                    <!-- Remarque technicien BMS -->
                                    <label class="control-label col-md-2">Technicien BMS MN</label>
                                    <div class="col-md-4">
                                        <!--rows=3, columns = 0-->
                                        @Html.TextAreaFor(m => m.RemarqueTech, 3, 0, new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                        </div>

            <!-- BUTTON -->
                        <div class="form-group x_panel">
                            <label class="control-label col-md-2">&nbsp;&nbsp;</label>
                            <div class="col-md-2">
                                <button type="submit" class="form-control btn btn-success btn-sm">Enregistrer</button>
                            </div>
                            <div class="col-md-2 col-md-offset-6">

                                <!-- Releves/List/id parcelle -->
                                @if (ViewBag.Controller == 1)
                                {
                                    // liste des parcelles du client
                                    @Html.ActionLink("Annuler", "List", "Parcelles", new { id = @Model.Parcelle.RefClient, page = ViewBag.Page }, new { @class = "form-control btn btn-primary btn-sm" })
                                }
                                else
                                {
                                    // list des releves de la parcelle
                                    @Html.ActionLink("Annuler", "List", "Releves", new { id = Model.Parcelle.ID, page = ViewBag.Page, origin = ViewBag.Controller }, new { @class = "form-control btn btn-primary btn-sm" })
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
