﻿@model SiteBMS.Models.Releve

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Releve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Greffe.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Greffe.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parcelle.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parcelle.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateReleve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateReleve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectifRendement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectifRendement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectifRendementN_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectifRendementN_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectifCalibre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectifCalibre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectifCalibreN_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectifCalibreN_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectifDegre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectifDegre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectifDegreN_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectifDegreN_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alternance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alternance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboTypeVin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboTypeVin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboVigueurVisuelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboVigueurVisuelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatiereOrganique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatiereOrganique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drainage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drainage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FumureN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FumureN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FumureP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FumureP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FumureK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FumureK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbRang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbRang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HauteurCanope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HauteurCanope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboTypeTaille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboTypeTaille)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PluvioReel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PluvioReel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboCoulure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboCoulure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboChlorose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboChlorose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboStadeConservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboStadeConservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboTypeConservation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboTypeConservation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApportMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApportMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboMillerandage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboMillerandage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboSanitaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboSanitaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboCategorieVin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboCategorieVin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calcaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calcaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboRafle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboRafle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboCarencePrincipale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboCarencePrincipale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboCarenceSecondaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboCarenceSecondaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboCarenceAutre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboCarenceAutre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemarqueCarence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemarqueCarence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemarqueTech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemarqueTech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pluvio2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pluvio2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserCreat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserCreat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatCreat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatCreat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPerso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPerso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBilanCalculated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBilanCalculated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboTypeUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboTypeUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
