﻿@*@model SiteBMS.Models.Releve*@
@model SiteBMS.ViewModels.ReleveViewModel
@{
    ViewBag.Title = "Modifier relevé";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.Title</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form class="form-horizontal " role="form">

                    <!-- CLIENT -->
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Parcelle</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!-- groupe 1 -->
                            <div class="form-group">

                                @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Client, new { htmlAttributes = new { @class = "form-control read-only", @readonly = "readonly" } })
                                </div>

                                @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control read-only", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                </div>

                                @Html.LabelFor(model => model.DateReleve, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.DateReleve, new { htmlAttributes = new { @class = "form-control read-only", @readonly = "readonly" } })
                                </div>
                            </div>

                            <!-- grp 2 -->
                            <div class="form-group">
                                <!--<label for="" class="control-label col-md-2">Parcelle</label>-->
                                @Html.LabelFor(model => model.RefParcelle, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.DropDownList("RefParcelle", null, htmlAttributes: new { @class = "form-control col-md-2" })
                                    @Html.ValidationMessageFor(model => model.RefParcelle, "", new { @class = "text-danger" })
                                </div>

                                <label for="" class="control-label col-md-2">Espece</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control col-md-2 read-only" value="@ViewBag.Espece" readonly>
                                </div>

                                @*<label for="" class="control-label col-md-2">Variete</label>*@
                                @Html.LabelFor(model => model.DDLVariete, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @*<input type="text" class="form-control col-md-2">*@
                                    @Html.DropDownList("idvariete", Model.DDLVariete, null, htmlAttributes: new { @class = "form-control col-md-2" })
                                </div>
                            </div>
                            <!-- grp 3 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Releve effectue par</label>
                                <div class="col-md-2">
                                    @*<input type="text" class="form-control col-md-2" value="">*@
                                    @*@Html.DropDownList("RefComboTypeUser", (IEnumerable<SelectListItem>)ViewBag.ComboUserType, htmlAttributes: new { @class = "form-control" })*@
                                    @Html.DropDownListFor(model => model.RefComboTypeUser, Model.DDLTypeUser, null, htmlAttributes: new { @class = "form-control col-md-2" })
                                </div>
                            </div>

                            @*<div class="form-group">
                        @Html.LabelFor(model => model.IDUserCreat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IDUserCreat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IDUserCreat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IDUserModif, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.IDUserModif, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.IDUserModif, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


                            <!-- grp 4 -->
                            <div class="form-group">
                                @*<label for="" class="control-label col-md-2">Creer par</label>*@
                                @Html.LabelFor(model => model.IDUserCreat, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4"><input type="text" class="form-control read-only" value="@ViewBag.CreateBy" readonly></div>

                                @*<label for="" class="control-label col-md-2">Creer le</label>*@
                                @Html.LabelFor(model => model.DatCreat, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*<input type="text" class="form-control col-md-4">*@
                                    @Html.EditorFor(model => model.DatCreat, new { htmlAttributes = new { @class = "form-control read-only", @readonly = "readonly" } })
                                </div>
                            </div>
                            <!-- grp 5 -->
                            <div class="form-group">
                                @*<label for="" class="control-label col-md-2">Modifier par</label>*@
                                @Html.LabelFor(model => model.IDUserModif, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <input type="text" class="form-control read-only" value="@ViewBag.ModifiedBy" readonly>
                                </div>

                                @*<label for="" class="control-label col-md-2">Modifier le</label>*@
                                @Html.LabelFor(model => model.DatModif, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*<input type="text" class="form-control col-md-4">*@
                                    @Html.EditorFor(model => model.DatModif, new { htmlAttributes = new { @class = "form-control read-only", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RENDEMENT -->
                    <div class="x_panel x_top">
                        <div class="x_title">
                            <h2>Rendement</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <!-- grp 6 -->
                            <div class="form-group">
                                @*<label for="" class="control-label col-md-2">Objectif</label>*@
                                @Html.LabelFor(model => model.ObjectifRendement, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*<input type="text" class="form-control col-md-4">*@
                                    @Html.EditorFor(model => model.ObjectifRendement, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ObjectifRendement, "", new { @class = "text-danger" })
                                </div>

                                @*<label for="" class="control-label col-md-2">Degres</label>*@
                                @Html.LabelFor(model => model.ObjectifDegre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*<input type="text" class="form-control col-md-4">*@
                                    @Html.EditorFor(model => model.ObjectifDegre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ObjectifDegre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- grp 7 -->
                            <div class="form-group">
                                @*<label for="" class="control-label col-md-2">Objectif</label>*@
                                @Html.LabelFor(model => model.ObjectifRendementN_1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*<input type="text" class="form-control col-md-4">*@
                                    @Html.EditorFor(model => model.ObjectifRendementN_1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ObjectifRendementN_1, "", new { @class = "text-danger" })
                                </div>


                                @*<label for="" class="control-label col-md-2">Degres</label>*@
                                @Html.LabelFor(model => model.ObjectifDegreN_1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*<input type="text" class="form-control col-md-4">*@
                                    @Html.EditorFor(model => model.ObjectifDegreN_1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ObjectifDegreN_1, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- grp 8 -->
                            <div class="form-group">
                                @*<label for="" class="control-label col-md-2">Alternance</label>*@
                                @Html.LabelFor(model => model.Alternance, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*MvcHtmlString RadioButtonFor(<Expression<Func<TModel,TValue>> expression, object value, object htmlAttributes)*@
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Alternance, false, new { id = "non" }) Non
                                    </label>
                                    <label class="radio-inline">
                                        @Html.RadioButtonFor(model => model.Alternance, true, new { id = "oui" }) Oui
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="x_panel x_top">
                        <div class="x_content">
                            <hr />
                            <!-- grp 8 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Appelation</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                                <label for="" class="control-label col-md-2">Porte greffe</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>

                            <!-- grp 9 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Controle visuelle</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2"></div>
                            </div>
                        </div>
                    </div>

                    <!-- TYPE DE SOL -->
                    <div class="x_panel x_top">
                        <div class="x_title">
                            <h2>Type de sol</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <!-- grp 10 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">MO</label>
                                <div class="col-md-1"><input type="text" class="form-control col-md-1"></div>

                                <label for="" class="control-label col-md-2">CEC</label>
                                <div class="col-md-1"><input type="text" class="form-control col-md-1"></div>

                                <label for="" class="control-label col-md-2">PH H2O</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>

                            <!-- grp 11 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Sous sol drainant</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>

                                <label for="" class="control-label col-md-2">Pourcentage calcaire</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>
                        </div>
                    </div>

                    <!-- FUMURE  -->
                    <div class="x_panel x_top">
                        <div class="x_title">
                            <h2>Fumure</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <!-- grp 12 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Realisee N</label>
                                <div class="col-md-2"><input type="text" class="form-control col-md-2"></div>

                                <label for="" class="control-label col-md-2">P2O5</label>
                                <div class="col-md-2"><input type="text" class="form-control col-md-2"></div>

                                <label for="" class="control-label col-md-2">K20</label>
                                <div class="col-md-2"><input type="text" class="form-control col-md-2"></div>
                            </div>
                            <!-- grp 13 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Apport MO</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="x_panel x_top">
                        <div class="x_content">
                            <hr />
                            <!-- grp 14 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Zone climatique</label>
                                <div class="col-md-1"><input type="text" class="form-control col-md-1"></div>

                                <label for="" class="control-label col-md-2">Pluviometrie reelle</label>
                                <div class="col-md-1"><input type="text" class="form-control col-md-1"></div>

                                <label for="" class="control-label col-md-2">Age</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>
                            <!-- grp 15 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Conduite</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>

                                <label for="" class="control-label col-md-2">Pluviometrie Estivale</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>
                        </div>
                    </div>

                    <div class="x_panel x_top">
                        <div class="x_title">
                            <h2>Information des problème nutritionels</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <!-- grp 16 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Millerandage</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>

                                <label for="" class="control-label col-md-2">Desechement de rafle</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>

                            <!-- grp 17 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Coulure</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>

                                <label for="" class="control-label col-md-2">Situation phytosanitaire</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-4"></div>
                            </div>

                            <!-- grp 18 -->
                            <div class="form-group">
                                <label for="" class="control-label col-md-2">Chlorose</label>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2"></div>
                            </div>
                        </div>
                    </div>

                    <!-- grp 19 -->
                    <div class="form-group">
                        <label for="" class="control-label col-md-2">Remarque</label>
                        <div class="col-md-10"><input type="text" class="form-control col-md-10"></div>
                    </div>

                    <!-- grp 20 -->
                    <div class="form-group">
                        <label for="" class="control-label col-md-2">Remarque technicien BMS</label>
                        <div class="col-md-10"><input type="text" class="form-control col-md-10"></div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Releve</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.RefParcelle, "RefParcelle", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RefParcelle", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefParcelle, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.DateReleve, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateReleve, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateReleve, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectifRendement, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectifRendement, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectifRendement, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectifRendementN_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectifRendementN_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectifRendementN_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectifCalibre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectifCalibre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectifCalibre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectifCalibreN_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectifCalibreN_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectifCalibreN_1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectifDegre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectifDegre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectifDegre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ObjectifDegreN_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ObjectifDegreN_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ObjectifDegreN_1, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Alternance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Alternance)
                    @Html.ValidationMessageFor(model => model.Alternance, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboTypeVin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboTypeVin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboTypeVin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboGreffe, "RefComboGreffe", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RefComboGreffe", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefComboGreffe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboVigueurVisuelle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboVigueurVisuelle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboVigueurVisuelle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatiereOrganique, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatiereOrganique, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatiereOrganique, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CEC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CEC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CEC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Drainage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Drainage)
                    @Html.ValidationMessageFor(model => model.Drainage, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FumureN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FumureN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FumureN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FumureP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FumureP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FumureP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FumureK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FumureK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FumureK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboAge, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboAge, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboAge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NbRang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NbRang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NbRang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HauteurCanope, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HauteurCanope, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HauteurCanope, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboTypeTaille, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboTypeTaille, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboTypeTaille, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PluvioReel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PluvioReel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PluvioReel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboCoulure, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboCoulure, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboCoulure, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboChlorose, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboChlorose, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboChlorose, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboStadeConservation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboStadeConservation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboStadeConservation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboTypeConservation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboTypeConservation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboTypeConservation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ApportMO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ApportMO)
                    @Html.ValidationMessageFor(model => model.ApportMO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboMillerandage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboMillerandage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboMillerandage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboSanitaire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboSanitaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboSanitaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboCategorieVin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboCategorieVin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboCategorieVin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Calcaire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Calcaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Calcaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboRafle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboRafle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboRafle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboCarencePrincipale, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboCarencePrincipale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboCarencePrincipale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboCarenceSecondaire, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboCarenceSecondaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboCarenceSecondaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RefComboCarenceAutre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboCarenceAutre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboCarenceAutre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarque, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarque, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Remarque, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemarqueCarence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemarqueCarence, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemarqueCarence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RemarqueTech, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RemarqueTech, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RemarqueTech, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pluvio2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pluvio2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pluvio2, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.IDUserCreat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDUserCreat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDUserCreat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDUserModif, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDUserModif, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IDUserModif, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatCreat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatCreat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatCreat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatModif, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatModif, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatModif, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.IsPerso, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsPerso)
                    @Html.ValidationMessageFor(model => model.IsPerso, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsInitial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsInitial)
                    @Html.ValidationMessageFor(model => model.IsInitial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsBilanCalculated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsBilanCalculated)
                    @Html.ValidationMessageFor(model => model.IsBilanCalculated, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.RefComboTypeUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RefComboTypeUser, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RefComboTypeUser, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}