﻿@model IEnumerable<SiteBMS.Models.Releve>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Greffe.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parcelle.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReleve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectifRendement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectifRendementN_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectifCalibre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectifCalibreN_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectifDegre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectifDegreN_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alternance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboTypeVin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboVigueurVisuelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatiereOrganique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drainage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FumureN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FumureP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FumureK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbRang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HauteurCanope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboTypeTaille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PluvioReel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboCoulure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboChlorose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboStadeConservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboTypeConservation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApportMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboMillerandage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboSanitaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboCategorieVin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calcaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboRafle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboCarencePrincipale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboCarenceSecondaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboCarenceAutre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemarqueCarence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemarqueTech)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pluvio2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserCreat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserModif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatCreat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatModif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPerso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsInitial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBilanCalculated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboTypeUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Greffe.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parcelle.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReleve)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectifRendement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectifRendementN_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectifCalibre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectifCalibreN_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectifDegre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectifDegreN_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alternance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboTypeVin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboVigueurVisuelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatiereOrganique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drainage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FumureN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FumureP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FumureK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbRang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HauteurCanope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboTypeTaille)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PluvioReel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboCoulure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboChlorose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboStadeConservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboTypeConservation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApportMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboMillerandage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboSanitaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboCategorieVin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calcaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboRafle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboCarencePrincipale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboCarenceSecondaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboCarenceAutre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemarqueCarence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemarqueTech)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pluvio2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserCreat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserModif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatCreat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatModif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPerso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsInitial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsBilanCalculated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboTypeUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
