﻿@model PagedList.IPagedList<SiteBMS.ViewModels.ReleveViewModel>
@using System.Web.Mvc.Html
@using PagedList.Mvc
@{
    ViewBag.Title = Resources.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
    // RELEVES LIST
    // TODO : Ajouter int? page dans les actions (edit/details) du controller et les passer au vues
    // TODO: List Releve, Changer par Analyses
}

<!-- Modal CUMUL HTML -->
<div id="cumulModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <!-- Content will be loaded here from "cumul" controller -->
        </div>
    </div>
</div>

<!-- Modal HTML ANALYSE -->
<div id="analyseModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resources.TypeAnalysis</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" name="releveID" id="releveID" value="" />
                <p>@Resources.SelectTypeAnalysis</p>
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.First().CarenceType, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.First().CarenceType, (SelectList)ViewBag.DDLCarenceType,
                                                    htmlAttributes: new { @id = "AnalyseSelected", @class = "form-control col-md-9 col-xs-12" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Cancel</button>
                <button type="button" class="btn btn-primary submit-modal">@Resources.Save</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("List", "Parcelles", new {id = ViewBag.Releve.Parcelle.RefClient})"><i class="fa fa-bars"></i> @Resources.ParcelS</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title : <span class="capitalize">@ViewBag.Releve.Parcelle.Nom</span>
                </h2>
                <div class="nav navbar-right panel_toolbox">
                    <a class="btn btn-success" href="@Url.Action("Create", "Releves", new {id = ViewBag.Releve.Parcelle.ID, page = Model.PageNumber, origin = 2})"><i class="fa fa-leaf"></i> @Resources.Add</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">

                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>@Resources.BalanceSheet</span>
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.First().Nom)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.First().DateReleve)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.First().CarenceReleves)
                                            </th>
                                            <th style="text-align: center;">
                                                @Html.DisplayNameFor(model => model.First().IsPerso)
                                            </th>
                                            @if (Request.IsAuthenticated)
                                            {
                                                <th>&nbsp;</th>
                                            }
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-success btn-xs center-block" href="@Url.Action("Index", "BilanReport", 
                                                                                                    new {id = item.ID, page = Model.PageNumber})">@Resources.BalanceSheet</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nom)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DateReleve)
                                            </td>

                                            <td>
                                                @if (item.CarenceReleves.Count > 0)
                                                {
                                                    <a class="btn btn-success btn-xs" href="@Url.Action("List", "CarenceReleves", new {id = item.ID, page = Model.PageNumber})">@Resources.Detail</a>
                                                }
                                                else
                                                {
                                                    <a data-id="@item.ID" class="btn btn-default btn-xs open-modal" data-toggle="modal">@Resources.Add</a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.IsPerso)
                                                {
                                                    <div style="text-align: center">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="text-align: center">
                                                        <i class="fa fa-times"></i>
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                    <!-- ONLY USER CREATE AND PDG,RESPONSABLE,TECH AUTHORIZED TO EDIT -->
                                                    @*@if (User.UserId == item.IDUserCreat || User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                                                    { }*@

                                                        @Html.ActionLink(@Resources.Edit, "Edit", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-info btn-xs" })
                                                   
                                                    @*else
                                                    {
                                                        <a class="btn btn-default btn-xs" disabled="disabled" href="javascript:void(0);" readonly="readonly">Modifier</a>
                                                    }*@

                                                    @Html.ActionLink(@Resources.Detail, "Details", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-default btn-xs" })
                                                    @if (item.hasCumul == true)
                                                    {
                                                        @*@Html.ActionLink("Cumul", "Index", "Cumul", new { id = item.ID, cumulType = 4, page = Model.PageNumber }, new { @class = "btn btn-warning btn-xs" })*@
                                                        <a class="btn btn-warning btn-xs"
                                                           href="@Url.Action("Index", "Cumul", new { id = item.ID, cumulType = 4, page = Model.PageNumber })"
                                                           data-toggle="modal" data-target="#cumulModal">@Resources.Cumulative</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-default btn-xs" disabled="disabled" href="javascript:void(0);" readonly="readonly">@Resources.Cumulative</a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="page-count-pagination">
                                    @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="custom-pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("List", new { id = ViewBag.Releve.Parcelle.ID, page = page }),
                                            new PagedListRenderOptions
                                            {
                                                LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i>",
                                                LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> Precedent",
                                                LinkToNextPageFormat = Resources.Next +" <i class='fa fa-angle-right'></i>",
                                                LinkToLastPageFormat = "<i class='fa fa-angle-double-right'></i>"
                                            })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                @*@Html.ActionLink("Retour", "List", "Parcelles", new { id = ViewBag.Releve.Parcelle.RefClient, page = ViewBag.Page }, new { @class = "btn btn-primary btn-xs" })*@
                                <a class="btn btn-primary btn-sm"
                                   href="@Url.Action("List", "Parcelles", new{ id = ViewBag.Releve.Parcelle.RefClient, page = ViewBag.Page  })"><i class="fa fa-arrow-left"></i>&nbsp;@Resources.Return</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/css/print.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show(); // display:block

            // PARCELLES DU CLIENT
            $("#menu-parcel").show(); // display:block
            $("#list-parcel").attr("href", "/Parcelles/List/" + @ViewBag.Releve.Parcelle.RefClient);

            // MODAL
            $("#cumulModal").on('hidden.bs.modal', function () {
                $(this).removeData();
                $(this).removeData('bs.modal');
            });

            $('.open-modal').click(function () {
                $('#releveID').val($(this).data('id'));
                $('#analyseModal').modal('show');
            });

            $('.submit-modal').click(function () {

                var selectedId = $("#AnalyseSelected").val();
                if (selectedId === 0)
                    alert("Veuillez choisir un Type d'analyse.");
                else {

                    var id = $("#releveID").val();
                    var name = $("#AnalyseSelected option:selected").text();
                    var url = "/CarenceReleves/Create/" + id + "?typeId=" + selectedId + "&page=@Model.PageNumber";
                    //alert(name + " :" + selectedId + "\rurl:" + url);
                    window.location.href = url;
                }
            });
        });

        // http://jsfiddle.net/macgile/8n5j0ncm/
        // https://www.mindstick.com/Articles/1103/print-and-print-preview-separately-using-html-css-and-javascript

        function PrintModal() {
            window.print();
        }

        function ChangeYear() {
            var year = $("#year").val();
            if (year.length > 0) {

                var id = $("#id_cumul").val();

                var url = "/Cumul/Index/" + id + "?cumulType=4&year=" + year;
                $.get(url, function (data) {
                    $('#modalContent').html(data);
                    $('#cumulModal').modal('show');
                });
            }
        }

    </script>
}

