﻿@model SiteBMS.ViewModels.ClientViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Resources.NewCustomer;

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <!-- BREADCRUMB -->
                    <h2>
                        <a href="@Url.Action("Index", "Clients")"><i class="fa fa-bars"></i> @Resources.Customer</a>
                        <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                        @ViewBag.Title
                    </h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12 col-sm-offset-0 col-xs-offset-0">

                            @using (Html.BeginForm("Create", "Clients", null, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.IsActive, new { Value = true })

                                <div class="x_panel">
                                    <div class="x_title">
                                        <div class="col-md-10 col-sm-10">
                                            <h4><i class="fa fa-info"></i> @Resources.PersonalInfos</h4>
                                        </div>
                                        <div class="col-md-2 col-sm-2">
                                            <h5 class="pull-right">

                                                @if (!Model.IsActive)
                                                {
                                                    <span style="color: #169F85 !important"><i class="fa fa-user"></i> @Resources.Activated</span>}
                                                else
                                                {
                                                    <span style="color: #d43f3a !important"><i class="fa fa-user"></i> @Resources.Deactivated</span>}
                                            </h5>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="x_content">

                                        <div class="form-group ">
                                            @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6  col-sm-9">
                                                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Prenom, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Mel, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.EditorFor(model => model.Mel, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Mel, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            @Html.LabelFor(model => model.Adr1, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.EditorFor(model => model.Adr1, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Adr1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Adr2, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.EditorFor(model => model.Adr2, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Adr2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <!-- CODE POSTAL -->
                                        <div class="form-group ">
                                            @Html.LabelFor(model => model.CodePostal, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-2 col-sm-3">
                                                @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- VILLE -->
                                            @Html.LabelFor(model => model.Ville, null, required, new { @class = "control-label col-md-2 col-sm-3" })
                                            <div class="col-md-2 col-sm-3">
                                                @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <!-- TELEPHONE -->
                                        <div class="form-group">
                                            <!-- FIXE -->
                                            @Html.LabelFor(model => model.Tel1, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-2 col-sm-3">
                                                @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                                            </div>
                                            <!-- PORTABLE -->
                                            @Html.LabelFor(model => model.Tel2, new { @class = "control-label col-md-2 col-sm-3" })
                                            <div class="col-md-2 col-sm-3">
                                                @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Tel2, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <!-- FAX -->
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-2 col-sm-3">
                                                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                            </div>

                                            @Html.LabelFor(model => model.RefComboPays, null, required, new { @class = "control-label col-md-2 col-sm-3" })
                                            <div class="col-md-2 col-sm-3">
                                                @Html.DropDownListFor(model => model.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.DDLPays, @Resources.Country,
                                                    new { @class = "form-control selectpicker" })
                                                @Html.ValidationMessageFor(model => model.RefComboPays, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <!-- DROPDOWNLIST : PAYS/DISTRIBUTEURS -->
                                <div class="x_panel x_top">
                                    <div class="x_title">
                                        <h4><i class="fa fa-cogs"></i> @Resources.ExploitationInfos</h4>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Societe, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.EditorFor(model => model.Societe, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Societe, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <!--RefComboTypeCommercialisation-->
                                            @Html.LabelFor(model => model.RefComboTypeCommercialisation, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.DropDownListFor(model => model.RefComboTypeCommercialisation, (IEnumerable<SelectListItem>)ViewBag.DDLCommercialisation, Resources.SelectType,
                                                    new { @class = "form-control selectpicker" })
                                                @Html.ValidationMessageFor(model => model.RefComboTypeCommercialisation, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            @Html.LabelFor(model => model.Distributeur_ID, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                            <div class="col-md-6 col-sm-9">
                                                @Html.DropDownListFor(model => model.Distributeur_ID,
                                                    new SelectList(Model.Distributeurs, "ID", "Nom"), @Resources.SelectDistributor,
                                                    new { @class = "form-control selectpicker", data_size = "15" })
                                                @Html.ValidationMessageFor(model => model.Distributeur_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- ACTION BUTTON -->
                                <div class="x_panel x_top">
                                    <div class="clearfix"></div>
                                    <div class="x_content">
                                        <div class="form-group">
                                            <div class="col-md-2 col-sm-2 col-md-offset-3 col-sm-offset-3">
                                                <button type="submit" class="form-control btn btn-success btn-sm">@Resources.Created</button>
                                            </div>
                                            <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-5">
                                                @Html.ActionLink(Resources.Cancel, "Index", null, new { @class = "form-control btn btn-primary btn-sm pull-right" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- END FORM -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            // $("#customer-child").toggle();
            // toggle current customer menu item
            //  $("#current-customer").toggle();

        });
    </script>
}