﻿@model SiteBMS.ViewModels.ClientViewModel

@{
    ViewBag.Title = Resources.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Authorized = !User.IsAuthorized(RoleType.Client);
}

<!-- Small Modal Dialog Confirm Archiver Action -->
<div class="modal fade" id="confirmArchiver" role="dialog" aria-labelledby="confirmArchiverLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@Resources.Customer</h4>
            </div>
            <div class="modal-body">
                <!--Attention, cette action supprime toutes associations entre ce client et son distributeur. -->
                <h5 class="text-warning"><strong>@Resources.WarningDelAssoCustomer</strong></h5>

                <!--Voulez-vous archiver ce client ? -->
                <h5>@Resources.DoyouWantArchiveCustomer</h5>
                <input type="hidden" id="id_client" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" id="confirm">@Resources.Archive</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">@Resources.Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    @if (Authorized)
                    {
                        <a href="@Url.Action("Index", "Clients", new { page = ViewBag.Page })"><i class="fa fa-bars"></i> @Resources.Customers</a>
                        <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    }
                    @ViewBag.FullName (@Model.ID)
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="col-md-8 col-sm-12 col-md-offset-2">

                    <div class="form-horizontal">

                        <!-- INFORMATIONS PERSONNELLES -->
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="col-md-10 col-sm-10">
                                    <h4><i class="fa fa-info"></i> @Resources.PersonalInfos</h4>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <h5 class="pull-right">

                                        @if (Model.IsActive)
                                        { <span style="color:#169F85 !important"><i class="fa fa-user"></i> @Resources.Activated</span>}
                                        else
                                        { <span style="color:#d43f3a !important"><i class="fa fa-user"></i> @Resources.Deactivated</span>}
                                    </h5>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Prenom, new {@class = "control-label col-md-3 col-sm-3"})
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Prenom, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mel, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Mel, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr1, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Adr1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr2, new {@class = "control-label col-md-3 col-sm-3"})
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Adr2, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    </div>
                                </div>

                                <!-- Code Postal Ville -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodePostal, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>

                                    @Html.LabelFor(model => model.Ville, new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <!-- TELEPHONE -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tel1, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>

                                    @Html.LabelFor(model => model.Tel2, new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <!-- FAX -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Fax, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly"}})
                                    </div>

                                    @Html.LabelFor(model => model.RefComboPays, new { @class = "control-label col-md-1 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.DDLPays,
                                       new { @class = "form-control", @readonly = "true", @disabled = "disabled" })
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- EXPLOITATION -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h4><i class="fa fa-cogs"></i> @Resources.ExploitationInfos</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!--TypeCommercialisation / Societe -->
                                <div class="form-group">
                                    
                                    @Html.LabelFor(model => model.RefComboTypeCommercialisation, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboTypeCommercialisation, (IEnumerable<SelectListItem>)ViewBag.DDLCommercialisation,
                                       new { @class = "form-control", @readonly = "true", @disabled = "disabled" })
                                    </div>
                                    @Html.LabelFor(model => model.Societe, new { @class = "control-label col-md-1-5 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Societe, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" }, @disabled = "disabled" })
                                    </div>
                                </div>

                                <!-- Distributeurs List / Tech BMS MN -->
                                <div class="form-group">
                                    
                                    @Html.LabelFor(model => model.RefTechBMS, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        <input class="form-control" type="text" value="@ViewBag.TechBMS" readonly disabled />
                                    </div>

                                    @Html.LabelFor(model => model.Distributeurs, new { @class = "control-label col-md-1-5 col-sm-3" })
                                    <div class="col-md-2-5  col-sm-9">
                                        @Html.DropDownList("DistributeursList", new SelectList(Model.Distributeurs, "ID", "Nom"),
                                               new { @class = "form-control", @readonly = "true" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BUTTON -->
                        @if (Authorized)
                        {
                            <div class="x_panel x_top">
                                <div class="clearfix"></div>
                                <div class="x_content">
                                    <div class="form-group">
                                        <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-3">
                                            @if (Model.IDUserCreat == User.UserId || User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien, RoleType.Distributeur }))
                                            {
                                                @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.ID, page = ViewBag.Page }, new { @class = "btn btn-success btn-sm" })
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-default btn-sm" disabled>@Resources.Edit</button>
                                            }
                                        </div>
                                        <div class="col-md-2 col-sm-3">
                                            @if (Model.IDUserCreat == User.UserId || User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien, RoleType.Distributeur }))
                                            {
                                                <button type="button" class="btn btn-warning btn-sm center-block"
                                                        data-toggle="modal"
                                                        data-target="#confirmArchiver"
                                                        data-id="@Model.ID">
                                                    @Resources.Archive
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-default btn-sm center-block" disabled>@Resources.Archive</button>
                                            }
                                        </div>
                                        <div class="col-md-2 col-sm-3">
                                            @Html.ActionLink(@Resources.Cancel, "Index", new { page = ViewBag.Page }, new { @class = "btn btn-primary btn-sm pull-right" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- UTILISATEURS OF THIS CLIENT -->
                        @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                        {
                            if (Model.UtilisateursVm.Any())
                            {
                                <div class="x_panel _x_top">
                                    <div class="x_title">
                                        <div class="col-md-10 col-md-offset-1 col-sm-12 clear-pad-left">
                                            <h5><i class="fa fa-user"></i> @Resources.UserBalanceCustomer</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="col-md-10 col-sm-12 col-md-offset-1 col-xs-12">
                                            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Nom)@*.ToHtmlString()*@
                                                                    </th>
                                                                    <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Prenom)@*.ToHtmlString()*@
                                                                    </th>
                                                                    <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Email)@*.ToHtmlString()*@
                                                                    </th>
                                                                    <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Login)@*.ToHtmlString()*@
                                                                    </th>
                                                                    <th class="col-md-1 col-sm-2" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().LangueName)@*.ToHtmlString()*@
                                                                    </th>
                                                                </tr>

                                                            </thead>
                                                            @foreach (var item in Model.UtilisateursVm)
                                                            {
                                                                <tr class="capitalize">
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Nom)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Prenom)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Email)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Login)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.LangueName)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <!-- FOREACH -->
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        <!-- COUNT -->
                        }
                        <!-- AUTHORIZED ROLE -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show(); 

            // PARCELLES DU CLIENT
            $("#menu-parcel").show(); 
             $("#list-parcel").attr("href", "/Parcelles/List/" + @Model.ID);
        });

        // set parameter and open modal
        $('#confirmArchiver').on('show.bs.modal', function (e) {
            var idClient = $(e.relatedTarget).attr('data-id');
            $(this).find('.modal-body #id_client').val(idClient);
            console.log("on show modal : " + idClient);
        });

        // confirm submit modal
        $('#confirmArchiver').find('.modal-footer #confirm').on('click', function () {

            var idClient = $("#confirmArchiver .modal-body").find('#id_client').val();
            console.log("confirm id : " + idClient);

            if (idClient != undefined && idClient > 0) {

                $.ajax({
                    url: '/Clients/Archiver',
                    type: "POST",
                    dataType: "JSON",
                    data: { id: idClient },
                    success: function (data) {
                        window.location.href = "/Clients";
                    }
                });
            }
        });

        // clean modal value
        $('#confirmArchiver').on('hidden.bs.modal', function (e) {
            $(this).removeData();
        });

    </script>
}