﻿@model SiteBMS.ViewModels.ClientViewModel

@{
    ViewBag.Title = "Detail Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h4>@ViewBag.Title</h4>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form class=form-horizontal form-label-left" role="form">
                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Nom), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class = "form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Nom).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Prenom), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Prenom).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Societe), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Societe).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Adr1), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Adr1).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Adr2), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Adr2).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.CodePostal), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.CodePostal).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Ville), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Ville).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Pays), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.PaysName).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Tel1), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Tel1).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Tel2), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Tel2).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Fax), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Fax).ToString())</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.Mel), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-7">
                        <p class="form-control-static col-md-7 col-xs-12">@Html.Raw(Html.DisplayFor(model => model.Mel).ToString())</p>
                    </div>
                </div>


                <div class="form-group">
                    @Html.Label(Html.DisplayName(model => model.IsActive), new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                    <div class="col-md-4 col-sm-4 col-xs-1">
                        <div class="checkbox">
                            <label>
                                @Html.DisplayFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="ln_solid"></div>

                <!-- BUTTON -->
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>