﻿@model SiteBMS.ViewModels.ClientViewModel

@*@using SiteBMS.Extensions;*@
@{
    ViewBag.Title = Resources.Edit + " :";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Func<dynamic, HelperResult> Required = @<i class='fa fa-star asterisc'></i>;
    var Authorized = !User.IsAuthorized(RoleType.Client);
}

<!-- Modal HTML ADD Distributeur OBSOLETE -->
<div id="distributeurModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-cube"></i> @Resources.DistributorS</h4>
            </div>
            <div class="modal-body">
                <h5 style="font-size:16px;">Veuillez choisir un distributeur parmis la liste</h5>
                <div class="form-horizontal">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Distributeurs,  new { @class = "control-label col-md-3 col-sm-3" })
                            <div class="col-md-9 col-sm-9">
                                @Html.DropDownList("DistributeurSelected", new SelectList(Model.ListDistributeurs, "ID", "Nom"), "Choix distributeur",
                            new { @class = "form-control selectpicker", data_size = "15", data_live_search = "true" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submit-modal">@Resources.SaveChanges</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Small Modal Dialog Confirm USER Archiver Action -->
<div class="modal fade" id="confirmArchiver" role="dialog" aria-labelledby="confirmArchiverLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> @Resources.User</h4>
            </div>
            <div class="modal-body">
                <h5>@Resources.DoyouWantArchive</h5>
                <input type="hidden" id="id_utilisateur" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" id="confirm">@Resources.Archive</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">@Resources.Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML USER -->
<div id="userModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContentUser">
            <!-- Content will be loaded here from "partial view Utilisateur" controller action -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    @if (Authorized)
                    {
                        <a href="@Url.Action("Index", "Clients", new { page = ViewBag.Page })"><i class="fa fa-bars"></i> @Resources.Customers</a>
                        <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    }

                    @ViewBag.Title @ViewBag.FullName <span>(@Model.ID)</span> 
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-8 col-md-offset-2">
                    @using (Html.BeginForm("Edit", "Clients", new { page = ViewBag.Page }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*Hidden Mandatory fields*@
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.DatCreat)
                        @Html.HiddenFor(model => model.DatModif)
                        @Html.HiddenFor(model => model.IDUserCreat)
                        @Html.HiddenFor(model => model.IDUserModif)
                        @Html.HiddenFor(model => model.IsActive)

                        <div class="x_panel">
                            <div class="x_title">
                                @*<h4>Informations personnelles</h4>*@
                                <div class="col-md-10 col-sm-10">
                                    <h4><i class="fa fa-info"></i> @Resources.PersonalInfos @*Informations personnelles*@</h4>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <h5 class="pull-right">

                                        @if (Model.IsActive)
                                        { <span style="color:#169F85 !important"><i class="fa fa-user"></i> @Resources.Activated</span>}
                                        else
                                        { <span style="color:#d43f3a !important"><i class="fa fa-user"></i> @Resources.Deactivated</span>}
                                    </h5>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, null, Required,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Prenom, null, Required, new {@class = "control-label col-md-3 col-sm-3"})
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Prenom, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Prenom, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mel, null, Required,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Mel, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr1, null, Required,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Adr1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adr1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr2,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        @Html.EditorFor(model => model.Adr2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adr2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Code Postal Ville -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodePostal, null, Required,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Ville, null, Required,  new { @class = "control-label col-md-1 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- TELEPHONE -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tel1,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Tel2,  new { @class = "control-label col-md-1 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tel2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- FAX -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fax,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Fax, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.Fax, "", new {@class = "text-danger"})
                                    </div>

                                    @Html.LabelFor(model => model.RefComboPays, null, Required,  new { @class = "control-label col-md-1 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.DDLPays,
                                            new { @class = "form-control selectpicker"})
                                        @Html.ValidationMessageFor(model => model.RefComboPays, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- EXPLOITATION -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h4><i class="fa fa-cogs"></i> @Resources.ExploitationInfos</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">


                                <div class="form-group">
                                    <!-- TECH BMS READONLY -->
                                    @Html.LabelFor(model => model.RefTechBMS, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        <input class="form-control" type="text" value="@ViewBag.TechBMS" readonly disabled />
                                    </div>
                                    @Html.LabelFor(model => model.Societe, new { @class = "control-label col-md-1 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.EditorFor(model => model.Societe, new { htmlAttributes = new { @class = "form-control"}})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--RefComboTypeCommercialisation-->
                                    @Html.LabelFor(model => model.RefComboTypeCommercialisation, null, Required,  new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboTypeCommercialisation, (IEnumerable<SelectListItem>)ViewBag.DDLCommercialisation,
                                             new { @class = "form-control selectpicker" })
                                    </div>

                                    @Html.LabelFor(model => model.Distributeurs, new { @class = "control-label col-md-1 col-sm-3" })
                                    <div class="col-md-2-5 col-sm-5">
                                        @*@Html.DropDownList("DistributeurSelected", new SelectList(Model.ListDistributeurs, "ID", "Nom"), "Choix distributeur",
                                        new { @class = "form-control selectpicker", data_size = "15", data_live_search = "true" })*@
                                        @Html.DropDownListFor(model => model.Distributeur_ID, (SelectList)ViewBag.DDLDistributeurs, "Choix Distributeurs",
                                             new { @class = "form-control selectpicker" })
                                        @Html.ValidationMessageFor(model => model.Distributeur_ID, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- BUTTON -->
                        <div class="x_panel x_top">
                            <div class="clearfix"></div>
                            <div class="x_content">
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-4 col-md-offset-3 col-sm-offset-3">
                                        @if (Model.IDUserCreat == User.UserId || User.IsAuthorized(new[] {RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien}))
                                        {
                                            <button type="submit" class="btn btn-success btn-sm">@Resources.Save</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-success btn-sm" disabled>@Resources.Save</button>
                                        }

                                    </div>
                                    <div class="col-md-3 col-sm-5">
                                        @Html.ActionLink(Resources.Cancel, "Index", new {page = ViewBag.Page}, new {@class = "btn btn-primary btn-sm pull-right"})
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- UTILISATEURS FOR THIS CLIENT -->
                    @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                    {
                        <div class="x_panel _x_top">
                            <div class="x_title">
                                <div class="col-md-8 col-md-offset-1 col-sm-10 clear-pad-left">
                                    <h5><i class="fa fa-user"></i> @Resources.UserBalanceCustomer</h5>
                                </div>
                                <!-- ADD NEW USER FOR THIS CLIENT -->
                                <div class="col-md-2 col-sm-2" style="padding-right: 0;">
                                    <!-- get partial view edit user infos-->
                                    <a class="btn btn-info btn-xs pull-right btn-margin-top" data-toggle="modal" data-target="#userModal"
                                       href="@Url.Action("AddUtilisateur", "Utilisateurs", new { refId=Model.ID, origin=@RoleType.Client.ToString() })">
                                        <i class="fa fa-user pull-left" aria-hidden="true" style="padding-right: 4px;"></i>
                                        @Resources.Add
                                    </a>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                @if (Model.UtilisateursVm.Any())
                                {
                                    <div class="col-md-10 col-sm-12 col-md-offset-1 col-xs-12">
                                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Nom).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Prenom)
                                                                </th>
                                                                <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Email).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Login).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-1 col-sm-2" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().LangueName).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-1 col-sm-2" aria-controls="datatable">
                                                                    &nbsp;
                                                                </th>
                                                            </tr>

                                                        </thead>
                                                        @foreach (var item in Model.UtilisateursVm)
                                                        {
                                                            <tr class="capitalize">
                                                                <td>
                                                                    <!-- get partial view edit user infos-->
                                                                    <a class="edit-user bolder-name" data-toggle="modal" data-target="#userModal"
                                                                       href="@Url.Action("GetUtilisateur", "Utilisateurs",
                                                                                 new {id = item.ID, origin = @RoleType.Client.ToString()})">
                                                                        <i class="fa fa-pencil pull-right" aria-hidden="true" style="padding-right: 4px;"></i>
                                                                        @Html.DisplayFor(modelItem => item.Nom)
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Prenom)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Email)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Login)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.LangueName)
                                                                </td>

                                                                <td>
                                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                                        <!-- EDIT CURRENT USER -->
                                                                        <button type="button" class="btn btn-warning btn-xs center-block"
                                                                                data-toggle="modal"
                                                                                data-backdrop="false"
                                                                                data-target="#confirmArchiver"
                                                                                data-title="@item.FullName"
                                                                                data-id="@item.ID">
                                                                            @Resources.Archive
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                        <!-- FOREACH -->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- COUNT -->
                    }
                    <!-- AUTHORIZED ROLE -->

                </div>
            </div>
        </div>
    </div>
</div>


@*@section CustomJavascript {}*@

@section Scripts {

    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/pulsate")
    @Scripts.Render("~/bundles/password")
    @Scripts.Render("~/bundles/client")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").toggle(); // display:block


            // set parameter and open modal Archiver
            $('#confirmArchiver').on('show.bs.modal', function (e) {
                var idUtilisateur = $(e.relatedTarget).attr('data-id');
                var name = $(e.relatedTarget).attr('data-title');
                $(this).find('.modal-body #id_utilisateur').val(idUtilisateur);
                $(this).find('.modal-body h5').html("@Resources.DoyouWantArchive : <strong>" + name + "</strong> ?");
            });

            // confirm and submit modal
            $('#confirmArchiver').find('.modal-footer #confirm').on('click', function () {

                var id = $("#confirmArchiver .modal-body").find('#id_utilisateur').val();

                if (id != undefined && id != null) {
                    $.ajax({
                        url: '/Utilisateurs/Archiver',
                        type: "POST",
                        dataType: "JSON",
                        data: { id: id },
                        success: function (data) {
                            window.location.href = "/Distributeurs";
                        }
                    });
                }
            });

            // clean modal value
            $('#userModal').on('hidden.bs.modal', function (e) {
                $(this).removeData();
            });

            // set modal dialog as draggable
            $("#userModal").draggable({
                handle: ".modal-header"
            });


        });

    </script>
}
