﻿@model PagedList.IPagedList<SiteBMS.ViewModels.ClientViewModel>
@using System.Web.Mvc.Html
@using PagedList.Mvc

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Cumul Modal HTML -->
<div id="cumulModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <!-- Content will be loaded here from "cumul" controller -->
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-6">
        @ViewBag.GSeconds 
    </div>
    <div class="col-md-6">
       @ViewBag.Seconds
    </div>

</div>*@
<div class="row">

    <div class="col-xs-12">
        
        <div class="x_panel user-icon">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a data-toggle="tooltip" data-placement="top" title="Customer List" href="@Url.Action("Index", "Clients")"><i class="fa fa-bars"></i> @Resources.Customers</a>
                </h2>

                <!--- FILTER BAR -->
                @using (Html.BeginForm("Index", "Clients", FormMethod.Get, new { @class = "navbar-form navbar-right form-inline", role = "form" }))
                {

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="input-group" style="width: 100%;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default pull-right"
                                            onclick="document.getElementById('refDistributeur').value = ''; window.location.href = '/Clients?refLangue=@ViewBag.RefLangue';">
                                        <i class="fa fa-times" style="color: lightgrey;"></i>
                                    </button>
                                </span>
                                @Html.DropDownList("refDistributeur", (IEnumerable<SelectListItem>)ViewBag.DDLDistributeur, Resources.DistributorS,
                                        new { @class = "form-control", @onchange = "ChangeDistributeur()", @style = "width:100%;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group" style="width: 100%;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default pull-right"
                                            onclick="document.getElementById('refLangue').value = ''; window.location.href = '/Clients?refDistributeur=@ViewBag.RefDistributeur';">
                                        <i class="fa fa-times" style="color: lightgrey;"></i>
                                    </button>
                                </span>
                                @Html.DropDownList("refLangue", (IEnumerable<SelectListItem>)ViewBag.DDLPays, Resources.Country,
                                    new { @class = "form-control", @onchange = "ChangeLanguage()", @style = "width:100%;" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group" style="width:100%;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default pull-right"
                                            onclick="document.getElementById('SearchString').value = '';
                                            window.location.href = '/Clients?refLangue=@ViewBag.RefLangue&refDistributeur=@ViewBag.RefDistributeur';">
                                        <i class="fa fa-times" style="color: lightgrey;"></i>
                                    </button>
                                </span>
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = Resources.Search, @style = "width:100%;" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group">
                                <a class="form-control btn btn-success" href="Clients/Create" role="button"><i class="fa fa-user"></i> @Resources.Add</a>
                            </div>
                        </div>
                    </div>

                }
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row-fluid">
                            <div class="table-responsive">

                                <table class="table table-striped table-bordered dataTable" id="clientDatatable" style="width:100%;">
                                    <thead>
                                        <tr class="row">

                                            <th class="col-md-2-5 col-sm-3 sorting">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Nom).ToHtmlString()), "Index",
                                                    new { sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue, refDistributeur = ViewBag.RefDistributeur })
                                            </th>

                                            <th class="col-md-2 col-sm-2">
                                                @HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Prenom).ToHtmlString())
                                            </th>

                                            <th class="col-md-1-5 col-sm-1 sorting">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().CodePostal).ToHtmlString()), "Index",
                                                    new { sortOrder = ViewBag.CodePostalSortParm, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue, refDistributeur = ViewBag.RefDistributeur })
                                            </th>

                                            <th class="col-md-2 col-sm-2">
                                                @HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Ville).ToHtmlString())
                                            </th>

                                            <th class="col-md-1 col-sm-1 sorting">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Pays).ToHtmlString()), "Index",
                                                    new { sortOrder = ViewBag.PaysSortParm, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue, refDistributeur = ViewBag.RefDistributeur })
                                            </th>

                                            <th class="col-md-1 col-sm-1">
                                                @HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().NbrParcelles).ToHtmlString())
                                            </th>

                                            <th class="col-md-1 col-sm-1 sorting">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayName(model => model.First().DatCreat)), "Index",
                                                    new { sortOrder = ViewBag.DateCreated, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue, refDistributeur = ViewBag.RefDistributeur })
                                            </th>

                                            @if (Request.IsAuthenticated)
                                            {
                                                <th class="col-md-1 col-sm-1">&nbsp;</th>
                                            }
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                        <tr class="row capitalize">
                                            <td>
                                                @if (item.UserCount > 0)
                                                {
                                                    <span class="user-count"><i class="fa fa-user"></i>&nbsp;@item.UserCount@*<span>0</span>*@</span>
                                                }

                                                <!-- if the user is the creator of the item, view the edit icon in the button -->
                                                @if (item.IDUserCreat == User.UserId || User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien, RoleType.Distributeur }))
                                                {
                                                    <a class="bolder-name"
                                                       href="@Url.Action("Details", "Clients", new { id = item.ID, page = Model.PageNumber})"
                                                       role="button"><i class="fa fa-pencil pull-right" aria-hidden="true"></i>&nbsp;@Html.DisplayFor(modelItem => item.Nom)</a>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(item.Nom, "Details", new { id = item.ID, page = Model.PageNumber }, new { @class = "bolder-name" })
                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Prenom, new { @class = "form-control" })
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CodePostal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ville)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Pays)
                                            </td>

                                            <td>
                                                @if (item.NbrParcelles > 0)
                                                {
                                                    <a class="btn btn-success btn-xs btn-block"
                                                       href="@Url.Action("List", "Parcelles", new {id = item.ID, page = Model.PageNumber})">@item.NbrParcelles</a>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(Resources.Add, "Create", "Parcelles", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-default btn-xs center-block" })
                                                }
                                            </td>
                                            <td>
                                                @item.DatCreat.ToShortDateString()
                                            </td>

                                            @if (Request.IsAuthenticated)
                                            {
                                                <td>
                                                    @if (item.hasCumul == true)
                                                    {
                                                        <a class="btn btn-info btn-xs btn-block"
                                                           href="@Url.Action("Index", "Cumul", new { id = item.ID, cumulType = 1, page = Model.PageNumber })"
                                                           data-toggle="modal" data-target="#cumulModal" role="button">@Resources.Cumulative</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-default btn-xs btn-block" disabled="disabled" href="javascript:void(0);" readonly="readonly">@Resources.Cumulative</a>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>

                        <!-- PAGINATION -->
                        <!-- https://github.com/troygoode/PagedList -->
                        <!-- http://demo.taiga.nl/mvcpaging -->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="page-count-pagination">
                                    @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="custom-pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index",
                                   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue, refDistributeur = ViewBag.RefDistributeur }),
                                                new PagedListRenderOptions
                                                {
                                                    LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i>",
                                                    LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> " + Resources.Previous,
                                                    LinkToNextPageFormat = Resources.Next +" <i class='fa fa-angle-right'></i>",
                                                    LinkToLastPageFormat = "<i class='fa fa-angle-double-right'></i>"
                                                })
                                </div>
                            </div>
                        </div>
                        <!--/*PAGINATION-->
                        <div class="row">
                            <div class="col-md-2"><i class="fa fa-user" style="color:#169f85;"></i>&nbsp;@Resources.NumberOfUsers</div>
                            <div class="col-md-2"><i class="fa fa-pencil"></i>&nbsp;@Resources.Editable</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/css/print.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#cumulModal").on('hidden.bs.modal', function () {
                $(this).removeData();
                $(this).removeData('bs.modal');
            });
        });

        function PrintModal() {
            window.print();
        }

        function ChangeYear() {
            var year = $("#year").val();
            if (year.length > 0) {

                var id = $("#id_cumul").val();

                var url = "/Cumul/Index/" + id + "?cumulType=1&year=" + year;
                $.get(url, function (data) {
                    $('#modalContent').html(data);
                    $('#cumulModal').modal('show');
                });
            }
        }

        function ChangeLanguage() {
            var langue = $("#refLangue").val();
            window.location.href = "/Clients?refLangue=" + langue + "&refDistributeur=@ViewBag.RefDistributeur";
        }

        function ChangeDistributeur() {
            var id = $("#refDistributeur").val();
            window.location.href = "/Clients?refDistributeur=" + id + "&refLangue=@ViewBag.RefLangue";
        }
    </script>
}