﻿@model SiteBMS.ViewModels.UtilisateurViewModel
    
@{
    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    var state = Model.ID == 0 ? Resources.AddNewUser : Resources.Edit;
}

<div class="modal-header" onmouseover="this.style.cursor = 'move';" onmouseout="this.style.cursor = 'default';" >
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">@state</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-xs-12">

            @using (Html.BeginForm("UpdateUtilisateur", "Utilisateurs", null, FormMethod.Post, new { id = "editUserForm", @class = "form-horizontal form-label-left", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.IsActive)
                @Html.HiddenFor(model => model.RefId)
                @Html.HiddenFor(model => model.RefRole)
                @Html.HiddenFor(model => model.Origin)

                <!-- INFORMATION PERSONNEL -->
                <div class="x_panel">
                    <div class="x_title">
                        <div class="col-md-10 col-sm-10">
                            <h4 style="font-size:16px"><i class="fa fa-user"></i> @Resources.PersonalInfos</h4>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <h5 class="pull-right">

                                @if (Model.IsActive)
                                { <span style="color:#169F85 !important"><i class="fa fa-info"></i> @Resources.Activated</span>}
                                else
                                { <span style="color:#d43f3a !important"><i class="fa fa-info"></i> @Resources.Deactivated</span>}
                            </h5>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div class="form-group">
                            <!-- NAME -->
                            @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                            <div class="col-md-4 col-sm-10">
                                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Name } })
                                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                            </div>
                            <!-- FIRST NAME -->
                            @Html.LabelFor(model => model.Prenom, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                            <div class="col-md-4 col-sm-10">
                                @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.FirstName } })
                                @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- EMAIL -->
                            @Html.LabelFor(model => model.Email, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                            <div class="col-md-4 col-sm-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Email } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <!-- LANGUAGE -->
                            @Html.LabelFor(model => model.RefLangue, new { @class = "control-label col-md-2 col-sm-2" })
                            <div class="col-md-4 col-sm-10">
                                @Html.DropDownListFor(model => model.RefLangue, ViewBag.DLLanguages as SelectList, Resources.Language,
                                            new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RefLangue, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

               <!-- INFORMATION COMPTE -->
                <div class="x_panel">
                    <div class="x_title">
                        <h4 style="font-size:16px"><i class="fa fa-sign-in"></i> @Resources.ConnectionInformation</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <!-- LOGIN -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Login, null, required, new { @class = "control-label col-md-5 col-sm-5" })
                            <div class="col-md-4 col-sm-7">
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.UserName } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- PASSWORD -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, null, required, new { @class = "control-label col-md-5 col-sm-5" })
                            <div class="col-md-4 col-sm-7">
                                <div class="input-group">
                                    @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", value = Model.PassWord })
                                    <div id="clearPassword" class="form-control"></div>
                                    <div class="input-group-addon btn" id="show-password"
                                         onmousedown="DisplayPassword($(this), 'PassWord', 'clearPassword');"
                                         onmouseup="HiddePassword('clearPassword');">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- CONFIRM PASSWORD -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, null, required, new { @class = "control-label col-md-5 col-sm-5" })
                            <div class="col-md-4 col-sm-7">
                                <div class="input-group">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", value = Model.PassWord })
                                    <div id="clearConfirmPassword" class="form-control"></div>
                                    <div class="input-group-addon btn" id="show-confirm"
                                         onmousedown="DisplayPassword($(this), 'ConfirmPassword', 'clearConfirmPassword');"
                                         onmouseup="HiddePassword('clearConfirmPassword');">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- BUTTONS -->
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" onclick="document.getElementById('editUserForm').submit();">@Resources.Save</button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">@Resources.Cancel</button>
</div>
