﻿@model SiteBMS.ViewModels.UtilisateurViewModel

@{
    var display = (@Model.RefRole == 3) ? "block" : "none";
}

@Html.HiddenFor(model => model.Technicien.ID)
@Html.HiddenFor(model => model.Technicien.IsActive)

<div class="x_panel " id="technicien-panel" style="display:@display">
    <div class="x_title">
        <h2>Informations Technicien</h2>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <div class="form-group">
            @Html.LabelFor(model => model.Technicien.Tel1, null, null, new { @class = "control-label col-md-2-5" })
            <div class="col-md-3-5">
                @Html.EditorFor(model => model.Technicien.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Technicien.Tel1, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Technicien.Tel2, null, null, new { @class = "control-label col-md-2-5" })
            <div class="col-md-3-5">
                @Html.EditorFor(model => model.Technicien.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Technicien.Tel2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Technicien.Fax, null, null, new { @class = "control-label col-md-2-5" })
            <div class="col-md-3-5">
                @Html.EditorFor(model => model.Technicien.Fax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Technicien.Fax, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Technicien.RefComboPays, null, null, new { @class = "control-label col-md-2-5" })
            <div class="col-md-3-5">
                @Html.DropDownListFor(model => model.Technicien.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.DDLPays, "-Choix Pays-",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Technicien.RefComboPays, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Technicien.RefRespZone, null, null, new { @class = "control-label col-md-2-5" })
            <div class="col-md-3-5">
                @Html.DropDownListFor(model => model.Technicien.RefRespZone, ViewBag.DLLResponsables as SelectList, "-Choix Responsable-",
               new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Technicien.RefRespZone, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

