﻿@model SiteBMS.ViewModels.UtilisateurViewModel

@{
    ViewBag.Title = Resources.NewAccount;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;

    // activate account by default
    Model.IsActive = true;
    Model.Technicien.IsActive = true;
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("Index", "Utilisateurs", new {page = ViewBag.Page})"><i class="fa fa-bars"></i> @Resources.UserS</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

                    @using (Html.BeginForm("Create", "Utilisateurs", new { page = ViewBag.Page }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <!-- INFORMATION PERSONNELLES -->
                        <div class="x_panel">
                            <div class="x_title">
                                @*<h2>Informations personnelles</h2>*@
                                <h4 style="font-size:16px"><i class="fa fa-user"></i> @Resources.PersonalInfos</h4>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="x_content">

                                    <div class="form-group">
                                        <!-- NAME -->
                                        @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                                        <div class="col-md-4 col-sm-10">
                                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Name } })
                                            @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- FIRST NAME -->
                                        @Html.LabelFor(model => model.Prenom, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                                        <div class="col-md-4 col-sm-10">
                                            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.FirstName } })
                                            @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- EMAIL -->
                                        @Html.LabelFor(model => model.Email, null, required, new { @class = "control-label col-md-2 col-sm-2" })
                                        <div class="col-md-4 col-sm-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Email } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- LANGUAGE -->
                                        @Html.LabelFor(model => model.RefLangue, new { @class = "control-label col-md-2 col-sm-2" })
                                        <div class="col-md-4 col-sm-10">
                                            @Html.DropDownListFor(model => model.RefLangue, ViewBag.DLLanguages as SelectList, Resources.Language,
                                            new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RefLangue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- INFORMATION COMPTE -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                @*<h2>Compte</h2>*@
                                <h4 style="font-size:16px"><i class="fa fa-sign-in"></i> @Resources.ConnectionInformation</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- LOGIN -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Login, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.UserName } })
                                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- PASSWORD -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PassWord, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
                                            <div id="clearPassword" class="form-control"></div>
                                            <div class="input-group-addon btn" id="show-password">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- CONFIRM PASSWORD -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                            <div id="clearConfirmPassword" class="form-control"></div>
                                            <div class="input-group-addon btn" id="show-confirm">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- ROLES -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefRole, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.RefRole, (IEnumerable<SelectListItem>)ViewBag.DDLRefRole, @Resources.Role,
                                            new { @class = "form-control" })
                                        @*@onchange = "ToggleTechnicien(this);"*@
                                        @Html.ValidationMessageFor(model => model.RefRole, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- ISACTIVE -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-4" })
                                    <div class="col-md-2">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.IsActive, true, new { id = "oui" }) @Resources.Yes
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.IsActive, false, new { id = "non" }) @Resources.No
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>

                                <!-- TECHNICIENS -->
                        <div class="x_panel " id="technicien-panel">
                            @*style="display:@display"*@
                            <div class="x_title">
                                <h4><i class="fa fa-info"></i> @Resources.InfoTechnician</h4>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Technicien.Tel1, null, null, new { @class = "control-label col-md-2-5" })
                                    <div class="col-md-3-5">
                                        @Html.EditorFor(model => model.Technicien.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Technicien.Tel1, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.Technicien.Tel2, null, null, new { @class = "control-label col-md-2-5" })
                                    <div class="col-md-3-5">
                                        @Html.EditorFor(model => model.Technicien.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Technicien.Tel2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Technicien.Fax, null, null, new { @class = "control-label col-md-2-5" })
                                    <div class="col-md-3-5">
                                        @Html.EditorFor(model => model.Technicien.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Technicien.Fax, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.LabelFor(model => model.Technicien.RefComboPays, null, null, new { @class = "control-label col-md-2-5" })
                                    <div class="col-md-3-5">
                                        @Html.DropDownListFor(model => model.Technicien.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.DDLPays, @Resources.Country,
                                        new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Technicien.RefComboPays, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Technicien.RefRespZone, null, null, new { @class = "control-label col-md-2-5" })
                                    <div class="col-md-3-5">
                                        @Html.DropDownListFor(model => model.Technicien.RefRespZone, ViewBag.DLLResponsables as SelectList, @Resources.InChargeOf,
                                        new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Technicien.RefRespZone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BUTTON -->
                        <div class="form-group x_panel">
                            <label class="control-label col-md-4">&nbsp;&nbsp;</label>
                            <div class="col-md-2">
                                <button type="submit" class="form-control btn btn-success btn-block">@Resources.Save</button>
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink(Resources.Cancel, "Index", new { page = ViewBag.Page }, new { @class = "form-control btn btn-primary btn-block" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <style type="text/css">
        #ConfirmPassword, #password {
            z-index: 0;
        }

        #clearPassword, #clearConfirmPassword {
            display: none;
            position: absolute;
            z-index: 100;
        }
    </style>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/password")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current user menu item
            $("#title-user").addClass("active");
            $("#menu-user").show();


            $("#show-password").mousedown(function () {
                DisplayPassword($(this), "PassWord", "clearPassword");
            });

            $("#show-password").mouseup(function () {
                HiddePassword("clearPassword");
            });

            $("#show-confirm").mousedown(function () {
                DisplayPassword($(this), "ConfirmPassword", "clearConfirmPassword");
            });

            $("#show-confirm").mouseup(function () {
                HiddePassword("clearConfirmPassword");
            });
        });

        function ToggleTechnicien(obj) {
            if (obj.selectedIndex === 3 /* index of technicien role */) {
                $("#technicien-panel").show();
            } else {
                $("#technicien-panel").hide();
            }
        }


    </script>


}
