﻿@model SiteBMS.ViewModels.UtilisateurViewModel
@{
    ViewBag.Title = Resources.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    //var referrer = Request.UrlReferrer;
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    @if (!User.IsAuthorized(RoleType.Client))
                    {
                        <a href="@Url.Action("Index", "Utilisateurs", new {page = ViewBag.Page})"><i class="fa fa-bars"></i> @Resources.UserS</a>
                        <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    }
                    @ViewBag.Title
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

                    <div class="form-horizontal">

                        <input type="hidden" name="referer" value="@Request.UrlReferrer.LocalPath" />

                        <!-- INFORMATION PERSONNEL -->
                        <div class="x_panel">
                            <div class="x_title">

                                <div class="col-md-10 col-sm-10">
                                    <h4 style="font-size:16px"><i class="fa fa-user"></i> @Resources.PersonalInfos</h4>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <h5 class="pull-right">

                                        @if (Model.IsActive)
                                        { <span style="color:#169F85 !important"><i class="fa fa-info"></i> @Resources.Activated</span>}
                                        else
                                        { <span style="color:#d43f3a !important"><i class="fa fa-info"></i> @Resources.Deactivated</span>}
                                    </h5>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="x_content">

                                    <div class="form-group">
                                        <!-- NAME -->
                                        @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control",  @disabled = "disabled" } })
                                        </div>
                                        <!-- FIRST NAME -->
                                        @Html.LabelFor(model => model.Prenom, null, required, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control",  @disabled = "disabled" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <!-- EMAIL -->
                                        @Html.LabelFor(model => model.Email, null, required, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <!-- LANGUAGE -->
                                        @Html.LabelFor(model => model.RefLangue, new { @class = "control-label col-md-2" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.RefLangue, ViewBag.DLLanguages as SelectList,
                                            new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- INFORMATION COMPTE -->
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <h4 style="font-size:16px"><i class="fa fa-sign-in"></i> @Resources.ConnectionInformation</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- LOGIN -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Login, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                    </div>
                                </div>

                                @if (Model.ID == User.UserId || User.IsAuthorized(RoleType.Pdg))
                                {
                                <!-- PASSWORD -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.PassWord, null, required, new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", value = Model.PassWord, @disabled = "disabled" })
                                                <div id="clearPassword" class="form-control"></div>
                                                <div class="input-group-addon btn" id="show-password">
                                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (!User.IsAuthorized(RoleType.Client))
                                {
                                <!-- ROLES -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RefRole, null, required, new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.RefRole, (IEnumerable<SelectListItem>)ViewBag.DDLRefRole,
                                            new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>

                                <!-- TECHNICIENS -->
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.RefId, new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.RefId, (IEnumerable<SelectListItem>)ViewBag.DLLRefId,
                                            new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>*@

                                <!-- responsable -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Technicien.RefRespZone, null, null, new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.Technicien.RefRespZone, ViewBag.DLLResponsables as SelectList, @Resources.InChargeOf,
                                        new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- BUTTON -->
                        <div class="form-group x_panel">
                            <label class="control-label col-md-4">&nbsp;&nbsp;</label>
                            <div class="col-md-2">
                                <a class="form-control btn btn-success btn-sm btn-block"
                                   href="@Url.Action("Edit", "Utilisateurs", new {id=Model.ID, page = ViewBag.Page})">@Resources.Edit</a>
                            </div>
                            <div class="col-md-2">
                                <!-- Only PDG can view all users BMS account -->
                                @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                                {
                                    <!-- RETURN TO UTILISATEURS LIST -->
                                    <a class="form-control btn btn-primary btn-sm btn-block"
                                       href="@Url.Action("Index", "Utilisateurs", new {page = ViewBag.Page })">@Resources.Cancel</a>
                                }
                                else
                                {
                                    <a class="form-control btn btn-primary btn-sm btn-block" href="@Url.Action("Index", "Home")">Annuler</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <style type="text/css">
        #ConfirmPassword, #password {
            z-index: 0;
        }

        #clearPassword, #clearConfirmPassword {
            display: none;
            position: absolute;
            z-index: 100;
        }
    </style>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/password")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current user menu item
            $("#title-user").addClass("active");
            $("#menu-user").show();


            $("#show-password").mousedown(function () {
                DisplayPassword($(this), "PassWord", "clearPassword");
            });

            $("#show-password").mouseup(function () {
                HiddePassword("clearPassword");
            });
        });
    </script>


}
