﻿@model SiteBMS.ViewModels.UtilisateurViewModel
@{
    ViewBag.Title = Resources.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    var referrer = Request.UrlReferrer?.LocalPath ?? "";
    // int refId = Model.RefId;
    //var authorized = User.IsAuthorized(RoleType.pdg)
    var rolesAuthorized = new[] { (int)RoleType.Pdg, (int)RoleType.ResponsableZone, (int)RoleType.Technicien };

}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    @if (!User.IsAuthorized(RoleType.Client))
                    {
                        <a href="@Url.Action("Index", "Utilisateurs", new {page = ViewBag.Page})"><i class="fa fa-bars"></i> @Resources.UserS</a>
                        <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    }
                    @ViewBag.Title
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">

                    @using (Html.BeginForm("Edit", "Utilisateurs", new { page = ViewBag.Page }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.RefId)
                        @Html.HiddenFor(model => model.Technicien.ID)
                        @Html.HiddenFor(model => model.Technicien.IsActive)
                        @Html.HiddenFor(model => model.IsActive)

                        <input type="hidden" name="referer" value="@referrer" />

                        // Hidden field if user cannot change role for utilisateur
                        if (!rolesAuthorized.Contains(Model.RefRole))
                        {
                            @Html.HiddenFor(model => model.RefRole)
                        }

                        <!-- INFORMATION PERSONNEL -->
                        <div class="x_panel">
                            <div class="x_title">
                                <div class="col-md-8 col-sm-8">
                                    <h4 style="font-size:16px"><i class="fa fa-user"></i> @Resources.PersonalInfos</h4>
                                </div>
                                <div class="col-md-4 col-sm-4">

                                    <!-- SWITCH BUTTON IS ACTIVE -->
                                    <div class="form-group">
                                        <div class="pull-right">
                                            @if (!User.IsAuthorized(new[] { RoleType.Client, RoleType.Distributeur }))
                                            {
                                                <label class="col-md-4 col-md-offset-2">@Resources.Activated &nbsp;&nbsp;</label>
                                                <div class="col-md-6 col-sm-6">

                                                    <input type="checkbox" name="checkActive" id="checkActive"
                                                           data-size="mini"
                                                           data-on-text="@Resources.Yes" data-off-text="@Resources.No"
                                                           data-on-color="success" data-off-color="danger"
                                                           value="@{Html.Raw(Model.IsActive ? "true" : "false");}">
                                                </div>
                                            }
                                            else
                                            {
                                                if (Model.IsActive)
                                                { <span style="color:#169F85 !important"><i class="fa fa-info"></i> @Resources.Activated</span>}
                                                else
                                                { <span style="color:#d43f3a !important"><i class="fa fa-info"></i> @Resources.Deactivated</span>}
                                            }
                                        </div>
                                        <!-- pull right -->
                                    </div>


                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    <!-- NAME -->
                                    @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Name } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- FIRST NAME -->
                                    @Html.LabelFor(model => model.Prenom, null, required, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Prenom, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.FirstName } })
                                        @Html.ValidationMessageFor(model => model.Prenom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- EMAIL -->
                                    @Html.LabelFor(model => model.Email, null, required, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Email } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- LANGUAGE -->
                                    @Html.LabelFor(model => model.RefLangue, new { @class = "control-label col-md-2" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.RefLangue, ViewBag.DLLanguages as SelectList,
                                            new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RefLangue, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- INFORMATION COMPTE -->
                        <div class="x_panel">
                            <div class="x_title">
                                <h4 style="font-size:16px"><i class="fa fa-sign-in"></i> @Resources.ConnectionInformation</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- LOGIN -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Login, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.UserName } })
                                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- PASSWORD -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PassWord, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control", value = Model.PassWord })
                                            <div id="clearPassword" class="form-control"></div>
                                            <div class="input-group-addon btn" id="show-password">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- CONFIRM PASSWORD -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassword, null, required, new { @class = "control-label col-md-4" })
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", value = Model.PassWord })
                                            <div id="clearConfirmPassword" class="form-control"></div>
                                            <div class="input-group-addon btn" id="show-confirm">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                                <!--
                                PDG
                                Responsable
                                Technicien
                                    && Model.RefRole == (int)RoleType.Technicien

                                -->
                                @if (rolesAuthorized.Contains(Model.RefRole))
                                {
                                <!-- ROLES -->
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.RefRole, null, required, new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(model => model.RefRole, ViewBag.DDLRefRole as SelectList, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RefRole, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                <!-- ISACTIVE -->
                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-4" })
                                            <div class="col-md-2">
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(model => model.IsActive, true, new { id = "oui" }) Oui
                                                </label>
                                                <label class="radio-inline">
                                                    @Html.RadioButtonFor(model => model.IsActive, false, new { id = "non" }) Non
                                                </label>
                                            </div>
                                        </div>*@
                                }
                            </div>
                        </div>

                    <!-- INFOS TECHNICIEN -->
    if (rolesAuthorized.Contains(Model.RefRole))
    {
        <div class="x_panel " id="technicien-panel">
            @*style="display:@display"*@
            <div class="x_title">
                <h4><i class="fa fa-info"></i> @Resources.InfoTechnician</h4>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="form-group">
                    @Html.LabelFor(model => model.Technicien.Tel1, null, null, new { @class = "control-label col-md-2-5" })
                    <div class="col-md-3-5">
                        @Html.EditorFor(model => model.Technicien.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Technicien.Tel1, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Technicien.Tel2, null, null, new { @class = "control-label col-md-2-5" })
                    <div class="col-md-3-5">
                        @Html.EditorFor(model => model.Technicien.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Technicien.Tel2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Technicien.Fax, null, null, new { @class = "control-label col-md-2-5" })
                    <div class="col-md-3-5">
                        @Html.EditorFor(model => model.Technicien.Fax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Technicien.Fax, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.Technicien.RefComboPays, null, null, new { @class = "control-label col-md-2-5" })
                    <div class="col-md-3-5">
                        @Html.DropDownListFor(model => model.Technicien.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.DDLPays, @Resources.Country,
                                        new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Technicien.RefComboPays, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Technicien.RefRespZone, null, null, new { @class = "control-label col-md-2-5" })
                    <div class="col-md-3-5">
                        @Html.DropDownListFor(model => model.Technicien.RefRespZone, ViewBag.DLLResponsables as SelectList, @Resources.InChargeOf,
                                        new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Technicien.RefRespZone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    }

                        <!-- BUTTONS -->
    <div class="x_panel">

        <div class="x_content">
            <div class="form-group">
                <div class="col-md-2 col-md-offset-4">
                    <button type="submit" class="form-control btn btn-success btn-sm btn-block">@Resources.Save</button>
                </div>
                <div class="col-md-2">
                    <a class="form-control btn btn-primary  btn-sm btn-block" href="@referrer">@Resources.Return</a>
                </div>
            </div>
        </div>
    </div>
    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/password")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current user menu item
            $("#title-user").addClass("active");
            $("#menu-user").show();

            // slide button isactive
            var isactive = ("@Model.IsActive" === "True") ? true : false;
            $('input[name="checkActive"]').bootstrapSwitch('state', isactive, true);

            $('input[name="checkActive"]').on('switchChange.bootstrapSwitch', function (event, state) {
                this.value = state;
                $("#IsActive").val(state);
            });

            $("#show-password").mousedown(function () {
                DisplayPassword($(this), "PassWord", "clearPassword");
            });

            $("#show-password").mouseup(function () {
                HiddePassword("clearPassword");
            });

            $("#show-confirm").mousedown(function () {
                DisplayPassword($(this), "ConfirmPassword", "clearConfirmPassword");
            });

            $("#show-confirm").mouseup(function () {
                HiddePassword("clearConfirmPassword");
            });
        });

        function ToggleTechnicien(obj) {
            if (obj.selectedIndex === 2 /* index of technicien role */) {
                $("#technicien-panel").show();
            } else {
                $("#technicien-panel").hide();
            }
        }
    </script>
}
