﻿@model PagedList.IPagedList<SiteBMS.ViewModels.UtilisateurViewModel>

@using System.Web.Mvc.Html
@using PagedList.Mvc

@{
    ViewBag.Title = Resources.UserS;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("Index", "Utilisateurs")"><i class="fa fa-bars"></i> @Resources.UserS</a>
                </h2>
                @using (Html.BeginForm("Index", "Utilisateurs", FormMethod.Get, new { @class = "navbar-form navbar-right form-inline", role = "form" }))
                {
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <div class="input-group" style="margin-right: 8px">
                                @Html.DropDownList("refLangue", (IEnumerable<SelectListItem>)ViewBag.DDLLangues, Resources.Language,
                                    htmlAttributes: new { @class = "form-control", @onchange = "ChangeLanguage()" })
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            onclick="document.getElementById('SearchString').value = ''; window.location.href = '/Utilisateurs?refLangue=@ViewBag.RefLangue';">
                                        <i class="fa fa-times" style="color: lightgrey;"></i>
                                    </button>
                                </span>
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = Resources.Search })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>

                        </li>
                        <li>
                            <div class="input-group">
                                <a class="form-control btn btn-success" href="Utilisateurs/Create" role="button"><i class="fa fa-user"></i> @Resources.Add</a>
                            </div>
                        </li>
                    </ul>
                }

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">

                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>
                                            <th class="sorting col-md-2 col-sm-2" aria-controls="datatable">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Nom).ToHtmlString()), "Index",
                                                new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue })
                                            </th>

                                            <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                @HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Prenom).ToHtmlString())
                                            </th>

                                            <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                @HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().RoleUtilisateurs.Name).ToHtmlString())
                                            </th>

                                            <th class="sorting  col-md-2 col-sm-2" aria-controls="datatable">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().LangueName).ToHtmlString()), "Index",
                                                new { sortOrder = ViewBag.PaysSortParm, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue })
                                            </th>

                                            <th class="col-md-1 col-sm-1" aria-controls="datatable" style="text-align: center">
                                                @Html.DisplayNameFor(model => model.First().IsActive)
                                            </th>
                                            <th class="col-md-1 col-sm-2" aria-controls="datatable">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="capitalize">
                                            <td>
                                                @Html.ActionLink(item.Nom, "Details", new { id = item.ID, page = Model.PageNumber }, new { @class = "bolder-name" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Prenom, new { @class = "form-control" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RoleUtilisateurs.Name)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.LangueName)
                                            </td>
                                            <td>

                                                @{
                                                    var color = item.IsActive ? "fa-check text-success" : "fa-times text-danger";
                                                }
                                                <div style="text-align: center"><i class="fa @color"></i></div>

                                            </td>
                                            <td>
                                                @if (Request.IsAuthenticated)
                                                {
                                                    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                                                        @*@Html.ActionLink("Modifier", "Edit", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-info btn-xs", @role = "button" })*@
                                                        @Html.ActionLink(Resources.Detail, "Details", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-default btn-sm btn-xs", @role = "button" })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <span>&nbsp;</span>
                                                }
                                            </td>
                                        </tr>
                                                    }
                                </table>
                            </div>
                        </div>

                        <!-- PAGINATION -->
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="page-count-pagination">
                                    @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="custom-pagination">
                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue }),
                                            new PagedListRenderOptions
                                            {
                                                LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i>",
                                                 LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> " + Resources.Previous,
                                                LinkToNextPageFormat = Resources.Next +" <i class='fa fa-angle-right'></i>",
                                                LinkToLastPageFormat = "<i class='fa fa-angle-double-right'></i>"
                                            })
                                </div>
                            </div>
                        </div>
                        <!--/*PAGINATION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        function ChangeLanguage() {
            var langue = $("#refLangue").val();
            window.location.href = "/Utilisateurs?refLangue=" + langue;
        }
    </script>
}