﻿@model SiteBMS.Models.LoginViewModel
@{
    ViewBag.Title = "BMS Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BMS Login</title>
    @Styles.Render("~/Content/general")
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/login")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/ieSupport")
    <![endif]-->
</head>
<body class="login-img3-body">

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", id = "form-pdg" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="login-wrap">
                        <p>Pdg</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input autofocus="autofocus" class="form-control" data-val="true" id="Username" name="Username" placeholder="Nom d'utilisateur" type="text" value="pdg">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input class="form-control" data-val="true" id="Password" name="Password" type="password" value="pm">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <label class="checkbox">

                            <input name="RememberMe" type="hidden" value="false">

                        </label>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" autofocus="autofocus">Login</button>
                    </div>
                }
            </div>
            <div class="col-md-2">
                @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", id = "form-responsable" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="login-wrap">
                        <p>Responsable</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input autofocus="autofocus" class="form-control" data-val="true" id="Username" name="Username" placeholder="Nom d'utilisateur" type="text" value="hans">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input class="form-control" data-val="true" id="Password" name="Password" type="password" value="hans9960">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <label class="checkbox">

                            <input name="RememberMe" type="hidden" value="false">

                        </label>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" autofocus="autofocus">Login</button>
                    </div>
                }
            </div>
            <div class="col-md-2">
                @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", id = "form-tech" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="login-wrap">
                        <p>Technicien</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input autofocus="autofocus" class="form-control" data-val="true" id="Username" name="Username" placeholder="Nom d'utilisateur" type="text" value="tech">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input class="form-control" data-val="true" id="Password" name="Password" type="password" value="pm">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <label class="checkbox">

                            <input name="RememberMe" type="hidden" value="false">

                        </label>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" autofocus="autofocus">Login</button>
                    </div>
                }
            </div>

            <div class="col-md-2">
                @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", id = "form-distributeur" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="login-wrap">
                        <p>Distributeur</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input autofocus="autofocus" class="form-control" data-val="true" id="Username" name="Username" placeholder="Nom d'utilisateur" type="text" value="distributeur">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input class="form-control" data-val="true" id="Password" name="Password" type="password" value="pm">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <label class="checkbox">

                            <input name="RememberMe" type="hidden" value="false">

                        </label>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" autofocus="autofocus">Login</button>
                    </div>
                }
            </div>

            <div class="col-md-2">
                @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", id = "form-client" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="login-wrap">
                        <p>Client</p>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_profile"></i></span>
                            <input autofocus="autofocus" class="form-control" data-val="true" id="Username" name="Username" placeholder="Nom d'utilisateur" type="text" value="ClientUserTest">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                            <input class="form-control" data-val="true" id="Password" name="Password" type="password" value="pm">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>
                        <label class="checkbox">

                            <input name="RememberMe" type="hidden" value="false">

                        </label>
                        <button class="btn btn-primary btn-lg btn-block" type="submit" autofocus="autofocus">Login</button>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>