﻿@model SiteBMS.Models.LoginViewModel
@{
    ViewBag.Title = "BMS Login";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BMS Login</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/ieSupport")
    <![endif]-->
</head>
<body class="login-img3-body">
    <div class="container">

        @using (Html.BeginForm("Index", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" , id="form-pdg"}))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="login-wrap">
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    @Html.TextBoxFor(m => m.Username, new
               {
                   @class = "form-control",
                   @autofocus = "autofocus",
                   @value = "tech",
                   @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(n => n.Username).ToHtmlString())
               })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    @Html.PasswordFor(m => m.Password, new
               {
                   @class = "form-control",
                   @value = "pm",
                   @placeholder = HttpUtility.HtmlDecode(Html.DisplayNameFor(m => m.Password).ToHtmlString())
               })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit" autofocus="autofocus">Login</button>
            </div>
        }
    </div>
</body>
</html>