table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 20%;
  text-align: center;
  vertical-align: top;
}

table tr th {
    text-align:center;
    font-size:1.1em;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 0 !important;
  background-color: #fff;
  border: 0!important;
  border-radius: 0!important;
}

.thumbnail .caption {
  padding: 2px;
  color: #73879C;
}

.thumbnail .caption h5 { 
    text-transform: capitalize !important;
    color: #73879C; 
  font-size: 12px;
  font-weight: bold;
  margin: 0.4em;

}

.thumbnail img {
    width:80%;
}


.panel {
  margin-bottom: 0px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
}

.panel-heading {
  padding: 2px 10px;
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin: 0;
    padding-right: 2px;
}


.x_title span {
    padding: 0px 4px;
}

span.glyphicon.tool-icon {
  font-size: 0.8em;
}

nav.nav-toolbar.navbar.navbar-default {
  border: 0;
}

.table>tbody>tr>td {
  padding: 0 !important;
}

.row.row-panel {
  border-top: 1px solid #E6E9ED;
  margin: 0;
  border-bottom: 1px solid #E6E9ED;
}

.row.row-panel .col-md-12 {
  padding: 0;
}

.row.row-panel .x_panel {
  border: 0;
  padding: 0;
  margin: 0;
}

.row.row-panel.plus {
  border-bottom-color: #fff;
  background-color: #fff !important;
}


.panel_toolbox > li > a {
  color: #347798;
}

.x_title h5 {
  text-transform: capitalize;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.85em;
  /*padding-left: 4px;*/
  font-weight: bold;
}

.panel_toolbox {
  float: right;
  min-width:0;
}


.panel_toolbox > li {
  float: right;
  cursor: pointer;
}

.panel-body {
  padding: 1px;
}

.heading-plus {
  border: 0 !important;
}

.panel_toolbox > li > a > i {
  font-size: 0.85em;
}

/* PRINT SECTION */

@media screen {
    #printSection{ display: none; }
}

/*@page { 
    size: portrait; 
    margin: 2cm 2.5cm;
}*/

@media print {

    body {
        height: 98%;    
        margin:0;
        padding:0;
    }

    body * { 
        visibility: hidden;         
        margin:0;
        padding:0;
    }

    #printSection,
    #printSection * { visibility: visible; }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
        page-break-after:avoid;
    }

 #printSection table { page-break-after:avoid; }
 #printSection  tr    { page-break-inside:avoid; page-break-after:avoid; }
 #printSection td    { page-break-inside:avoid; page-break-after:avoid; }
 #printSection img    { page-break-inside:avoid; page-break-after:avoid; }
 #printSection div   { page-break-inside:avoid; }

 #tablePrint tr td, #tablePrint tr th {
  border: 1px solid #000;
  vertical-align: middle;
  text-transform: capitalize !important;
  padding-bottom: 4px;
  padding-top: 4px;
}

#tablePrint hr {
  margin: 0;
  margin-top: 4px;
  border-top: 1px solid #000;
}

#tablePrint td img {
    width:40%;
}

}