

.row.row-panel {
    border-top: 1px solid #E6E9ED;
    margin: 0;
    border-bottom: 1px solid #E6E9ED;
}

.row.row-panel .col-md-12 { padding: 0; }

.row.row-panel .x_panel {
    border: 0;
    padding: 0;
    margin: 0;
}

.close-link.panel_toolbox li a {
    padding: 2px;
    color: #C5C7CB;
    font-size: 12px;
}


#bilan { color: #73879C; }

#bilan ul.ul-item {
    width: 100%;
    display: table;
    table-layout: fixed;
    /* optional, for equal spacing */
    border-collapse: collapse;
    /*background: transparent;*/
}

#bilan ul.ul-item li.li-item {
    display: table-cell;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle;
    /*padding-top: 10px;*/
}


#bilan .caption h3, #bilan .caption h4, #bilan .caption h5 {
    text-align: center;
    color: #73879C;
}

#bilan .panel-heading { padding: 1px 1px; }


#bilan .panel-body { padding: 4px 10px; }

#bilan .panel-default > .panel-heading { color: #73879C; }

#bilan .panel-title {
    font-size: inherit;
    color: inherit;
}

#bilan .panel {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: -1px;
    border-top: 1px solid #ddd;
}

.panel_toolbox > li > a { color: #347798; }



#bilan ul.header { margin-bottom: 0px; }

#bilan ul.header li {
    border-bottom: 0;
    padding: 10px 0;
}

#bilan .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#bilan .thumbnail {
    /*height: 80% !important;*/
    overflow: hidden;
    margin-bottom: 0;
    background: transparent !important;
    border: 1px solid transparent;
}

#bilan .thumbnail img { max-height: 60%; }

#bilan .thumbnail .caption { background-color: transparent; }

.x_title h5 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    padding-left: 4px;
    font-weight: bold;
}

.panel_toolbox > li {
    float: right;
    cursor: pointer;
}


@media screen {
    #printSection { display: none; }
}

@media print {
    body * { visibility: hidden; }

    #printSection, #printSection * { visibility: visible; }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}