/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

.btn,
button {
    cursor: pointer;
}

.btn,
.input-group-addon {
    white-space: nowrap;
    text-align: center;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-image: none;
}

button {
    text-transform: none;
    -webkit-appearance: button;
}

input[type=checkbox] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: 0 0 !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        a[href^="#"]:after {
            content: "";
        }

    @page {
        margin: 2cm .5cm;
    }

    p {
        orphans: 3;
        widows: 3;
    }
}

.form-control,
body {
    background-color: #fff;
}

a,
a:focus,
a:hover {
    text-decoration: none;
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.428571429;
}

a {
    color: #007aff;
}

    a:focus,
    a:hover {
        color: #0055b3;
    }

    a:focus {
        outline-offset: -2px;
    }

    .btn:focus,
    :focus,
    a,
    a:focus,
    a:hover,
    input:focus {
        outline: 0;
    }

p {
    margin: 0 0 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

    .container:after,
    .container:before {
        content: " ";
        display: table;
    }

    .container:after {
        clear: both;
    }

@media (min-width:768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1170px;
    }
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

.btn,
.form-control {
    font-size: 14px;
    line-height: 1.428571429;
    vertical-align: middle;
}

input[type=checkbox]:focus {
    outline: #333 dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.form-control:-moz-placeholder {
    color: #d7d7d7;
}

.form-control::-moz-placeholder {
    color: #d7d7d7;
}

.form-control:-ms-input-placeholder {
    color: #d7d7d7;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #8e8e93;
    border: 1px solid #c7c7cc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .form-control:focus {
        border-color: #007AFF;
        outline: 0;
    }

.checkbox {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    vertical-align: middle;
}

    .checkbox input[type=checkbox] {
        float: left;
        margin-left: -20px;
    }

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*-o-user-select: none;*/
    user-select: none;
    font-weight: 300;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

    .btn:focus,
    .btn:hover {
        color: #2b2b2b;
        text-decoration: none;
    }

.btn-primary {
    color: #fff;
    background-color: #007aff;
    border-color: #007aff;
}

    .btn-primary:active,
    .btn-primary:focus,
    .btn-primary:hover {
        color: #007aff;
        border-color: #007aff;
        background: 0 0;
    }

    .btn-primary:active {
        background-image: none;
    }

.btn-info {
    color: #fff;
    background-color: #34aadc;
    border-color: #34aadc;
}

    .btn-info:active,
    .btn-info:focus,
    .btn-info:hover {
        color: #34aadc;
        background: 0 0;
        border-color: #34aadc;
    }

    .btn-info:active {
        background-image: none;
    }

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

    .btn-block + .btn-block {
        margin-top: 5px;
    }

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(/fonts/glyphicons-halflings-regular.eot);
    src: url(/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(/fonts/glyphicons-halflings-regular.woff) format('woff'), url(/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular) format('svg');
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

    .input-group .form-control {
        width: 100%;
        margin-bottom: 0;
    }

    .input-group .form-control,
    .input-group-addon {
        display: table-cell;
    }

.input-group-addon {
    width: 1%;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    background-color: #f7f7f7;
    border: 1px solid #c7c7cc;
    border-radius: 4px;
}

    .input-group-addon:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
    }

.input-group .form-control:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pull-right {
    float: right !important;
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width:400px) {
    @-ms-viewport {
        width: 320px;
    }
}

@font-face {
    font-family: ElegantIcons;
    src: url(/fonts/ElegantIcons.eot);
    src: url(/fonts/ElegantIcons.eot?#iefix) format('embedded-opentype'), url(/fonts/ElegantIcons.woff) format('woff'), url(/fonts/ElegantIcons.ttf) format('truetype'), url(/fonts/ElegantIcons.svg#ElegantIcons) format('svg');
    font-weight: 400;
    font-style: normal;
}

.icon_key_alt,
.icon_lock_alt,
.icon_profile {
    font-family: ElegantIcons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.login-form .checkbox,
body {
    font-family: Lato, sans-serif;
}

.icon_lock_alt:before {
    content: "\7e";
}

.icon_key_alt:before {
    content: "\e001";
}

.icon_profile:before {
    content: "\e08a";
}

body {
    color: #797979;
    background: #eee;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
}

label {
    font-weight: 300;
}

::-moz-selection {
    background: #688a7e;
    color: #fff;
}

.login-img3-body {
    background: url(/Content/images/bg-1.jpg) center center no-repeat fixed;
    background-size: cover;
}

.login-form {
    max-width: 350px;
    margin: 200px auto 0;
    background: #d5d7de;
}

.login-img3-body .login-form {
    border: 1px solid #B0B6BE;
    background: rgba(213, 215, 222, .9);
}

.login-form a {
    color: #688a7e !important;
}

.login-form .checkbox {
    margin-bottom: 14px;
    font-weight: 400;
    font-weight: 300;
}

.login-form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .login-form .form-control:focus {
        z-index: 2;
    }

.login-form .login-img {
    font-size: 50px;
    font-weight: 300;
}

.login-form .input-group {
    padding-bottom: 15px;
}

.login-form .input-group-addon {
    padding: 6px 12px;
    font-size: 16px;
    color: #8b9199;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 0;
}

.login-form input[type=text],
.login-form input[type=password] {
    border: none;
    box-shadow: none;
    font-size: 16px;
    border-radius: 0;
}

.login-form .btn {
    border-radius: 0;
}

.login-form p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

.login-form a:hover,
.login-img3-body .login-form p {
    color: #34aadc;
}

.login-wrap {
    padding: 20px;
}

.checkbox,
.checkbox:focus,
.checkbox:hover {
    border: none;
}

@media (max-width:768px) {
    .btn {
        margin-bottom: 5px;
    }
}