﻿@media screen {
    #printSection, #cumulPrintTitle { display: none; }
}

@media print {
    body * { visibility: hidden; }

    #printSection,
    #printSection * { visibility: visible; }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
}

.cumulPrintTitle { margin-bottom: 20px; }