﻿
/* icon column  sorting */
table.dataTable thead .sorting:after {
  opacity: 0.5;
  content: "\e150";
}

.bolder-name {
    font-weight:bold;
    text-transform: uppercase;
}

.btn-margin-top {
    margin-top:5px;
      padding: 2px 10px;
}

.distributeur-selectpicker {}

.clear-pad-left {
    padding-left: 0px !important;
}

.clear-pad-right {
    padding-right: 0px !important;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav.child_menu li {
  padding-left: 26px;
}

/*.nav-sm ul.nav.child_menu li {
  padding: 0 10px;
}*/


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: transparent;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.fa.pull-left {
  margin-top: 0.3em;
}

/* vertical align blok */
.myrow {
    font-size: 0;
}
.myrow > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.myrow > *:last-child {
    vertical-align: bottom;
}
.myrow h1:last-child {
    margin-bottom: 0; /* optional */
}

.profile_info {
  padding:0px;
  padding-bottom: 25px;
  padding-left:25px;
  width: 95%;
  float: left;
}


.icon-margin {
    margin:4px 10px;
}

.btn-default {
    color: #5A738E;
}

.btn-right {
    border-right:0;
}

.header-report {
    font-size: 0.9em;
}


.thumbnail {
  height: 60%; /*190px;*/
  overflow: hidden;
  margin-bottom: 6px;
}

img.img-etape {
    height: 70%;
    max-width: 100%;
}

.thumbnail .caption {
    text-align: center;
}

hr.row-hr {
    margin-top: 0px; 
    margin-bottom: 0px; 
    border: 0;
    border-top: 1px solid #ddd;
    margin-left: -8px;
    margin-right: -8px;
}

.form-group.no-margin {
     margin-bottom: 0 !important;
}

.form-group.group-static,
.form-group.group-static .form-group,
.form-group.group-static .form-group label,
.form-group.group-static .form-group p {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 2em;
}
.col-xs-1.extend-col-1,
.col-md-1.extend-col-1 {
     width: 10.41666675%;
}

div.custom-pagination {
    float: right;
    text-align: right;
    margin-right: -10px;
}

.lighter {
    color: #fff;
    font-weight: lighter;
}

.static {
    color: #555;
    font-size: 14px;
}

.asterisc {
    font-size: 0.6em;
    padding-left: 4px;
}

.size {
     width: 90% !important;
}

tr.capitalize td {
     text-transform: capitalize;
}

tr.capitalize td:first-letter {
     text-transform: capitalize !important;
}

td {
     text-transform: lowercase !important;
}

td:first-letter {
     text-transform: uppercase !important;
}

.capitalize {
     text-transform: capitalize !important;
}

.x_top {
    margin-top: -34px;
    border-top: 0 !important;
}

.read-only {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background: transparent !important;
}


/*http://stackoverflow.com/questions/18838964/add-bootstrap-glyphicon-to-input-box*/

/* enable absolute positioning */
.inner-addon { position: relative; }

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon { left: 10px; }

.right-addon .glyphicon { right: 10px; }

/* add padding  */
.left-addon input { padding-left: 20px; }

.right-addon input { padding-right: 20px; }

.x_panel.grey {
    background-color:#eee;
}

.col-md-2, .col.md-3,.col-md-4, .col.md-5,.col-md-6, .col.md-8,.col-sm-2, .col.sm-3,.col-sm-4, .col.sm-5,.col-sm-6, .col.sm-8 {
    /*border:1px solid #808080;*/

}

.page-count-pagination {
      box-sizing: border-box;
        margin: 20px 0;
}

.btn-detail {
    border-width: 1px 0px !important;
}

        #ConfirmPassword, #password {
            z-index: 0;
        }

        #clearPassword, #clearConfirmPassword {
            display: none;
            position: absolute;
            z-index: 100;
        }

.modal-footer .btn-default {
    margin-bottom:5px !important;
}

.user-count {
    margin-left: -42px; 
    position: absolute; 
    z-index: 100;
    color: #169f85;
}

.x_panel.user-icon {
    padding-left: 32px;
}

.form-group {
  margin-bottom: 8px !important;
}

.table tbody tr:hover td {
  background-color: #fffffc;
    /*cursor: pointer;*/
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fafafa;
  opacity: 1;
  color: #999;
}

.fa-user-count {
    padding-right: 6px;
    color: #169f85;
}


@media (min-width: 768px) {
   .modal-sm {min-width: 400px !important;} 
}


@media (min-width: 992px) {
  .col-md-1-5, .col-md-2-5, .col-md-3-5, .col-md-4-5, .col-md-5-5, .col-md-6-5, .col-md-7-5, .col-md-8-5, .col-md-9-5, .col-md-10-5, .col-md-11-5{
    float: left;
  }

  .col-md-11-5 {
    width: 95.83333333%;
  }
  .col-md-10-5 {
    width: 87.5%;
  }
  .col-md-9-5 {
    width: 79.16666667%;
  }
  .col-md-8-5 {
    width: 70.83333333%;
  }
  .col-md-7-5 {
    width: 62.5%;
  }
  .col-md-6-5 {
    width: 54.16666667%;
  }
  .col-md-5-5 {
    width: 45.83333333%;
  }
  .col-md-4-5 {
    width: 37.5%;
  }
  .col-md-3-5 {
    width: 29.16666667%;
  }
  .col-md-2-5 {
    width: 20.83333333%;
  }
  .col-md-1-5 {
    width: 12.5%;
  }
  .col-md-0-5 {
    width: 4.16666667%;
  }
  
 .col-md-offset-11-5 {
    width: 95.83333333%;
  }
  .col-md-offset-10-5 {
    width: 87.5%;
  }
  .col-md-offset-9-5 {
    width: 79.16666667%;
  }
  .col-md-offset-8-5 {
    width: 70.83333333%;
  }
  .col-md-offset-7-5 {
    width: 62.5%;
  }
  .col-md-offset-6-5 {
    width: 54.16666667%;
  }
  .col-md-offset-5-5 {
    width: 45.83333333%;
  }
  .col-md-offset-4-5 {
    width: 37.5%;
  }
  .col-md-offset-3-5 {
    width: 29.16666667%;
  }
  .col-md-offset-2-5 {
    width: 20.83333333%;
  }
  .col-md-offset-1-5 {
    width: 12.5%;
  }
  .col-md-offset-0-5 {
    width: 4.16666667%;
  }
}

 .col-md-0-5, .col-md-1-5, .col-md-2-5, .col-md-3-5, .col-md-4-5, .col-md-5-5, .col-md-6-5, .col-md-7-5, .col-md-8-5, .col-md-9-5, .col-md-10-5, .col-md-11-5,
  .col-sm-0-5, .col-sm-1-5, .col-sm-2-5, .col-sm-3-5, .col-sm-4-5, .col-sm-5-5, .col-sm-6-5, .col-sm-7-5, .col-sm-8-5, .col-sm-9-5, .col-sm-10-5, .col-sm-11-5
  {
  position: relative;
  min-height: 1px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  }


/* INPUT MD */
@media (min-width: 992px){.input-md-1 {  width: 8.33333333%;}}
@media (min-width: 992px){.input-md-2 {  width: 16.66666667%;}}
@media (min-width: 992px){.input-md-3 {  width: 25%;}}
@media (min-width: 992px){.input-md-4 {  width: 33.33333333%;}}
@media (min-width: 992px){.input-md-5 {  width: 41.66666667%;}}
@media (min-width: 992px){.input-md-6 {  width: 50%;}}
@media (min-width: 992px){.input-md-7 {  width: 58.33333333%;}}
@media (min-width: 992px){.input-md-8 {  width: 66.66666667%;}}
@media (min-width: 992px){.input-md-9 {  width: 75%;}}
@media (min-width: 992px){.input-md-10 {  width: 83.33333333%;}}
@media (min-width: 992px){.input-md-11 {  width: 91.66666667%;}}
@media (min-width: 992px){.input-md-12 {  width: 100%;}}

/* INPUT SM */
@media (min-width: 768px){.input-sm-1 {width: 8.33333333%;}}
@media (min-width: 768px){.input-sm-2 {width: 16.66666667%;}}
@media (min-width: 768px){.input-sm-3 {width: 25%;}}
@media (min-width: 768px){.input-sm-4 {width: 33.33333333%;}}
@media (min-width: 768px){.input-sm-5 {width: 41.66666667%;}}
@media (min-width: 768px){.input-sm-6 {width: 50%;}}
@media (min-width: 768px){.input-sm-7 {width: 58.33333333%;}}
@media (min-width: 768px){.input-sm-8 {width: 66.66666667%;}}
@media (min-width: 768px){.input-sm-9 {width: 75%;}}
@media (min-width: 768px){.input-sm-10 {width: 83.33333333%;}}
@media (min-width: 768px){.input-sm-11 {width: 91.66666667%;}}
@media (min-width: 768px){.input-sm-12 {width: 100%;}}

/*@media (max-width: @screen-xs-max) { 

}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }
@media (min-width: @screen-lg-min) { }*/


/* Custom, iPhone Retina */ 
    /*@media only screen and (min-width : 320px) {

    }*/

    /* Extra Small Devices, Phones */ 
    /*@media only screen and (min-width : 480px) {

    }*/

    /* Small Devices, Tablets */
    /*@media only screen and (min-width : 768px) {

    }*/

    /* Medium Devices, Desktops */
    /*@media only screen and (min-width : 992px) {

    }*/

    /* Large Devices, Wide Screens */
    /*@media only screen and (min-width : 1200px) {

    }*/


/*
  @media (min-width: 192px) and (max-width: 1270px) {
  @media (max-width: 400px) {
  @media (min-width: 480px) {
  @media (max-width: 767px) {
  @media (min-width: 768px) {

  @media (max-width: 991px) {
  @media (min-width: 992px) {
  @media (min-width: 992px) and (max-width: 1100px) {
  @media (max-width: 1200px) {
  @media (max-width: 1270px) and (min-width: 192px) {








.input-1  { width: percentage((1 / @grid-columns)); }
.input-2  { width: percentage((2 / @grid-columns)); }
.input-3  { width: percentage((3 / @grid-columns)); }
.input-4  { width: percentage((4 / @grid-columns)); }
.input-5  { width: percentage((5 / @grid-columns)); }
.input-6  { width: percentage((6 / @grid-columns)); }
.input-7  { width: percentage((7 / @grid-columns)); }
.input-8  { width: percentage((8 / @grid-columns)); }
.input-9  { width: percentage((9 / @grid-columns)); }
.input-10 { width: percentage((10/ @grid-columns)); }
.input-11 { width: percentage((11/ @grid-columns)); }
.input-12 { width: 100%; }

*/