﻿@model SiteBMS.ViewModels.ParcelleViewModel
@using SiteBMS.Extensions;

@{
    ViewBag.Title = Resources.NewParcel + " : ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    var referrer = Request.UrlReferrer;
    // CREATE PARCELLE
}


<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- arrow-right -->
                <h2>
                    <!-- Parcelles/List/id client-->
                    @if (Model.Client.Parcelles.Count > 0)
                    {
                        <a href="@Url.Action("List", "Parcelles", new { id = ViewBag.ClientID})"><i class="fa fa-bars"></i> @Resources.ParcelS</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Clients", null)"><i class="fa fa-bars"></i> @Resources.Customers</a>
                    }
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title @ViewBag.ClientFullName
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="container-fluid">
                    <div class="row">
                        <div clss="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

                            @using (Html.BeginForm("Create", "Parcelles", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(model => model.ID)
                                @Html.HiddenFor(model => model.RefClient)
                                @Html.HiddenFor(model => model.IDUserCreat)
                                @Html.HiddenFor(model => model.IDUserModif)
                                @Html.HiddenFor(model => model.DatCreat)
                                @Html.HiddenFor(model => model.DatModif)
                                @Html.HiddenFor(model => model.IsActive, new { Value = true })


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, null, required, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                                    <div class="col-md-4">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control capitalize" } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Surface, null, required, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Surface, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="input-group-addon">ha</div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Surface, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboEspece, null, required, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                                    <div class="col-md-4">

                                        <div class="col-md-12 input-group">
                                            <div class="col-md-4" style="padding-left: 0">
                                                @Html.DropDownListFor(model => model.RefComboEspece, (IEnumerable<SelectListItem>)ViewBag.DDLEspece, Resources.Specie,
                                                htmlAttributes: new { @class = "form-control", @onchange = "LoadVariete()" })
                                            </div>

                                            @Html.LabelFor(model => model.RefVariete, null, required, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-6" style="padding-right: 0">
                                                @Html.DropDownListFor(model => model.RefVariete, new SelectList(Enumerable.Empty<SelectListItem>(), "ID", "Text"), Resources.Variety,
                                               htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.RefVariete, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RefComboEspece, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboZoneClimatique, null, required, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.RefComboZoneClimatique, (IEnumerable<SelectListItem>)ViewBag.DDLZoneClimatique, Resources.ClimateZone,
                                        htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RefComboZoneClimatique, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboTypeIrrigation, null, required, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.RefComboTypeIrrigation, (IEnumerable<SelectListItem>)ViewBag.DDLIrrigation, Resources.Irrigation,
                                        htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RefComboTypeIrrigation, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboModeProduction, null, required, htmlAttributes: new { @class = "control-label col-md-4 col-sm-12 col-xs-12" })
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(model => model.RefComboModeProduction, (IEnumerable<SelectListItem>)ViewBag.DDLModeProduction, Resources.ProductionMode,
                                        htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RefComboModeProduction, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            <!-- ACTION BUTTON -->
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-12 col-xs-12">&nbsp;</label>
                                    <div class="col-md-2">
                                        <button type="submit" class="form-control btn btn-success btn-sm">@Resources.Save</button>
                                    </div>
                                    <div class="col-md-2">
                                        @if (ViewBag.Origin == "Parcelles")
                                        {
                                            @Html.ActionLink(Resources.Cancel, "List", "Parcelles", new { id = ViewBag.ClientID, page = ViewBag.Page }, new { @class = "form-control btn btn-primary btn-sm" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink(Resources.Cancel, "Index", "Clients", new { page = ViewBag.Page }, new { @class = "form-control btn btn-primary btn-sm" })
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pulsate")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show();

            // PARCELLES DU CLIENT
            if(@Model.Client.Parcelles.Count > 0) {
                $("#menu-parcel").show();
                $("#list-parcel").attr("href", "/Parcelles/List/" + @Model.Client.ID);
            }
        });

        function LoadVariete() {
            var especeID = $('#RefComboEspece').val() || "0";
            $.ajax({
                url: '/Parcelles/LoadVarietes',
                type: "GET",
                dataType: "JSON",
                data: { especeID: especeID },
                success: function (varietes) {

                    $("#RefVariete").empty(); // clear before appending new list
                    $("#RefVariete").append($('<option></option>').val(0).html("@Resources.Variety"));

                    $.each(varietes, function (i, variete) {
                        $("#RefVariete").append(
                            $('<option></option>').val(variete.Value).html(variete.Text));
                    });

                    if (varietes.length > 0) {
                        $("#RefVariete").prop("disabled", false);

                        // https://kilianvalkhof.com/jquerypulsate/
                        // pulse effect
                        // reach: 10 => porté de l'effet
                        // repeat: 3 => nbr de répetitions
                        // speed: 300 => vitesse en millisecondes
                        $("#RefVariete").pulsate({ color: "#09f", reach: 10, repeat: 3, speed: 300 });
                    } else {
                        $("#RefVariete").prop("disabled", true);
                    }
                }
            });
        }
    </script>


}
