﻿@model SiteBMS.Models.Parcelle

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parcelle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RefClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboEspece)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboEspece)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefVariete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefVariete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboZoneClimatique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboZoneClimatique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboTypeIrrigation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboTypeIrrigation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboModeProduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboModeProduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserCreat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserCreat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatCreat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatCreat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
