﻿@model SiteBMS.ViewModels.ParcelleViewModel

@{
    ViewBag.Title = Resources.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var referrer = Request.UrlReferrer;
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- arrow-right -->
                <h2>
                    <!-- Parcelles/List/102-->
                    <a href="@Url.Action("List", "Parcelles", new { id = Model.RefClient, page = ViewBag.Page })"><i class="fa fa-bars"></i> @Resources.ParcelS</a>
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title : <span class="capitalize">@Model.Nom</span>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-10 col-md-offset-1">

                    <div class="form-horizontal form-label-left">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nom, htmlAttributes: new {@class = "control-label col-md-4"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.Nom, new {htmlAttributes = new {@class = "form-control capitalize read-only", disabled = "disabled"}})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Surface, htmlAttributes: new {@class = "control-label col-md-4"})
                            <div class="col-md-2">
                                <div class="col-md-8 input-group input-group">
                                    @Html.EditorFor(model => model.Surface, new {htmlAttributes = new {@class = "form-control", disabled = "disabled"}})
                                    <div class="input-group-addon">ha</div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RefComboEspece, htmlAttributes: new {@class = "control-label col-md-4"})
                            <div class="col-md-4">

                                <div class="col-md-12 input-group">
                                    <div class="col-md-4" style="padding-left: 0">
                                        @Html.DropDownListFor(model => model.RefComboEspece, (IEnumerable<SelectListItem>) ViewBag.DDLEspece,
                                            htmlAttributes: new {@class = "form-control", disabled = "disabled"})
                                    </div>

                                    @Html.LabelFor(model => model.RefVariete, htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-6" style="padding-right: 0">
                                        @Html.DropDownListFor(model => model.RefVariete, (IEnumerable<SelectListItem>) ViewBag.DDLVariete,
                                            htmlAttributes: new {@class = "form-control", disabled = "disabled"})
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.RefComboEspece, "", new {@class = "text-danger"})
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.RefComboZoneClimatique, htmlAttributes: new {@class = "control-label col-md-4"})
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.RefComboZoneClimatique, (IEnumerable<SelectListItem>) ViewBag.DDLZoneClimatique,
                                    htmlAttributes: new {@class = "form-control", disabled = "disabled"})

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RefComboTypeIrrigation, htmlAttributes: new {@class = "control-label col-md-4"})
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.RefComboTypeIrrigation, (IEnumerable<SelectListItem>) ViewBag.DDLIrrigation,
                                    htmlAttributes: new {@class = "form-control", disabled = "disabled"})

                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RefComboModeProduction, htmlAttributes: new {@class = "control-label col-md-4"})
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.RefComboModeProduction, (IEnumerable<SelectListItem>) ViewBag.DDLModeProduction,
                                    htmlAttributes: new {@class = "form-control", disabled = "disabled"})

                            </div>
                        </div>

                        <!-- ACTION BUTTON -->
                        <div class="form-group">
                            <label class="control-label col-md-4">&nbsp;</label>
                            <div class="col-md-2">
                                @Html.ActionLink(Resources.Edit, "Edit", "Parcelles", new {id = Model.ID, page = ViewBag.Page}, new {@class = "form-control btn btn-success btn-sm"})
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink(Resources.Return, "List", "Parcelles", new {id = Model.RefClient, page = ViewBag.Page}, new {@class = "form-control btn btn-primary btn-sm"})
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {


    <script type="text/javascript">

        $(document).ready(function () {
            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show(); 

            // PARCELLES DU CLIENT
            $("#menu-parcel").show(); 
            $("#list-parcel").attr("href", "/Parcelles/List/" + @Model.RefClient);

        });
    </script>
}
