﻿@model SiteBMS.ViewModels.ParcelleViewModel
@using SiteBMS.Extensions;

@{
    ViewBag.Title = Resources.EditParcel;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    var referrer = Request.UrlReferrer;
    // PARCELLE EDIT
}
<!-- 
    <div>@referrer</div>
 -->
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <!-- Parcelles/List/102-->
                    @*@Html.ActionLink("Parcelles", "List", "Parcelles", new { id = Model.RefClient, page = ViewBag.Page }, null) <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>*@
                    <a href="@Url.Action("List", "Parcelles", new { id = Model.RefClient, page = ViewBag.Page })"><i class="fa fa-bars"></i> @Resources.ParcelS</a>
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title @*: <span class="capitalize">@Model.Nom</span>*@
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-10 col-md-offset-1">

                    @using (Html.BeginForm("Edit", "Parcelles", new {page = ViewBag.Page}, FormMethod.Post, new {@class = "form-horizontal form-label-left", role = "form"}))
                    {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.RefClient)
                    @Html.HiddenFor(model => model.IDUserCreat)
                    @Html.HiddenFor(model => model.IDUserModif)
                    @Html.HiddenFor(model => model.DatCreat)
                    @Html.HiddenFor(model => model.DatModif)
                    @Html.HiddenFor(model => model.IsActive)

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nom, null, required, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Nom, new {htmlAttributes = new {@class = "form-control capitalize"}})
                            @Html.ValidationMessageFor(model => model.Nom, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Surface, null, required, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-3">
                            <div class="col-md-6 input-group input-group">
                                @Html.EditorFor(model => model.Surface, new {htmlAttributes = new {@class = "form-control"}})
                                <div class="input-group-addon">ha</div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Surface, "", new {@class = "col-md-2 text-danger"})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RefComboEspece, null, required, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-4">

                            <div class="col-md-12 input-group">
                                <div class="col-md-4" style="padding-left: 0">
                                    @Html.DropDownListFor(model => model.RefComboEspece, (IEnumerable<SelectListItem>) ViewBag.DDLEspece,
                                            htmlAttributes: new {@class = "form-control", @onchange = "LoadVariete()"})
                                </div>

                                @Html.LabelFor(model => model.RefVariete, null, required, htmlAttributes: new {@class = "control-label col-md-3"})
                                <div class="col-md-5" style="padding-right: 0">
                                    @Html.DropDownListFor(model => model.RefVariete, (IEnumerable<SelectListItem>) ViewBag.DDLVariete,
                                            htmlAttributes: new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.RefVariete, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.RefComboEspece, "", new {@class = "text-danger"})
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.RefComboZoneClimatique, null, required, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RefComboZoneClimatique, (IEnumerable<SelectListItem>) ViewBag.DDLZoneClimatique,
                                    htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.RefComboZoneClimatique, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RefComboTypeIrrigation, null, required, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RefComboTypeIrrigation, (IEnumerable<SelectListItem>) ViewBag.DDLIrrigation,
                                    htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.RefComboTypeIrrigation, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RefComboModeProduction, null, required, htmlAttributes: new {@class = "control-label col-md-4"})
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.RefComboModeProduction, (IEnumerable<SelectListItem>) ViewBag.DDLModeProduction,
                                    htmlAttributes: new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.RefComboModeProduction, "", new {@class = "text-danger"})
                        </div>
                    </div>

                        <!-- ACTION BUTTON -->
                    <div class="form-group">
                        <label class="control-label col-md-4">&nbsp;</label>
                        <div class="col-md-2">
                            <button type="submit" class="form-control btn btn-success btn-sm">@Resources.Save</button>
                        </div>
                        <div class="col-md-2">
                            @Html.ActionLink(Resources.Cancel, "List", "Parcelles", new {id = Model.RefClient, page = ViewBag.Page}, new {@class = "form-control btn btn-primary btn-sm" })
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pulsate")

    <script type="text/javascript">

        $(document).ready(function () {
            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show(); 

            // LIST DES PARCELLES DU CLIENT
            $("#menu-parcel").show(); 
            $("#list-parcel").attr("href", "/Parcelles/List/" + @Model.RefClient);

        });

        function LoadVariete() {
            var especeID = $('#RefComboEspece').val();
            $.ajax({
                url: '/Parcelles/LoadVarietes',
                type: "GET",
                dataType: "JSON",
                data: { especeID: especeID },
                success: function (varietes) {

                    $("#RefVariete").empty(); // clear before appending new list
                    $.each(varietes, function (i, variete) {
                        $("#RefVariete").append(
                            $('<option></option>').val(variete.Value).html(variete.Text));
                    });

                    $("#RefVariete").prop("disabled", false);

                    // https://kilianvalkhof.com/jquerypulsate/
                    // pulse effect
                    $("#RefVariete").pulsate({ color: "#09f", reach: 10, repeat: 1, speed: 500 });
                }
            });
        }
    </script>
}


