﻿@model IEnumerable<SiteBMS.Models.Parcelle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RefClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surface)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboEspece)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefVariete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboZoneClimatique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboTypeIrrigation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboModeProduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserCreat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDUserModif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatCreat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatModif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RefClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surface)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboEspece)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefVariete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboZoneClimatique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboTypeIrrigation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboModeProduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserCreat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDUserModif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatCreat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatModif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
