﻿@model PagedList.IPagedList<SiteBMS.ViewModels.ParcelleViewModel>
@using System.Web.Mvc.Html
@using PagedList.Mvc

@{
    ViewBag.Title = Resources.Parcel + " : ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var authorized = !User.IsAuthorized(RoleType.Client);
    //PARCELLE LIST
    var referrer = Request.UrlReferrer;
}

<!-- Modal HTML -->
<div id="cumulModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <!-- Content will be loaded here from "cumul" controller -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    @if (authorized)
                    {
                        <a href="@Url.Action("Index", "Clients")"><i class="fa fa-bars"></i> @Resources.Customers</a>
                        <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    }
                    @ViewBag.Title @ViewBag.Client.Prenom @ViewBag.Client.Nom
                </h2>
                <div class="nav navbar-right panel_toolbox">
                    <a class="btn btn-success" href="/Parcelles/Create/@ViewBag.Client.ID" role="button"><i class="fa fa-leaf"></i> @Resources.NewParcel</a>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">

                    @if (@Model.Count == 0)
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-12 center-block">
                                <h2>@Resources.NoneF @Resources.Parcel</h2>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div class="row">
                                <div class="table-responsive">

                                    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr class="row">
                                                <th class="col-md-2-5">
                                                    @Html.DisplayNameFor(model => model.First().Nom)
                                                </th>
                                                <th class="col-md-2">
                                                    @Html.DisplayNameFor(model => model.First().RefComboEspece)
                                                </th>
                                                <th class="col-md-1-5">
                                                    @Html.DisplayNameFor(model => model.First().Surface)
                                                </th>
                                                <th class="col-md-1-5">
                                                    @Html.DisplayNameFor(model => model.First().DatCreat)
                                                    @*@HttpUtility.HtmlDecode(Html.DisplayName(model => model.First().DatCreat))*@
                                                </th>
                                                <th class="col-md-1-5">
                                                    @Html.DisplayNameFor(model => model.First().Releves)
                                                </th>
                                                @if (Request.IsAuthenticated)
                                                {
                                                    <th>&nbsp;</th>
                                                }

                                            </tr>
                                        </thead>

                                        @foreach (var item in Model)
                                        {
                                            <tr class="row capitalize">

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Nom)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NomEspece)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Surface)&nbsp;<span style="font-size: 0.8em;">ha</span>
                                                </td>
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.DatCreat).ToShortDateString()*@
                                                    @item.DatCreat.ToShortDateString()
                                                </td>
                                                <td>
                                                    @if (item.RelevesCount > 0)
                                                    {
                                                        <a class="btn btn-success btn-xs center-block" href="@Url.Action("List", "Releves", new {id = item.ID})">@item.RelevesCount</a>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink(Resources.Add, "Create", "Releves", new { id = item.ID, page = Model.PageNumber, origin = 1 }, new { @class = "btn btn-default btn-xs center-block" })
                                                    }
                                                </td>
                                                <td>
                                                    @if (Request.IsAuthenticated)
                                                    {
                                                        <div class="text-center">

                                                            @if (User.UserId == item.IDUserCreat || User.IsAuthorized(RoleType.Pdg))
                                                            {
                                                                @Html.ActionLink(Resources.Edit, "Edit", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-info btn-xs" })
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-default btn-xs" disabled="disabled" href="javascript:void(0);" readonly="readonly">@Resources.Edit</a>
                                                            }


                                                            @Html.ActionLink(Resources.Detail, "Details", new { id = item.ID, page = Model.PageNumber }, new { @class = "btn btn-default btn-xs" })

                                                            @if (item.hasCumul == true)
                                                            {
                                                                @*@Html.ActionLink("Cumul", "Index", "Cumul", new { id = item.ID, cumulType = 3, page = Model.PageNumber }, new { @class = "btn btn-warning btn-xs" })*@
                                                                <a class="btn btn-warning btn-xs"
                                                                   href="@Url.Action("Index", "Cumul", new {id = item.ID, cumulType = 3, page = Model.PageNumber})"
                                                                   data-toggle="modal" data-target="#cumulModal">@Resources.Cumulative</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn btn-default btn-xs" disabled="disabled" href="javascript:void(0);" readonly="readonly">@Resources.Cumulative</a>
                                                            }
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="page-count-pagination">
                                        @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                    </div>
                                </div>

                                <div class="col-sm-9">
                                    <div class="custom-pagination">
                                        @Html.PagedListPager(Model, page => Url.Action("List", new { id = ViewBag.Client.ID, page = page }),
                                        new PagedListRenderOptions
                                        {
                                            LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i> Première",
                                            LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> Precedent",
                                            LinkToNextPageFormat = " Suivant <i class='fa fa-angle-right'></i>",
                                            LinkToLastPageFormat = "Dernière <i class='fa fa-angle-double-right'></i>"
                                        })
                                    </div>

                                </div>
                            </div>

                            @if (authorized)
                            {
                                <div class="row">
                                    <div class="col-md-5">

                                        @*<a class="btn btn-primary btn-sm"
                                           href="@referrer"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a>*@
                                        <a class="btn btn-primary btn-sm"
                                            href="@Url.Action("Index", "Clients", new {page = ViewBag.Page})"><i class="fa fa-arrow-left"></i>&nbsp;@Resources.Return</a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/css/print.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {

    <script type="text/javascript">

        // http://jsfiddle.net/macgile/8n5j0ncm/

        $(document).ready(function () {

            // toggle current customer menu item

            $("#title-customer").addClass("active");
            $("#menu-customer").show(); // display:block

            // don't toggle (display) the parcelles list because this view IS the list parcelles

            // MODAL
            $("#cumulModal").on('hidden.bs.modal', function () {
                $(this).removeData();
                $(this).removeData('bs.modal');
            });

        });

        function PrintModal() {
            window.print();
        }

        function ChangeYear() {
            var year = $("#year").val();
            if (year.length > 0) {

                var id = $("#id_cumul").val();

                var url = "/Cumul/Index/" + id + "?cumulType=3&year=" + year;
                $.get(url, function (data) {
                    $('#modalContent').html(data);
                    $('#cumulModal').modal('show');
                });
            }
        }
    </script>
}