﻿
@if (!Request.IsAuthenticated)
{
    // redirection if not authenticated
    Response.Redirect("~/Account/Index");

    // var isAuthorized = User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone });
}

<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="BMS Application by Phareway" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - BMS Application</title>

    @Styles.Render("~/Content/general")
    @Styles.Render("~/Content/gentelella")
    @Styles.Render("~/Content/site")
    @RenderSection("Styles", false)
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ieSupport")
    <![endif]-->

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="row">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/Home" class="site_title">
                            @*<i class="fa fa-envira" aria-hidden="true"></i>*@
                                <img src="/Content/images/white_logo_chenal_icon.png" style="height: 86%;">
                             <span>BMS <span style="font-size:70%;">Micro-Nutrients</span></span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- MENU PROFILE QUICK INFO -->
                        <div class="profile">
                            <div class="profile_info">
                                @if (Request.IsAuthenticated)
                                {
                                    <span>@Resources.Welcome,</span>
                                    <h2>@User.FullName</h2>
                                }
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <div class="clearfix"></div>

                        <!-- SIDEBAR MENU -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                            <div class="menu_section">
                                @*<h3>General</h3>*@
                                <ul class="nav side-menu">

                                    <!-- CLIENTS -->
                                    <li id="title-customer">
                                        <a href="javascript:void(0);"><i class="fa fa-sitemap"></i> @Resources.Customers <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" id="menu-customer" style="display:none;">

                                            @if (User.IsAuthorized(RoleType.Client))
                                            {
                                                <!-- detail customer -->
                                                <li id="detail-customer">

                                                    <!-- CUSTOMER DETAILS -->
                                                    @Html.ActionLink("Détail Client", "Details", "Clients", new { id = User.RefId }, null)

                                                    <!-- sub menu parcel -->
                                                    <ul class="nav child_menu" id="menu-parcel" style="display:none;">
                                                        <li>
                                                            <!-- LIST PARCELLES -->
                                                            <a href="javascript:void(0);" id="list-parcel">Parcelles</a>

                                                            <!-- sub menu releve of current parcel -->
                                                            <ul class="nav child_menu" id="menu-releve" style="display:none;">

                                                                <!-- releve list current parcel-->
                                                                <li id="releve-parcel">

                                                                    <!-- LIST RELEVES -->
                                                                    <a href="javascript:void(0);" id="list-releve">Relevés</a>

                                                                    <!-- sub menu analyse of current releve -->
                                                                    <ul class="nav child_menu" id="menu-analyse" style="display:none;">

                                                                        <!-- releve list current parcel-->
                                                                        <li id="analyse-releve">

                                                                            <!-- LIST ANALYSES -->
                                                                            <a href="javascript:void(0);" id="list-analyse">Analyses</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                            else if (!User.IsAuthorized(new[] { RoleType.Client }))
                                            {
                                                <!-- customers list -->
                                                <li id="customer-list">
                                                    @Html.ActionLink(Resources.CustomersList, "Index", "Clients")

                                                    <!-- sub menu parcel -->
                                                    <ul class="nav child_menu" id="menu-parcel" style="display:none;">
                                                        <li>
                                                            <!-- LIST PARCELLES -->
                                                            <a href="javascript:void(0);" id="list-parcel">@Resources.ParcelS</a>
                                                            @*@Html.ActionLink("Parcelles", "List", "Parcelles", new { id = User.RefId }, new { @id = "list-parcel" })*@

                                                            <!-- sub menu releve of current parcel -->
                                                            <ul class="nav child_menu" id="menu-releve" style="display:none;">

                                                                <!-- releve list current parcel-->
                                                                <li id="releve-parcel">

                                                                    <!-- LIST RELEVES -->
                                                                    <a href="javascript:void(0);" id="list-releve">Relevés</a>

                                                                    <!-- sub menu analyse of current releve -->
                                                                    <ul class="nav child_menu" id="menu-analyse" style="display:none;">

                                                                        <!-- releve list current parcel-->
                                                                        <li id="analyse-releve">

                                                                            <!-- LIST ANALYSES -->
                                                                            <a href="javascript:void(0);" id="list-analyse">Analyses</a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>

                                                </li>

                                                <!-- add customer -->
                                                @*<li id="add-customer">
                                                    @Html.ActionLink("Ajouter", "Create", "Clients")
                                                </li>*@
                                            }
                                        </ul>
                                    </li>

                                    @if (!User.IsAuthorized(RoleType.Client))
                                    {
                                        <!-- DISTRIBUTEURS -->
                                        <li id="title-distributeur">
                                            <a href="javascript:void(0);"><i class="fa fa-leaf"></i> @Resources.DistributorS <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" id="menu-distributeur">

                                                @if (User.IsAuthorized(RoleType.Distributeur))
                                                {
                                                    <li id="detail-distributeur">
                                                        <!-- CUSTOMER DETAILS NEED PROVIDE A ID -->
                                                        @Html.ActionLink("Détail Distributeur", "Details", "Distributeurs", new { id = User.RefId }, null)
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li id="list-distributeur">
                                                        @Html.ActionLink(@Resources.DistributorsList, "Index", "Distributeurs")
                                                    </li>
                                                    @*<li id="add-distributeur">
                                                        @Html.ActionLink("Ajouter", "Create", "Distributeurs")
                                                    </li>*@
                                                }
                                            </ul>
                                        </li>

                                        if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone } ))
                                        {
                                            <!-- UTILISATEURS -->
                                            <li id="title-user">
                                                <a href="javascript:void(0);"><i class="fa fa-user"></i> @Resources.UserS <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" id="menu-user">
                                                    <li id="list-user">
                                                        @Html.ActionLink(Resources.UsersList, "Index", "Utilisateurs")
                                                    </li>
                                                    @*<li id="add-user">
                                                        @Html.ActionLink("Ajouter", "Create", "Utilisateurs")
                                                    </li>*@
                                                </ul>
                                            </li>

                                            <li id="title-translate">
                                                <a href="javascript:void(0);"><i class="fa fa-wrench"></i> @Resources.Tools <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" id="menu-translate">
                                                    <li id="list-user">
                                                        @Html.ActionLink(Resources.TranslateTools, "Index", "Translate")
                                                    </li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!-- if distributeur/user authorisation -->
                                </ul>
                            </div>

                        </div>

                        <!-- /SIDEBAR MENU -->
                        <!-- MENU FOOTER BUTTONS -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true" style="visibility:hidden"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="visibility:hidden"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true" style="visibility:hidden"></span>
                            </a>
                            <form id="logoutFormBottom" action="/Account/LogOut" method="post">
                                <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:document.getElementById('logoutFormBottom').submit()">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </a>
                            </form>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>
            </div>

            <!-- TOP NAVIGATION -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>&nbsp;
                                    @if (Request.IsAuthenticated)
                                    {
                                        @User.FullName
                                    }
                                    &nbsp;
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <!-- ACCOUNT -->
                                        @if (Request.IsAuthenticated)
                                        {
                                            <a href="@Url.Action("Edit", "Utilisateurs", new {id = User.UserId})"><i class="fa fa-gear pull-right"></i> @Resources.Account</a>
                                        }

                                    </li>
                                    <!-- LOG-OUT -->
                                    @Html.Partial("_LoginPartial")
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- PAGE CONTENT -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- FOOTER CONTENT -->
            <footer>
                <div class="pull-right">
                    BMS Application by <a href="http://www.phareway.com" target="_blank">Phareway</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Scripts.Render  jquery/bootstrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- IsSectionDefined CustomJavascript (in views) -->
    @if (IsSectionDefined("CustomJavascript"))
    {
        @RenderSection("CustomJavascript");
    }
    <!-- RenderSection scripts (views section script) -->
    @RenderSection("scripts", required: false)

</body>
</html>