﻿@if (!Request.IsAuthenticated)
{
    // redirection if not authenticated
    Response.Redirect("~/Account/Index");

    // var isAuthorized = User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone });
}

<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="BMS Application by Phareway" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - BMS Application</title>

    @Styles.Render("~/Content/general")
    @Styles.Render("~/Content/gentelella")
    @Styles.Render("~/Content/site")
    @RenderSection("Styles", false)
    @*@Scripts.Render("~/bundles/modernizr")*@

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ieSupport")
    <![endif]-->

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="row">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="javascript:void(0);" class="site_title"><i class="fa fa-envira" aria-hidden="true"></i> <span>BMS</span></a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- MENU PROFILE QUICK INFO -->
                        <div class="profile">
                            <div class="profile_info">
                                @if (Request.IsAuthenticated)
                                {
                                    <span>Bienvenue,</span>
                                    <h2>@User.FullName</h2>
                                }
                            </div>
                        </div>
                        <!-- /menu profile quick info -->
                        <div class="clearfix"></div>

                        <!-- SIDEBAR MENU -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li id="customer-menu">
                                        <a href="javascript:void(0);"><i class="fa fa-sitemap"></i> Clients <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" id="customer">
                                            <!--
                                            CUSTOMER
                                            User.IsAuthorized(new[] { RoleType.Distributeur, RoleType.Client })
                                            -->
                                            @if (Request.IsAuthenticated)
                                            {
                                                if (User.IsRole(RoleType.Client))
                                                {
                                                    <li id="customer-detail">
                                                        <!-- CUSTOMER DETAILS -->
                                                        @Html.ActionLink("Infos Client", "Details", "Clients", new { id = User.RefId }, null)
                                                    </li>
                                                }

                                                <li id="customer-parcels">
                                                    <!-- PARCELS LIST -->
                                                    @Html.ActionLink("Parcelles", "List", "Parcelles", new { id = User.UserId }, null)
                                                    <ul class="nav child_menu" id="current-parcel">
                                                        <li>
                                                            <a href="javascript:void(0);" id="list-releves">Relevés</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li id="list-releve" style="display:none;">
                                                    <a href="javascript:void(0);" id="li-releves">Relevés</a>
                                                </li>
                                            }
                                            else
                                            {
                                            <!-- TECH, DISTRIBUTOR, MANAGE , BOSS -->
                                                <li id="customer-list">
                                                    @Html.ActionLink("Liste des Clients", "Index", "Clients")
                                                </li>

                                                <li id="add-customer">
                                                    @Html.ActionLink("Ajouter", "Create", "Clients")
                                                </li>
                                                <li id="current-customer" style="display: none;">
                                                    <a href="javascript:void(0);">Client <span class="fa fa-chevron-down"></span></a>
                                                    <ul class="nav child_menu" id="customer-parcelles">
                                                        <li class="sub_menu">
                                                            <a href="javascript:void(0);">Parcelles <span class="fa fa-chevron-down"></span></a>
                                                            <ul class="nav child_menu" id="current-parcelle">
                                                                <li>
                                                                    <a href="javascript:void(0);" id="li-releves">Relevés</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" id="li-carence">Carence</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" id="li-bilan">Bilan</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:void(0);" id="li-cumul">Cumul</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <!-- only pdg, responsable, technicien -->
                                    @if (User.IsAuthorized(new[] { RoleType.Technicien, RoleType.ResponsableZone, RoleType.Pdg, RoleType.Distributeur }))
                                    {
                                        if (User.IsAuthorized(RoleType.Distributeur))
                                        {
                                            <li id="distributeur-detail">
                                                <!-- CUSTOMER DETAILS -->
                                                @Html.ActionLink("Infos Distributeur", "Details", "Distributeurs", new { id = User.RefId }, null)
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a href="javascript:void(0);"><i class="fa fa-cubes"></i> Distributeurs <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li>
                                                        @Html.ActionLink("Liste des Distributeurs", "Index", "Distributeurs")
                                                    </li>
                                                    <li>@Html.ActionLink("Ajouter", "Create", "Distributeurs")</li>
                                                </ul>
                                            </li>
                                        }
                                    }
                                    <!-- UTILISATEURS only pdg and responsable zone -->
                                    @if (User.IsAuthorized(new[] { RoleType.ResponsableZone, RoleType.Pdg }))
                                    {
                                        <li>
                                            <a href="javascript:void(0);"><i class="fa fa-users"></i> Utilisateurs <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li>
                                                    @Html.ActionLink("Liste des Utilisateurs", "Index", "Utilisateurs")
                                                </li>
                                                <li>@Html.ActionLink("Ajouter", "Create", "Utilisateurs")</li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- /SIDEBAR MENU -->
                        <!-- MENU FOOTER BUTTONS -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true" style="visibility:hidden"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true" style="visibility:hidden"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true" style="visibility:hidden"></span>
                            </a>
                            <form id="logoutFormBottom" action="/Account/LogOut" method="post">
                                <a data-toggle="tooltip" data-placement="top" title="Logout" href="javascript:document.getElementById('logoutFormBottom').submit()">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                </a>
                            </form>


                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>
            </div>

            <!-- TOP NAVIGATION -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>&nbsp;
                                    @if (Request.IsAuthenticated)
                                    {
                                        @User.FullName
                                    }
                                    &nbsp;
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <!-- ACCOUNT -->
                                        @if (Request.IsAuthenticated)
                                        {
                                            <a href="@Url.Action("Edit", "Utilisateurs", new {id = User.UserId})"><i class="fa fa-gear pull-right"></i> Compte</a>
                                        }

                                    </li>
                                    <!-- LOG-OUT -->
                                    @Html.Partial("_LoginPartial")
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- PAGE CONTENT -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- FOOTER CONTENT -->
            <footer>
                <div class="pull-right">
                    BMS Application by <a href="http://www.phareway.com" target="_blank">Phareway</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- Scripts.Render  jquery/bootstrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- IsSectionDefined CustomJavascript (in views) -->
    @if (IsSectionDefined("CustomJavascript"))
    {
        @RenderSection("CustomJavascript");
    }
    <!-- RenderSection scripts (views section script) -->
    @RenderSection("scripts", required: false)

</body>
</html>