﻿
@if (Request.IsAuthenticated)
{
    <li>
        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm"}))
        {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out pull-right"></i>@Resources.Disconect</a>
        }
    </li>
}