﻿@*@model SiteBMS.ViewModels.CarenceViewModel*@
@model SiteBMS.ViewModels.CarenceValuesViewModel

@{
    ViewBag.Title = Resources.Analyzes;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("List", "CarenceReleves", new {id = Model.CarenceReleve.RefReleve, page = ViewBag.Page })"><i class="fa fa-bars"></i> @Resources.Analyzes</a>
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title : <span class="capitalize">@ViewBag.TypeCarence</span>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

                    @using (Html.BeginForm("Create", "CarenceReleves", new { page = ViewBag.Page }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {

                        @Html.AntiForgeryToken()

                        @*Hidden Mandatory fields*@
                        @Html.HiddenFor(model => model.RefReleve)
                        @Html.HiddenFor(model => model.TypeCarence)
                        @Html.HiddenFor(model => model.EspeceID)

                <!-- CARENCE -->
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>@Resources.Analyzes</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div class="form-group">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.TypeAnalysis</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p class="form-control-static static">@ViewBag.TypeCarence</p>
                                    </div>
                                </div>

                                <!-- DDL -->
                                <div class="form-group no-margin">

                                    <div class="form-group col-xs-2 col-md-2">
                                        <br />
                                        <br />
                                        <label class="control-label">@Resources.TypeAnalysis</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_1" class="control-label">@Resources.Boron (B)</label>
                                        @Html.DropDownListFor(model => model.ddl_1, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_7" class="control-label">@Resources.Copper (Cu)</label>
                                        @Html.DropDownListFor(model => model.ddl_7, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_3" class="control-label">@Resources.Iron (Fe)</label>
                                        @Html.DropDownListFor(model => model.ddl_3, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_5" class="control-label">@Resources.Manganese (Mn)</label>
                                        @Html.DropDownListFor(model => model.ddl_5, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_6" class="control-label">@Resources.Zinc (Zn)</label>
                                        @Html.DropDownListFor(model => model.ddl_6, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <!-- INPUT -->
                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.AnalyzedValues</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @Html.EditorFor(model => model.tbx_1, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '2', '1', '19')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_7" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_7, new { htmlAttributes = new { @class = "col-md-8" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_3" onkeyup="CalculCarence(event, '3', '4', '20');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_3, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '3', '4', '20')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_5" onkeyup="CalculCarence(event, '8', '5', '17');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_5, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '8', '5', '17')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_6" onkeyup="CalculCarence(event, '11', '6', '16');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_6, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '11', '6', '16')" } })
                                    </div>
                                </div>

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MinStandard</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_1" class="form-control-static static">25.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_7" class="form-control-static static">8.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_3" class="form-control-static static">90.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_5" class="form-control-static static">2500.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_6" class="form-control-static static">20.00</p>
                                    </div>
                                </div>

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MaxStandard</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_1" class="form-control-static static">50.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_7" class="form-control-static static">20.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_3" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_5" class="form-control-static static">4000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_6" class="form-control-static static">60.00</p>
                                    </div>
                                </div>

                                <hr />

                                <div class="form-group no-margin">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <br />
                                        <br />
                                        <label class="control-label" style="left: 0;">@Resources.VisualDeficiency</label>
                                    </div>

                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_10" class="control-label">@Resources.Nitrogen (N)</label>
                                        @Html.DropDownListFor(model => model.ddl_10, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_11" class="control-label">@Resources.Phosphor (P)</label>
                                        @Html.DropDownListFor(model => model.ddl_11, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_8" class="control-label">@Resources.Potassium (K)</label>
                                        @Html.DropDownListFor(model => model.ddl_8, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_2" class="control-label">@Resources.Calcium (Ca)</label>
                                        @Html.DropDownListFor(model => model.ddl_2, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_4" class="control-label">@Resources.Magnesia (Mg)</label>
                                        @Html.DropDownListFor(model => model.ddl_4, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <!--
                                // result_13 N/S == tbx_10 / tbx_12
                                // result_14 N/K == tbx_10 / tbx_8
                                // result_15 P/S == tbx_11 / tbx_12
                                // result_16 P/Zn == tbx_11 / tbx_6
                                // result_17 K/Mg == tbx_8 / tbx_5
                                // result_18 K/Mn == tbx_8 / tbx_4
                                // result_19 Ca/B == tbx_2 / tbx_1
                                // result_20 Fe/Mn == tbx_3 / tbx_4
                                -->

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label"> @Resources.AnalyzedValues</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_10" onkeyup="CalculCarence(event, '10', '12-8', '13-14');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_10, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '10', '12-8', '13-14')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_11" onkeyup="CalculCarence(event, '11', '12-6', '15-16');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_11, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '11', '12-6', '15-16')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_8" onkeyup="CalculCarence(event, '8', '5-4', '17-18');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_8, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '8', '5-4', '17-18')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_2" onkeyup="CalculCarence(event, '2', '1', '19');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_2, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '2', '1', '19')" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_4" onkeyup="CalculCarence(event, '8', '4', '18');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_4, new { htmlAttributes = new { @class = "col-md-8", @onkeyup = "CalculCarence(event, '8', '4', '18')" } })
                                    </div>
                                </div>

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MinStandard</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_10" class="form-control-static static">22000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_11" class="form-control-static static">2000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_8" class="form-control-static static">11000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_2" class="form-control-static static">13000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_4" class="form-control-static static">40.00</p>
                                    </div>
                                </div>

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MaxStandard</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_10" class="form-control-static static">28000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_11" class="form-control-static static">3500.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_8" class="form-control-static static">17000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_2" class="form-control-static static">20000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_4" class="form-control-static static">150.00</p>
                                    </div>
                                </div>

                                <hr />

                                <div class="form-group no-margin">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <br />
                                        <br />
                                        <label class="control-label" style="left: 0;">@Resources.VisualDeficiency</label>
                                    </div>

                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_9" class="control-label">@Resources.Sodium (Na)</label>
                                        @Html.DropDownListFor(model => model.ddl_9, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label for="ddl_12" class="control-label">@Resources.Sulfur (S)</label>
                                        @Html.DropDownListFor(model => model.ddl_12, (SelectList)ViewBag.DDLVisuelCarence,
                            htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>

                                <!--
                                // Regle de calcul pour les rapports
                                // Span13 N/S = tbx10 / tbx12
                                // Span14 N/K = tbx10 / tbx8
                                // Span15 P/S = tbx11 / tbx12
                                // Span16 P/Zn = tbx11 / tbx6
                                // Span17 K/Mg = tbx8 / tbx5
                                // Span18 K/Mn = tbx8 / tbx4
                                // Span19 Ca/B = tbx2 / tbx1
                                // Span20 Fe/Mn = tbx3 / tbx4
                                -->

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label"> @Resources.AnalyzedValues</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_9" _onkeyup="CalculCarence(event, this, this, '13');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_9, new { htmlAttributes = new { @class = "col-md-8" } })
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        @*<input type="text" id="tbx_12" _onkeyup="CalculCarence(event, this, this, '13');" class="col-md-8">*@
                                        @Html.EditorFor(model => model.tbx_12, new { htmlAttributes = new { @class = "col-md-8" } })
                                    </div>
                                </div>

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MinStandard</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_9" class="form-control-static static">22000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="min_12" class="form-control-static static">2000.00</p>
                                    </div>
                                </div>

                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MaxStandard</label>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_9" class="form-control-static static">28000.00</p>
                                    </div>
                                    <div class="form-group col-xs-2 col-md-2">
                                        <p id="max_12" class="form-control-static static">3500.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- RAPPORT -->
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>@Resources.Report</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <!-- Labels -->
                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">&nbsp;</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">N/S</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">N/K</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">P/S</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">P/Zn</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">K/Mg</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">K/Mn</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">Ca/B</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <label class="control-label">Fe/Mn</label>
                                    </div>
                                </div>

                                <!-- Result -->
                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label id="result_" class="control-label">&nbsp;</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_13" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_14" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_15" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_16" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_17" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_18" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_19" class="form-control-static static">0.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="result_20" class="form-control-static static">0.00</p>
                                    </div>
                                </div>

                                <!-- MIN -->
                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">Norme minimal</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_13" class="form-control-static static">28000.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_14" class="form-control-static static">3500.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_15" class="form-control-static static">17000.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_16" class="form-control-static static">20000.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_17" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_18" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_19" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="min_20" class="form-control-static static">150.00</p>
                                    </div>
                                </div>

                                <!-- MAX -->
                                <div class="form-group group-static">
                                    <div class="form-group col-xs-2 col-md-2">
                                        <label class="control-label">@Resources.MaxStandard</label>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_13" class="form-control-static static">28000.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_14" class="form-control-static static">3500.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_15" class="form-control-static static">17000.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_16" class="form-control-static static">20000.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_17" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_18" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_19" class="form-control-static static">150.00</p>
                                    </div>
                                    <div class="form-group col-xs-1 col-md-1 extend-col-1">
                                        <p id="max_20" class="form-control-static static">150.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- RAPPORT -->
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>@Resources.Recommandations</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <!--rows=3, columns = 0-->
                                        @*@Html.TextArea("remarque", 3, 0, new { @class = "form-control" })*@
                                        <textarea class="form-control" rows="3">@ViewBag.RemarqueCarence</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                <!-- BUTTON -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">&nbsp;</label>
                            <div class="col-md-2">
                                <button type="submit" class="form-control btn btn-success btn-sm">@Resources.Save</button>
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink(Resources.Cancel, "List", "CarenceReleves", new { id = Model.CarenceReleve.RefReleve, page = ViewBag.Page }, new { @class = "form-control btn btn-primary btn-sm" })
                            </div>
                            @*new { page = ViewBag.Page },*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        // only keyCode of keyboard or numPad for numbers c.e : (0->9)
        // 96 to 105 (numPad), 48-57 (keyboard)
        var patern = /9[6-9]|10[0-5]|4[8-9]|5[0-7]/i;

        function CalculCarence(e, dividende, diviseurs, destinations) {

            var key = e.which || e.keyCode;

            if (!patern.test(key))
                return;

            // retrieve all id for dividende, divisor, and destinations
            diviseurs = diviseurs.split('-');
            destinations = destinations.split('-');
            dividende = parseFloat($("#tbx_" + dividende).val());

            $.each(diviseurs, function (i, div) {

                diviseur = parseFloat($("#tbx_" + div).val());
                destination = $("#result_" + destinations[i]);

                if (!isNaN(dividende) && !isNaN(diviseur)) {
                    var result = (dividende / diviseur).toFixed(2);
                    destination.text(result);
                }
            });
        }

        // OBSOLETE
        // change les normes Min/Max en fonction du type de carences
        function ChangeTypeCarence() {
            var selectedID = $('#ddlTypeCarence').val();
            var espece = "@ViewBag.EspeceID";
            var parameters = JSON.stringify({ especeID: espece, selectedId: selectedID });

            $.ajax({
                url: '/CarenceReleves/ChangeTypeCarence',
                type: "POST",
                dataType: "JSON",
                data: { especeID: espece, selectedId: selectedID },
                success: function (carenceNormeJson) {
                    var JsonString = JSON.stringify(carenceNormeJson);
                    var result = JSON.parse(JsonString);
                    SetCarenceNorme(result);
                }
            });
        }

        function SetCarenceNorme(json) {

            $.each(json, function (idx, obj) {
                //console.log(idx + " Min : " + obj.Min + " Max :" + obj.Max);
                $("#min_" + obj.ID).text(obj.Min);
                $("#max_" + obj.ID).text(obj.Max);
            });
        }

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show();

            // LIST DES PARCELLES DU CLIENT
            $("#menu-parcel").show();
            $("#list-parcel").attr("href", "/Parcelles/List/" + @Model.Releve.Parcelle.RefClient);

            // LIST DES RELEVE DE LA PARCELLE
            $("#menu-releve").show();
            $("#list-releve").attr("href", "/Releves/List/" + @Model.Releve.Parcelle.ID);

            if(@Model.Releve.CarenceReleves.Count> 0) {
                // LIST DES ANALYSES DU RELEVE
                $("#menu-analyse").show();
                $("#list-analyse").attr("href", "/CarenceReleves/List/" + @Model.Releve.ID);
            }

            // retrieve values of carenceNorme first time index : 1
            var json = '@Html.Raw(Json.Encode(ViewBag.RefCarenceNorme))';
            var result = JSON.parse(json);
            SetCarenceNorme(result);
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}