﻿@model SiteBMS.Models.CarenceReleve

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CarenceReleve</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarenceNorme.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarenceNorme.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Releve.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Releve.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboCarence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboCarence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValeurAnalyseCarence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValeurAnalyseCarence)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
