﻿@model IEnumerable<SiteBMS.Models.CarenceReleve>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarenceNorme.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Releve.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RefComboCarence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValeurAnalyseCarence)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarenceNorme.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Releve.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RefComboCarence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValeurAnalyseCarence)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
