﻿@model IEnumerable<SiteBMS.ViewModels.CarenceTypeViewModel>

@{
    //var ViewBag.Releve = Model.First();
    ViewBag.Title = Resources.Analyzes +  " : " + ViewBag.Releve.Nom;
    ViewBag.DateReleve = ViewBag.Releve.DateReleve.ToString("dd MMMM yyyy");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB Releves/List/328?page=1 -->
                <h2>
                    <!-- List des relevés de la parcelle -->
                    <a href="@Url.Action("List", "Releves", new {id = ViewBag.Releve.RefParcelle, page = ViewBag.Page})"><i class="fa fa-bars"></i> @Resources.StatementS</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title <small>@Resources.DateOfStatement : @ViewBag.DateReleve</small>
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr class="row">
                                            <th class="col-md-4">
                                                @Html.DisplayNameFor(model => model.First().Name)
                                            </th>
                                            <th class="col-md-4">
                                                @Html.DisplayNameFor(model => model.First().CarenceCount)
                                            </th>
                                            <th class="col-md-4">&nbsp;</th>
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                    <tr class="row capitalize">

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @if (item.CarenceCount > 0)
                                                {
                                                @Html.DisplayFor(modelItem => item.CarenceCount)
                                                }
                                                else
                                                {
                                                @Html.ActionLink(Resources.Add, "Create", "CarenceReleves", new {id = ViewBag.Releve.ID, typeID = item.RefType, page = ViewBag.Page}, new {@class = "btn btn-success btn-xs" })
                                                }
                                        </td>
                                        <td>
                                            @if (Request.IsAuthenticated && item.CarenceCount > 0)
                                                {
                                                    //&& User.IsInRole("Admin")
                                                <div class="text-center">
                                                    @Html.ActionLink(Resources.Edit, "Edit", new {id = item.RefReleve, typeID = item.RefType, page = ViewBag.Page}, new {@class = "btn btn-info btn-xs" })
                                                    @Html.ActionLink(Resources.Detail, "Details", new {id = item.RefReleve, typeID = item.RefType, page = ViewBag.Page}, new {@class = "btn btn-default btn-xs" })
                                                </div>
                                                }
                                                else
                                                {
                                                <span>&nbsp;</span>
                                                }
                                        </td>
                                    </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            @*@Html.ActionLink("Retour", "List", "Releves", new { id = ViewBag.Releve.RefParcelle, page = ViewBag.Page }, new { @class = "btn btn-primary btn-sm" })*@
                            <a class="btn btn-primary btn-sm"
                               href="@Url.Action("List", "Releves", new { id = ViewBag.Releve.RefParcelle, page = ViewBag.Page })"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show();

            // LIST DES PARCELLES DU CLIENT
            $("#menu-parcel").show();
            $("#list-parcel").attr("href", "/Parcelles/List/" + @ViewBag.Releve.Parcelle.RefClient);

            // LIST DES RELEVE DE LA PARCELLE
            $("#menu-releve").show();
            $("#list-releve").attr("href", "/Releves/List/" + @ViewBag.Releve.Parcelle.ID);
    });

    </script>


}
