﻿@model SiteBMS.ViewModels.DistributeurViewModel
@using SiteBMS.Extensions;
@{
    ViewBag.Title = "Nouveau distributeur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Required define a asterisc icon for mandatory field
    // See App_Start/Extentions.cs
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
}

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    @*@Html.ActionLink("Distributeurs", "Index", new { page = ViewBag.Page }) <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>*@
                    <a href="@Url.Action("Index", "Distributeurs", new { page = ViewBag.Page })"><i class="fa fa-bars"></i> Distributeurs</a>
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    @using (Html.BeginForm("Create", "Distributeurs", new { page = ViewBag.Page }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*Hidden Mandatory fields*@
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.IDDatCreat)
                        @Html.HiddenFor(model => model.IDDatModif)
                        @Html.HiddenFor(model => model.IDUserCreat)
                        @Html.HiddenFor(model => model.IDUserModif)
                        @*@Html.HiddenFor(model => model.RefTechBMS)*@
                        @Html.HiddenFor(model => model.IsActive, new { Value = true })

                        <div class="x_panel">
                            <div class="x_title">
                                <h4>Informations</h4>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-5 col-sm-9">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr1, null, required, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-5 col-sm-9">
                                        @Html.EditorFor(model => model.Adr1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adr1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr2, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-5 col-sm-9">
                                        @Html.EditorFor(model => model.Adr2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adr2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Code Postal Ville -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodePostal, null, required, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Ville, null, required, new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- TELEPHONE -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tel1, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Tel2, new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
                                    <div class="col-md-2 col-sm-9">
                                        @*@Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.TextBoxFor(model => model.Tel2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Tel2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- PAYS -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboPays, null, required, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.Pays, "-Selection pays-",
                                            new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RefComboPays, "", new { @class = "text-danger" })
                                    </div>
                                    <!-- FAX -->
                                    @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-1 col-sm-3 col-xs-12" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- MAIL -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mel, null, required, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-5 col-sm-9">
                                        @Html.EditorFor(model => model.Mel, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- TECHNICIENS -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefTechBMS, null, required, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                                    <div class="col-md-5 col-sm-9">

                                        @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                                        {
                                            @Html.DropDownListFor(model => model.RefTechBMS, (IEnumerable<SelectListItem>)ViewBag.DDLTechList, "Choix Technicien",
                                               new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.RefTechBMS, (IEnumerable<SelectListItem>)ViewBag.DDLTechList, "Choix Technicien",
                                               new { @class = "form-control", @disabled = "disabled" })
                                        }

                                        @Html.ValidationMessageFor(model => model.RefTechBMS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="x_panel x_top">
                            <div class="clearfix"></div>
                            <div class="x_content">
                                <!-- BUTTONS -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">&nbsp;</label>
                                    <div class="col-md-2 col-sm-2">
                                        <button type="submit" class="btn btn-success btn-sm">Enregistrer</button>
                                    </div>
                                    <div class="col-md-3 col-sm-7">
                                        @Html.ActionLink("Annuler", "Index", new { page = ViewBag.Page }, new { @class = "btn btn-primary btn-sm pull-right" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomJavascript {
    @Scripts.Render("~/bundles/pulsate")
    @Scripts.Render("~/bundles/client")

    <script type="text/javascript">

        $(document).ready(function () {
            // toggle current distributeur menu item
            $("#title-distributeur").addClass("active");
            $("#menu-distributeur").show();
        });
    </script>
}