﻿@model SiteBMS.Models.Distributeur

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Distributeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adr1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adr1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adr2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adr2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefComboPays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefComboPays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserCreat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserCreat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDUserModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDUserModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDDatCreat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDDatCreat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDDatModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDDatModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefTechBMS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefTechBMS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
