﻿@model SiteBMS.ViewModels.DistributeurViewModel
@using SiteBMS;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Small Modal Dialog Confirm Archiver Action -->
<div class="modal fade" id="confirmArchiver" role="dialog" aria-labelledby="confirmArchiverLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-cube"></i> Distributeur</h4>
            </div>
            <div class="modal-body">
                <h5 class="text-warning"><strong>Attention, cette action supprime toutes associations entre ce distributeur et ses clients(@ViewBag.ClientsCount).</strong></h5>
                <h5 class="text-warning">Si tel n'est pas votre intention, veuillez changer le distributeur de tous les clients associés avant de le désactiver.</h5>
                <h5>Voulez-vous archiver ce distributeur ?</h5>
                <input type="hidden" id="id_distributeur" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirm">Archiver</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("Index", "Distributeurs", new { page = ViewBag.Page })"><i class="fa fa-bars"></i> Distributeurs</a>
                    <i class="fa fa-chevron-right" style="font-size:0.8em;"></i>
                    @ViewBag.Title @Utils.UcFirst(@Model.Nom) (@Model.ID)
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-8 col-sm-12 col-md-offset-2">
                    <div class="form-horizontal">

                        <div class="x_panel">
                            <div class="x_title">
                                <div class="col-md-10 col-sm-10">
                                    <h4><i class="fa fa-info"></i> Informations</h4>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <h5 class="pull-right">

                                        @if (Model.IsActive)
                                        { <span style="color:#169F85 !important"><i class="fa fa-user"></i> Activé</span>}
                                        else
                                        { <span style="color:#d43f3a !important"><i class="fa fa-user"></i> Désactivé</span>}
                                    </h5>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr1, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Adr1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr2, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Adr2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>
                                <!-- Code Postal Ville -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodePostal, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>

                                    @Html.LabelFor(model => model.Ville, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <!-- TELEPHONE -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tel1, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>

                                    @Html.LabelFor(model => model.Tel2, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <!-- PAYS -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboPays, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.Pays,
                                            new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                                    </div>

                                    <!-- FAX -->
                                    @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <!-- MAIL -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mel, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.Mel, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>

                                <!-- TECHNICIENS -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefTechBMS, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-9">
                                        <input class="form-control" type="text" value="@ViewBag.TechBMS" readonly disabled />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BUTTON -->
                        <div class="x_panel x_top">
                            <div class="x_content">
                                <div class="form-group">
                                    <div class="col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-3">
                                        <!-- if the user is the creator of the item, view the edit icon in the button -->
                                        @if (Model.IDUserCreat == User.UserId || User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien, RoleType.Distributeur }))
                                        {
                                            @Html.ActionLink("Modifier", "Edit", new { id = Model.ID, page = ViewBag.Page }, new { @class = "btn btn-success btn-sm" })
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-default btn-sm" disabled>Modifier</button>
                                        }
                                    </div>
                                    <div class="col-md-2 col-sm-3">
                                        <!-- ARCHIVER -->
                                        @if (Model.IsActive && User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien}))
                                        {
                                            <button type="button" class="btn btn-warning btn-sm center-block"
                                                    data-toggle="modal"
                                                    data-target="#confirmArchiver"
                                                    data-id="@Model.ID">Archiver
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-default btn-sm center-block" disabled>Archiver</button>
                                        }
                                    </div>

                                    @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                                    {
                                        <div class="col-md-2 col-sm-3">
                                            @Html.ActionLink("Annuler", "Index", new { page = ViewBag.Page }, new { @class = "btn btn-primary btn-sm pull-right" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-2 col-sm-3">
                                            @Html.ActionLink("Annuler", "Index", "Home", null, new { @class = "btn btn-primary btn-sm pull-right" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- UTILISATEURS FROM THIS DISTRIBUTEUR -->
                        @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                        {
                            if (Model.UtilisateursVm.Any())
                            {
                                <div class="x_panel x_top">
                                    <div class="x_title">
                                        <div class="col-md-8 col-md-offset-1 col-sm-12 clear-pad-left">
                                            <h5><i class="fa fa-user"></i> Utilisateur(s) du "Bilan Web" associé à ce distributeur</h5>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <div class="col-md-10 col-sm-12 col-md-offset-1 col-xs-12">
                                            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                                            <thead>
                                                                <tr>
                                                                    <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Nom).ToHtmlString()
                                                                    </th>
                                                                    <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Prenom)
                                                                    </th>
                                                                    <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Email).ToHtmlString()
                                                                    </th>
                                                                    <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().Login).ToHtmlString()
                                                                    </th>
                                                                    <th class="col-md-1 col-sm-2" aria-controls="datatable">
                                                                        @Html.DisplayNameFor(model => model.UtilisateursVm.First().LangueName).ToHtmlString()
                                                                    </th>
                                                                </tr>

                                                            </thead>
                                                            @foreach (var item in Model.UtilisateursVm)
                                                            {
                                                                <tr class="capitalize">
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Nom)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Prenom)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Email)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Login)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.LangueName)
                                                                    </td>
                                                                </tr>
                                                            }
                                                            <!-- FOREACH -->
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        <!-- COUNT -->
                        }
                        <!-- AUTHORIZED ROLE -->
                    </div>
                </div>
            </div>
            <!-- /*content -->
        </div>
        <!--/*x_panel -->
    </div>

</div>
<!-- /*row-->
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            // toggle current distributeur menu item
            $("#title-distributeur").addClass("active");
            $("#menu-distributeur").show();
        });

        // open modal pass parameter
        $('#confirmArchiver').on('show.bs.modal', function (e) {
            var idDistributeur = $(e.relatedTarget).attr('data-id');
            $(this).find('.modal-body #id_distributeur').val(idDistributeur);
            console.log("on show modal : " + idDistributeur);
        });

        // confirm submit modal
        $('#confirmArchiver').find('.modal-footer #confirm').on('click', function () {

            var id = $("#confirmArchiver .modal-body").find('#id_distributeur').val();
            console.log("confirm id : " + id);

            if (id != undefined && id > 0) {
                $.ajax({
                    url: '/Distributeurs/Archiver',
                    type: "POST",
                    dataType: "JSON",
                    data: { id: id },
                    success: function (data) {
                        window.location.href = "/Distributeurs";
                    }
                });
            }
        });

        // clean modal value
        $('#confirmArchiver').on('hidden.bs.modal', function (e) {
            $(this).removeData();
        });

    </script>
}