﻿@model SiteBMS.ViewModels.DistributeurViewModel
@{
    ViewBag.Title = "Modifier la fiche de";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Func<dynamic, HelperResult> required = @<i class='fa fa-star asterisc'></i>;
    // var test = string.Format("{0:## ## ## ## ## ##}", Convert.ToDecimal("0479520660"));
}

<!-- Small Modal Dialog Confirm Archiver Action -->
<div class="modal fade" id="confirmArchiver" role="dialog" aria-labelledby="confirmArchiverLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-user"></i> Utilisateur du Bilan</h4>
            </div>
            <div class="modal-body">
                <h5>Voulez-vous archiver</h5>
                <input type="hidden" id="id_utilisateur" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" id="confirm">Archiver</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal HTML USER -->
<div id="userModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContentUser">
            <!-- Content will be loaded here from "partial view Utilisateur" controller action -->
        </div>
    </div>
</div>


<div class="row">

    <div class="col-xs-12">

        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("Index", "Distributeurs", new {page = ViewBag.Page})"><i class="fa fa-bars"></i> Distributeurs</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title @Utils.UcFirst(@Model.Nom) (@Model.ID)
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-8 col-sm-12 col-md-offset-2 col-xs-12">
                    @using (Html.BeginForm("Edit", "Distributeurs", new { page = ViewBag.Page }, FormMethod.Post, new { @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @*Hidden Mandatory fields*@
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.IDDatCreat)
                        @Html.HiddenFor(model => model.IDDatModif)
                        @Html.HiddenFor(model => model.IDUserCreat)
                        @Html.HiddenFor(model => model.IDUserModif)
                        @Html.HiddenFor(model => model.Old_Technicien)
                        @Html.HiddenFor(model => model.IsActive)

                        <div class="x_panel">
                            <div class="x_title">
                                <div class="col-md-10 col-sm-10">
                                    <h4><i class="fa fa-info"></i> Informations</h4>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <h5 class="pull-right">

                                        @if (Model.IsActive)
                                        { <span style="color:#169F85 !important"><i class="fa fa-user"></i> Activé</span>}
                                        else
                                        { <span style="color:#d43f3a !important"><i class="fa fa-user"></i> Désactivé</span>}
                                    </h5>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Nom, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-6">
                                        @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr1, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-6">
                                        @Html.EditorFor(model => model.Adr1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adr1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Adr2, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-6">
                                        @Html.EditorFor(model => model.Adr2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Adr2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Code Postal Ville -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CodePostal, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.CodePostal, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.CodePostal, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Ville, null, required, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2  col-sm-9">
                                        @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- TELEPHONE -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Tel1, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2  col-sm-9">
                                        @Html.EditorFor(model => model.Tel1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tel1, "", new { @class = "text-danger" })
                                    </div>

                                    @Html.LabelFor(model => model.Tel2, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2  col-sm-9">
                                        @Html.EditorFor(model => model.Tel2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tel2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- PAYS -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefComboPays, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.DropDownListFor(model => model.RefComboPays, (IEnumerable<SelectListItem>)ViewBag.Pays, "-Choix pays-", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.RefComboPays, "", new { @class = "text-danger" })
                                    </div>

                                    <!-- FAX -->
                                    @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2 col-sm-3" })
                                    <div class="col-md-2 col-sm-9">
                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- MAIL -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mel, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-6">
                                        @Html.EditorFor(model => model.Mel, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- TECHNICIENS -->
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RefTechBMS, null, required, new { @class = "control-label col-md-3 col-sm-3" })
                                    <div class="col-md-6 col-sm-6">

                                        @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                                        {
                                            @Html.DropDownListFor(model => model.RefTechBMS, (IEnumerable<SelectListItem>)ViewBag.DDLTechList, "Choix Technicien",
                                               new { @class = "form-control" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.RefTechBMS, (IEnumerable<SelectListItem>)ViewBag.DDLTechList, "Choix Technicien",
                                               new { @class = "form-control", @disabled = "disabled" })
                                        }
                                        @Html.ValidationMessageFor(model => model.RefTechBMS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="x_panel x_top">
                            <!-- BUTTON -->
                            <div class="x_content">
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-4 col-md-offset-3 col-sm-offset-3">
                                        <button type="submit" class="btn btn-success btn-sm">Enregistrer</button>
                                    </div>

                                    @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                                    {
                                        <div class="col-md-3 col-sm-5">
                                            @Html.ActionLink("Annuler", "Index", new { page = ViewBag.Page }, new { @class = "btn btn-primary btn-sm pull-right" })
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3 col-sm-5">
                                            @Html.ActionLink("Annuler", "Index", "Home", null, new { @class = "btn btn-primary btn-sm pull-right" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                                            }
                    <!-- UTILISATEURS FROM THIS DISTRIBUTEUR -->
                    @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }))
                    {
                        <div class="x_panel x_top">
                            <div class="x_title">
                                <div class="col-md-8 col-md-offset-1 col-sm-10 clear-pad-left">
                                    <h5><i class="fa fa-user"></i> Utilisateur(s) du "Bilan Web" associé à ce distributeur</h5>
                                </div>
                                <!-- ADD NEW USER FOR THIS DISTRIBUTEUR -->
                                <div class="col-md-2 col-sm-2" style="padding-right: 0;">
                                    <!-- get partial view edit user infos-->
                                    <a class="btn btn-info btn-xs pull-right btn-margin-top" data-toggle="modal" data-target="#userModal"
                                       href="@Url.Action("AddUtilisateur", "Utilisateurs",
                                                new { refId=Model.ID, origin=@RoleType.Distributeur.ToString() })">
                                        <i class="fa fa-user pull-left" aria-hidden="true" style="padding-right: 4px;"></i>
                                        Ajouter
                                    </a>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                @if (Model.UtilisateursVm.Any())
                                {
                                    <div class="col-md-10 col-sm-12 col-md-offset-1 col-xs-12">
                                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Nom).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Prenom)
                                                                </th>
                                                                <th class="col-md-3 col-sm-3" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Email).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-2 col-sm-2" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().Login).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-1 col-sm-2" aria-controls="datatable">
                                                                    @Html.DisplayNameFor(model => model.UtilisateursVm.First().LangueName).ToHtmlString()
                                                                </th>
                                                                <th class="col-md-1 col-sm-2" aria-controls="datatable">
                                                                    &nbsp;
                                                                </th>
                                                            </tr>

                                                        </thead>
                                                        @foreach (var item in Model.UtilisateursVm)
                                                        {
                                                            <tr class="capitalize">
                                                                <td>
                                                                    <!-- get partial view edit user infos-->
                                                                    <a class="edit-user bolder-name" data-toggle="modal" data-target="#userModal"
                                                                       href="@Url.Action("GetUtilisateur", "Utilisateurs",
                                                                                 new {id = item.ID, origin = @RoleType.Distributeur.ToString()})">
                                                                        <i class="fa fa-pencil pull-right" aria-hidden="true" style="padding-right: 4px;"></i>
                                                                        @Html.DisplayFor(modelItem => item.Nom)
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Prenom)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Email)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Login)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.LangueName)
                                                                </td>

                                                                <td>
                                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                                        <!-- EDIT CURRENT USER -->
                                                                        <button type="button" class="btn btn-warning btn-xs center-block"
                                                                                data-toggle="modal"
                                                                                data-backdrop="false"
                                                                                data-target="#confirmArchiver"
                                                                                data-title="@item.FullName"
                                                                                data-id="@item.ID">
                                                                            Archiver
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                        <!-- FOREACH -->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- COUNT -->
                    }
                    <!-- AUTHORIZED ROLE -->
                </div>
            </div>
        </div>

    </div>

</div>

@*@section CustomJavascript {}*@

@section Scripts {

    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/password")

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current distributeur menu item
            $("#title-distributeur").addClass("active");
            $("#menu-distributeur").show();

            // set parameter and open modal Archiver
            $('#confirmArchiver').on('show.bs.modal', function (e) {
                var idUtilisateur = $(e.relatedTarget).attr('data-id');
                var name = $(e.relatedTarget).attr('data-title');
                $(this).find('.modal-body #id_utilisateur').val(idUtilisateur);
                $(this).find('.modal-body h5').html("Voulez-vous archiver : <strong>" + name + "</strong> ?");
            });

            // confirm and submit modal
            $('#confirmArchiver').find('.modal-footer #confirm').on('click', function () {

                var idUtilisateur = $("#confirmArchiver .modal-body").find('#id_utilisateur').val();

                if (id != undefined && id != null) {
                    $.ajax({
                        url: '/Utilisateurs/Archiver',
                        type: "POST",
                        dataType: "JSON",
                        data: { id: idUtilisateur },
                        success: function (data) {
                            window.location.href = "/Distributeurs";
                        }
                    });
                }
            });

            // clean modal value
            $('#userModal').on('hidden.bs.modal', function (e) {
                $(this).removeData();
            });

            // set modal dialog as draggable
            $("#userModal").draggable({
                handle: ".modal-header"
            });

        });

    </script>
}


