﻿@*@model IEnumerable<SiteBMS.ViewModels.DistributeurViewModel>*@
@model PagedList.IPagedList<SiteBMS.ViewModels.DistributeurViewModel>

@using System.Web.Mvc.Html
@using PagedList.Mvc

@{
    ViewBag.Title = "Distributeurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal HTML -->
<div id="cumulModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <!-- Content will be loaded here from "cumul" controller -->
        </div>
    </div>
</div>
<!-- DISTRIBUTEURS -->
<div class="row">

    <div class="col-xs-12">

        <div class="x_panel user-icon">

            <div class="x_title">
                <!-- BREADCRUMB -->
                <h2>
                    <a href="@Url.Action("Index", "Distributeurs")"><i class="fa fa-bars"></i> @Resources.DistributorS</a>
                </h2>
                @using (Html.BeginForm("Index", "Distributeurs", FormMethod.Get, new { @class = "navbar-form navbar-right form-inline", role = "form" }))
                {
                    <ul class="nav navbar-right panel_toolbox">

                        <li>
                            <div class="input-group" style="margin-right: 8px;">
                                @Html.DropDownList("refLangue", (IEnumerable<SelectListItem>)ViewBag.DDLPays, "-Choix pays-",
                                    htmlAttributes: new { @class = "form-control", @onchange = "ChangeLanguage()" })
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            onclick="document.getElementById('SearchString').value = ''; window.location.href = '/Distributeurs?refLangue=@ViewBag.RefLangue';">
                                        <i class="fa fa-times" style="color: lightgrey;"></i>
                                    </button>
                                </span>
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Rechercher" })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <a class="form-control btn btn-success" href="Distributeurs/Create?page=@Model.PageNumber" role="button"><i class="fa fa-user"></i> Ajouter</a>
                            </div>
                        </li>
                    </ul>
                }
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">

                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                        <div class="row-fluid">
                            <div class="table-responsive">

                                <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr>

                                            <th class="col-md-2-5 col-sm-3 sorting" aria-controls="datatable">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Nom).ToHtmlString()), "Index",
                                                new { sortOrder = ViewBag.SortByName, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue })
                                            </th>

                                            <th class="col-md-1-5 col-sm-2 sorting" aria-controls="datatable">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().CodePostal).ToHtmlString()), "Index",
                                                new { sortOrder = ViewBag.SortByZip, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue })
                                            </th>

                                            <th class="col-md-2 col-sm-1" aria-controls="datatable">
                                                @Html.DisplayNameFor(model => model.First().Ville)
                                            </th>

                                            <th class="col-md-1-5 col-sm-1 sorting" aria-controls="datatable" rowspan="1" colspan="1">
                                                @Html.ActionLink(HttpUtility.HtmlDecode(Html.DisplayNameFor(model => model.First().Pays).ToHtmlString()), "Index",
                                                new { sortOrder = ViewBag.SortByPays, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue })
                                            </th>

                                            <th class="col-md-2 col-sm-1" aria-controls="datatable">
                                                @Html.DisplayNameFor(model => model.First().Tel1)
                                            </th>

                                            <th class="col-md-1-5 col-sm-1 sorting" aria-controls="datatable">
                                                @Html.ActionLink(Html.DisplayName(model => model.First().IDDatCreat), "Index",
                                            new { sortOrder = ViewBag.SortByDate, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue })

                                                @if (Request.IsAuthenticated)
                                                {
                                                <th class="col-md-1 col-sm-1" aria-controls="datatable">&nbsp;</th>
                                                }
                                            </tr>

                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="capitalize">

                                                <td>
                                                    @if (item.UserCount > 0)
                                                    {
                                                        <span class="user-count"><i class="fa fa-user"></i>&nbsp;@item.UserCount</span>
                                                    }
                                                    <!-- if the user is the creator of the item, view the edit icon in the button -->
                                                    @if (User.IsAuthorized(new[] { RoleType.Pdg, RoleType.ResponsableZone, RoleType.Technicien }) || item.IDUserCreat == User.UserId)
                                                    {
                                                        <a class="bolder-name"
                                                           href="@Url.Action("Details", "Distributeurs", new {id = item.ID, page = Model.PageNumber})"
                                                           role="button"><i class="fa fa-pencil pull-right" aria-hidden="true"></i>@Html.DisplayFor(modelItem => item.Nom)</a>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink(item.Nom, "Details", new { id = item.ID, page = Model.PageNumber }, new { @class = "bolder-name" })
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CodePostal)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ville)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Pays)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Tel1)
                                                </td>
                                                <td>
                                                    @item.IDDatCreat.ToShortDateString()
                                                </td>
                                                <td>
                                                    @if (item.hasCumul == true)
                                                    {
                                                        <a class="btn btn-info btn-xs btn-block"
                                                           href="@Url.Action("Index", "Cumul", new {id = item.ID, cumulType = 2, page = Model.PageNumber})"
                                                           data-toggle="modal" data-target="#cumulModal" role="button">Cumul</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-default btn-xs btn-block" disabled="disabled" href="javascript:void(0);" readonly="readonly">Cumul</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                            <!-- PAGINATION -->
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="page-count-pagination">
                                        @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="custom-pagination">
                                        @Html.PagedListPager(Model, page => Url.Action("Index",
                                       new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, refLangue = ViewBag.RefLangue }),
                                            new PagedListRenderOptions
                                            {
                                                LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i>",
                                                LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> Precedent",
                                                LinkToNextPageFormat = Resources.Next +" <i class='fa fa-angle-right'></i>",
                                                LinkToLastPageFormat = "<i class='fa fa-angle-double-right'></i>"
                                            })
                                    </div>
                                </div>
                            </div>
                            <!-- /*PAGINATION -->

                            <div class="row">
                                <div class="col-md-2"><i class="fa fa-user" style="color:#169f85;"></i>&nbsp;Nombre d'utilisateurs</div>
                                <div class="col-md-2"><i class="fa fa-pencil"></i>&nbsp;Modifiable</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    @section Styles {
        <link href="@Url.Content("~/Content/css/print.css")" rel="stylesheet" type="text/css" />
    }

    @section Scripts {

        <script type="text/javascript">

            function PrintModal() {
                window.print();
            }

            $(document).ready(function () {




                $("#cumulModal").on('hidden.bs.modal', function () {
                    $(this).removeData();
                    $(this).removeData('bs.modal');
                });
            });

            function ChangeYear() {
                var year = $("#year").val();
                if (year.length > 0) {

                    var id = $("#id_cumul").val();

                    var url = "/Cumul/Index/" + id + "?cumulType=2&year=" + year;
                    $.get(url, function (data) {
                        $('#modalContent').html(data);
                    });
                }
            }

            function ChangeLanguage() {
                var langue = $("#refLangue").val();
                window.location.href = "/Distributeurs?refLangue=" + langue;
            }
        </script>
    }