﻿@model SiteBMS.ViewModels.TranslateViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nouveau</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Cle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mot clé en anglais sans espace ni caractère spéciaux" } })
                @Html.ValidationMessageFor(model => model.Cle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FR, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FR, new { htmlAttributes = new { @class = "form-control", @placeholder = "Français" } })
                @Html.ValidationMessageFor(model => model.FR, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.GB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Anglais" } })
                @Html.ValidationMessageFor(model => model.GB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.IT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Italien" } })
                @Html.ValidationMessageFor(model => model.IT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ES, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ES, new { htmlAttributes = new { @class = "form-control", @placeholder = "Espagnol" } })
                @Html.ValidationMessageFor(model => model.ES, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.DE, new { htmlAttributes = new { @class = "form-control", @placeholder = "Allemand" } })
                @Html.ValidationMessageFor(model => model.DE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PT, new { htmlAttributes = new { @class = "form-control", @placeholder = "Portugais" } })
                @Html.ValidationMessageFor(model => model.PT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.NL, new { htmlAttributes = new { @class = "form-control", @placeholder = "Néerlandais" } })
                @Html.ValidationMessageFor(model => model.NL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-info btn-sm" />
            </div>
        </div>
    </div>
}

<div class="col-md-4 col-md-offset-1">
    @*@Html.ActionLink("Retour", "Index", null, new {@class= "btn btn-primary btn-sm"})*@
    <a class="btn btn-primary btn-sm"
       href="@Url.Action("Index", "Translate")"><i class="fa fa-arrow-left"></i>&nbsp;Retour</a>
</div>
