﻿
@model PagedList.IPagedList<SiteBMS.ViewModels.TranslateViewModel>
@using System.Web.Mvc.Html
@using PagedList.Mvc

@{
    ViewBag.Title = Resources.TranslateTools;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm("Index", "Translate", FormMethod.Get, new { @class = "navbar-form navbar-right form-inline", role = "form" }))
            {
            <input type="hidden" value="@ViewBag.SortOrder" name="sortOrder" />
            <input type="hidden" value="@ViewBag.EmptyWord" name="emptyWord" />


                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="document.getElementById('SearchString').value = '';window.location.href = '/Translate/';">
                                    <i class="fa fa-times" style="color: lightgrey;"></i>
                                </button>
                            </span>
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Chercher" })
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group">
                            <a class="form-control btn btn-success" href="Translate/Create" role="button"> Nouveau</a>
                        </div>
                    </li>
                </ul>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h6>
            <strong>CLE RÉSERVÉ DÉVELOPPEUR</strong> : Abréviation en anglais commençant par une majuscule (camel case) sans espaces ni caractères spéciaux.
            Les accords en genre et en nombre ce distingue par un <strong>F</strong> et/ou <strong>S</strong> majuscule.<br>
            Exemple : Aucun = None, Aucune = None<strong>F</strong>, Aucunes = None<strong>FS</strong>
        </h6>
    </div>
</div>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

            <div class="row-fluid">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr>
                                <th>
                                    Tous
                                    <input name="emptyWord" value="" type="radio"
                                           @if (string.IsNullOrEmpty(ViewBag.EmptyWord)) { @Html.Raw("checked=''")    ; }
                                           onclick="window.location.href = '/Translate';">
                                </th>
                                <th>
                                    @Html.ActionLink(Html.DisplayNameFor(model => model.First().Cle).ToHtmlString(), "Index",
                     new { sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
                                    <input name="emptyWord" value="Cle" type="radio"
                                           @if (ViewBag.EmptyWord == "Cle") { @Html.Raw("checked=''")   ; }
                                           onclick="window.location.href = '/Translate?emptyWord=Cle';">
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().FR)
                                    <input name="emptyWord" value="FR" type="radio"
                                           @if (ViewBag.EmptyWord == "FR") { @Html.Raw("checked=''")   ; }
                                           onclick="window.location.href = '/Translate?emptyWord=FR';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.FRCount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.FRCount%">
                                            @ViewBag.FRCount%
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().GB)
                                    <input name="emptyWord" value="GB" type="radio"
                                           @if (ViewBag.EmptyWord == "GB") { @Html.Raw("checked=''")   ; }
                                           onclick="window.location.href = '/Translate?emptyWord=GB';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.GBCount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.GBCount%">
                                            @ViewBag.GBCount%
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().IT)
                                    <input name="emptyWord" value="IT" type="radio"
                                           @if (ViewBag.EmptyWord == "IT") { @Html.Raw("checked=''")    ; }
                                           onclick="window.location.href = '/Translate?emptyWord=IT';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.ITCount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.ITCount%">
                                            @ViewBag.ITCount%
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ES)
                                    <input name="emptyWord" value="ES" type="radio"
                                           @if (ViewBag.EmptyWord == "ES") { @Html.Raw("checked=''")    ; }
                                           onclick="window.location.href = '/Translate?emptyWord=ES';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.ESCount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.ESCount%">
                                            @ViewBag.ESCount%
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DE)
                                    <input name="emptyWord" value="DE" type="radio"
                                           @if (ViewBag.EmptyWord == "DE") { @Html.Raw("checked=''")    ; }
                                           onclick="window.location.href = '/Translate?emptyWord=DE';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.DECount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.DECount%">
                                            @ViewBag.DECount%
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().PT)
                                    <input name="emptyWord" value="PT" type="radio"
                                           @if (ViewBag.EmptyWord == "PT") { @Html.Raw("checked=''")    ; }
                                           onclick="window.location.href = '/Translate?emptyWord=PT';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.PTCount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.PTCount%">
                                            @ViewBag.PTCount%
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().NL)
                                    <input name="emptyWord" value="NL" type="radio"
                                           @if (ViewBag.EmptyWord == "NL") { @Html.Raw("checked=''") ; }
                                           onclick="window.location.href='/Translate?emptyWord=NL';">
                                    <div class="pull-right progress" style="width: 60%;margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="@ViewBag.NLCount" aria-valuemin="0" aria-valuemax="100" style="width:@ViewBag.NLCount%">
                                            @ViewBag.NLCount%
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-info btn-sm" title="@item.Id" onclick="saveTranslation(this,@item.Id);" id="bnt_@item.Id">Save</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @*@Html.EditorFor(model => item.Cle, new { htmlAttributes = new { id = "CLE_" + @item.Id, @class = "form-control" } , ondblclick = "this.readOnly = false;" })*@
                                                @Html.EditorFor(model => item.Cle, new { htmlAttributes = new { id = "CLE_" + @item.Id, @class = "form-control", @readonly = "readonly", ondblclick = "this.readOnly = false;" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.FR, new { htmlAttributes = new { id = "FR_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.GB, new { htmlAttributes = new { id = "GB_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.IT, new { htmlAttributes = new { id = "IT_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.ES, new { htmlAttributes = new { id = "ES_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.DE, new { htmlAttributes = new { id = "DE_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.PT, new { htmlAttributes = new { id = "PT_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.NL, new { htmlAttributes = new { id = "NL_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- PAGINATION -->
<div class="row">
    <div class="col-sm-3">
        <div class="page-count-pagination">
            @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
    </div>
    <div class="col-sm-9">
        <div class="custom-pagination">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { currentFilter = ViewBag.CurrentFilter, page, sortOrder = ViewBag.SortOrder, emptyWord = ViewBag.EmptyWord }),
                                                new PagedListRenderOptions
                                                {
                                                    LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i>",
                                                    LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> " + Resources.Previous,
                                                    LinkToNextPageFormat = Resources.Next + " <i class='fa fa-angle-right'></i>",
                                                    LinkToLastPageFormat = "<i class='fa fa-angle-double-right'></i>"
                                                })
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            //$("body.nav-md").removeClass("nav-md").addClass("nav-sm");
        });

        function saveTranslation(obj, id) {

            if (id != undefined && id != null) {

                var cle = $("#CLE_" + id).val();
                var fr = $("#FR_" + id).val();
                var it = $("#IT_" + id).val();
                var es = $("#ES_" + id).val();
                var de = $("#DE_" + id).val();
                var gb = $("#GB_" + id).val();
                var pt = $("#PT_" + id).val();
                var nl = $("#NL_" + id).val();

                // create object like TranslateViewModel
                var json = JSON.stringify({ Id: id, Cle: cle, FR: fr, IT: it, ES: es, DE: de, GB: gb, PT: pt, NL: nl });

                $.ajax({
                    url: '/Translate/SaveTranslate',
                    type: "POST",
                    dataType: "JSON",
                    contentType: "application/json; charset =utf-8",
                    data: json,
                    async: true,
                    success: function (data) {
                        //console.log(data);
                        $("#bnt_" + id).removeClass("btn-info").addClass("btn-success");
                    }
                });
            }
        }

    </script>
}
