﻿@using SiteBMS.ViewModels
@model SiteBMS.ViewModels.BilanReportViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">

        <div class="col-md-10 col-md-offset-1">@*table-bordered*@

            <table id="datatable" class="table table-striped  dataTable no-footer" role="grid" aria-describedby="datatable_info">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    @foreach (var programme in Model.Programme)
                    {
                        <th>
                            <h5>@programme.Nom</h5>
                        </th>
                    }
                </tr>
                </thead>
                <tbody>
                @foreach (var etape in Model.Etape)
                {
                    <tr>
                        <td>
                            <div class="center-block">
                                @Html.Image("/Content/images/Etapes/" + etape.ID + ".jpg", etape.Description, "80", "img-thumbnail center-block")
                                <h3>@etape.Nom</h3>
                            </div>
                        </td>
                        @foreach (var items in Model.Programme.Select(programme => Model.GetProduits(programme.ID, etape.ID)))
                        {
                            if (items.Count > 0)
                            {
                                <td>
                                    @foreach (var produits in items)
                                    {
                                        <div class="">
                                            @Html.Raw(BilanReportViewModel.DisplayProduct(produits))
                                        </div>
                                    }
                                </td>
                            }
                            else
                            {
                                <td>&nbsp;</td>
                            }
                        }
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>
@section Styles {
    <link href="@Url.Content("/Content/css/bilan.css")" rel="stylesheet" type="text/css" />
}