﻿
@using SiteBMS.ViewModels
@model SiteBMS.ViewModels.BilanReportViewModel
@{
    ViewBag.Title = Resources.BalanceSheet;

    // template of values
    string template = @"<div class='row row-panel' id='row-{2}'>
    <div _class='col-md-12'><div class='x_panel panel-info'>
        <div class='x_title panel-heading'>
            <h5 id='product-{2}'>{0}</h5>
            <ul class='nav navbar-right panel_toolbox'>
                <li>
                    <span data-toggle='tooltip' data-placement='top' title='{delete}'>
                        <a disabled class='delete-link' data-id='{2}' id='d-{2}' data-product='{3}' data-toggle='modal' data-target='#delete-modal'><i class='fa fa-times'></i></a>
                    </span>
                </li>
                <li>
                    <span data-toggle='tooltip' data-placement='top' title='{edit}'>
                        <a disabled class='edit-link' data-id='{2}' id='e-{2}' data-product='{3}' data-toggle='modal' data-target='#PersoModal'><i class='fa fa-wrench'></i></a>
                    </span>
                </li>
            </ul>
            <div class='clearfix'></div>
        </div>
        <div class='x_content'>
            <div class='panel-body' id='quantite-{2}'>{1} {4}</div>
        </div>
    </div></div></div>";

    template = template.Replace("{delete}", Resources.Archive);
    template = template.Replace("{edit}", Resources.Edit);

    var unAuthorized = User.IsAuthorized(new[] { RoleType.Client, RoleType.Distributeur });

    if (unAuthorized)
    {
        // hidden buttons action : Add/Disable
        template = template.Replace("class='nav navbar-right panel_toolbox'", " style='display:none'");
    }

}

<!-- Modal Customize product  -->
<div class="modal fade" id="PersoModal" role="dialog" aria-labelledby="ModalCustomProduct">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resources.Edit</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal" id="form-isPerso">
                    <input type="hidden" id="item-id" />
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <p>@Resources.SelectProductQuantity</p>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-sm-2">@Resources.Products</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("listProduits", (IEnumerable<SelectListItem>)ViewBag.DDLProduits,
                            htmlAttributes: new { @class = "form-control", @onchange = "ChangeProduit(this)" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">@Resources.Quantity</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="quantite" placeholder="@Resources.Quantity">
                                <div class="input-group-addon" id="unite"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-6" style="padding-right: 0">
                                <div class="col-sm-6">

                                    <button type="button" class="btn btn-success btn-sm btn-block" id="submit-perso">@Resources.Save</button>
                                </div>
                                <div class="col-sm-6" style="padding-right: 0">
                                    <button type="button" class="btn btn-default btn-sm btn-block" data-dismiss="modal">@Resources.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Form -->
            </div>
            <!-- modal-body -->
        </div>
    </div>
</div>

<!-- Modal add product -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="ModalAddProduct">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.Add</h4>
            </div>
            <div class="modal-body" id="add-modal-body">
                <div class="form-horizontal" id="form-add">
                    <input type="hidden" id="item-id" />
                    <input type="hidden" id="releve-id" />
                    <input type="hidden" id="program-id" />
                    <input type="hidden" id="etape-id" />

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <p>@Resources.SelectProductQuantity</p>
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label col-sm-2">@Resources.Products</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("add-listProduits", (IEnumerable<SelectListItem>)ViewBag.DDLProduits, Resources.Products,
                             htmlAttributes: new { @class = "form-control", @onchange = "ChangeProduit(this)" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">@Resources.Quantity</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="qt-value" id="add-quantity">
                                <div class="input-group-addon" id="unite"></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-6" style="padding-right: 0">
                                <div class="col-sm-6">

                                    <button type="button" class="btn btn-success btn-sm btn-block" id="submit-add" disabled>@Resources.Save</button>
                                </div>
                                <div class="col-sm-6" style="padding-right: 0">
                                    <button type="button" class="btn btn-default btn-sm btn-block" data-dismiss="modal">@Resources.Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- Modal delete product -->
<div class="modal fade" id="delete-modal" role="dialog" aria-labelledby="ModalDeleteProduct">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resources.Archive @Resources.Product</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="form-delete">
                    <input type="hidden" id="delete-id" />
                    <p>@Resources.Archive <strong><span id="libelle-produit" style="text-decoration: underline;"></span></strong> ?</p>

                    <div class="modal-footer">
                        <div class="cols-sm-12">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-danger btn-sm btn-block" id="btn-delete">@Resources.Archive</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-sm btn-block" data-dismiss="modal">@Resources.Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model-body -->
        </div>
    </div>
</div>

<!-- PRINT SECTION -->
@{
    var templatePrint = @"<div id='item-{2}{3}'>{0}<br />{1} {4}</div>";
}

<div id="printSection">
    <div class="row">
        <div class="col-md-4">
            <table id="tablePrint">
                <thead>
                    <tr><th colspan="5">@ViewBag.TitleBilan</th></tr>
                    <tr>
                        <th style="text-align:center;">@ViewBag.StadePhenologique</th>
                        @foreach (var programme in Model.Programme)
                        {
                            <th>
                                @programme.Nom
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var etape in Model.Etape)
                    {
                        <tr>
                            <td>@Html.Image("/Content/images/Etapes/" + etape.ID + ".png", etape.Description, "", "")<br />@etape.Nom</td>

                            @foreach (var items in Model.Programme.Select(programme => Model.GetProduits(programme.ID, etape.ID)))
                            {
                                if (items.Count > 0)
                                {
                                    var itemCount = 0;
                                    <td>
                                        @foreach (var produits in items)
                                        {
                                            itemCount++;
                                            @Html.Raw(BilanReportViewModel.DisplayProduct(produits, templatePrint))
                                            if (itemCount < items.Count)
                                            {
                                                <hr />
                                            }
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- MAIN CUMUL -->
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB /Releves/List/111 -->
                <h2>
                    <a href="@Url.Action("List", "Releves", new { id = ViewBag.Releve.RefParcelle, page = ViewBag.Page })"><i class="fa fa-bars"></i> @Resources.StatementS</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title : <span>@Utils.UcFirst(ViewBag.Releve.Parcelle.Nom)</span>
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-md-offset-2">

                        <div class="x_panel">
                            <div class="x_title">

                                <div class="col-md-10 col-sm-10">
                                    <div class="col-md-4-5 col-sm-6"><h2>@Resources.Statement : @ViewBag.Releve.Nom</h2></div>

                                    <div class="col-md-2-5 col-sm-2">
                                        <label><i class="fa fa-square" style="color: #d9edf7;"></i>&nbsp;@Resources.Activated</label>
                                    </div>
                                    <div class="col-md-2-5 col-sm-2">
                                        <label><i class="fa fa-square" style="color: #ddf7d9;"></i>&nbsp;@Resources.Customized</label>
                                    </div>
                                    <div class="col-md-2-5 col-sm-2">
                                        <label><i class="fa fa-square" style="color: #ffcaca;"></i>&nbsp;@Resources.Deactivated</label>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <button class="btn btn-success btn-sm pull-right" id="btnPrint"><i class="fa fa-print"></i> @Resources.Print</button>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="container" id="bilan">

                                    <table class="table table-bordered">

                                        <tr>
                                            <th style="text-align:center;" class="header-report">@ViewBag.StadePhenologique</th>
                                            @foreach (var programme in Model.Programme)
                                            {
                                                <th class="header-report">
                                                    @programme.Nom
                                                </th>
                                            }
                                        </tr>

                                        @foreach (var etape in Model.Etape)
                                        {
                                            //program Index count
                                            var programIndex = 0;

                                            <tr>
                                                <td>
                                                    <div class="thumbnail">
                                                        @Html.Image("/Content/images/Etapes/" + etape.ID + ".png", etape.Description, "", "")
                                                        <div class="caption">
                                                            <h5>@etape.Nom</h5>
                                                        </div>
                                                    </div>
                                                </td>


                                                @foreach (var items in Model.Programme.Select(programme => Model.GetProduits(programme.ID, etape.ID)))
                                                {
                                                    if (items.Count > 0)
                                                    {
                                                        <!-- EXISTING PRODUCT -->
                                                        <td>
                                                            @foreach (var produits in items)
                                                            {
                                                                var tmpl = template;
                                                                if (produits.IsPerso && produits.IsValide)
                                                                {
                                                                    // product is customized and activate (valid)
                                                                    tmpl = tmpl.Replace("<div class='x_title panel-heading'>", "<div class='x_title panel-heading' style='background-color: #ddf7d9;'>");
                                                                }
                                                                else if (!produits.IsValide)
                                                                {
                                                                    // product is deactivated (not valid)
                                                                    tmpl = tmpl.Replace("<div class='x_title panel-heading'>", "<div class='x_title panel-heading' style='background-color: #ffcaca;'>");
                                                                }

                                                                @Html.Raw(BilanReportViewModel.DisplayProduct(produits, tmpl))
                                                            }
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                            <!-- If IS AUTHORIZD ADD NEW PRODUCT releve, programme, etape, -->
                                                        <td>
                                                            @if (!unAuthorized)
                                                            {
                                                                <div class="row row-panel plus" id="etape-void-@etape.ID-@programIndex">
                                                                    <div _class="col-md-12">
                                                                        <div class="x_panel">
                                                                            <div class="x_title panel-heading heading-plus">
                                                                                <h5>&nbsp;</h5>
                                                                                <ul class="nav navbar-right panel_toolbox">
                                                                                    <li>
                                                                                        <span data-toggle="tooltip" data-placement="top" title="@Resources.Add">
                                                                                            <a class="add-link"
                                                                                               data-index="@programIndex"
                                                                                               data-releve="@ViewBag.Releve.ID"
                                                                                               data-program="@Model.Programme.ElementAt(programIndex).ID"
                                                                                               data-toggle="modal" data-target="#add-modal"
                                                                                               data-etape="@etape.ID"><i class="fa fa-plus"></i></a>
                                                                                        </span>
                                                                                    </li>
                                                                                </ul>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            }

                                                        </td>
                                                    }
                                                    programIndex++;
                                                }
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- panel releve -->
                    </div>
                    <!-- col-md-10 -->
                </div>
                <!-- row -->
            </div>
            <!-- x_content -->
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("/Content/css/bilan-report.css")" rel="stylesheet" type="text/css" media="all" />
}

@section CustomJavascript {
    @Scripts.Render("~/bundles/pulsate")
    @Scripts.Render("~/bundles/reportBilan")
}

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#title-customer").addClass("active");
            $("#menu-customer").show();

            // PARCELLES DU CLIENT
            $("#menu-parcel").show();
            $("#list-parcel").attr("href", "/Parcelles/List/" + @ViewBag.Releve.Parcelle.RefClient);

            // RELEVES DE LA PARCELLE
            $("#menu-releve").show();
            $("#list-releve").attr("href", "/Releves/List/" +  @ViewBag.Releve.Parcelle.ID);
        });

    </script>

}
