﻿@using SiteBMS.ViewModels
@*@using SiteBMS*@
@model SiteBMS.ViewModels.BilanReportViewModel
@{
    ViewBag.Title = "Parcelle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // template of values
    //const string template1 = @"<div class='panel panel-info' id='item-{2}'>
    //                  <div class='panel-heading'><h5>{0}</h5></div>
    //                  <div class='panel-body'>{1}</div>
    //                </div>";

    // template
    const string template = @"<div class='row row-panel' id='row-{2}'><div class='col-md-12'><div class='x_panel panel-info'>
    <div class='x_title panel-heading'>
        <h5 id='product-{2}'>{0}</h5>
        <ul class='nav navbar-right panel_toolbox'>
            <li><a class='delete-link'   data-id='{2}' id='d-{2}' data-product='{3}' data-toggle='modal' data-target='#delete-modal'><i class='fa fa-times'></i></a></li>
            <li><a class='edit-link'     data-id='{2}' id='e-{2}' data-product='{3}' data-toggle='modal' data-target='#PersoModal'><i class='fa fa-wrench'></i></a></li>
        </ul>
        <div class='clearfix'></div>
    </div>
    <div class='x_content'>
        <div class='panel-body' id='quantite-{2}'>{1}</div>
    </div>
</div></div></div>";
}

<!-- Modal Personnalisation produit -->
<div class="modal fade" id="PersoModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modification produit</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal" id="form-isPerso">
                    <input type="hidden" id="item-id"/>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <p>Sélectionner un produit dans la liste et indiquez la quantité désirée.</p>
                        </div>
                    </div>
                        <div class="form-group">

                            <label class="control-label col-sm-2">Produits</label>
                            <div class="col-sm-10">
                                @Html.DropDownList("listProduits", (IEnumerable<SelectListItem>)ViewBag.DDLProduits,
                                htmlAttributes: new { @class = "form-control", @onchange = "ChangeProduit(this)" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Quantité</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="quantite" placeholder="Quantité">
                                    <div class="input-group-addon" id="unite"></div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-6" style="padding-right: 0">
                                    <div class="col-sm-6">

                                        <button type="button" class="btn btn-success btn-block" id="submit-perso">Enregistrer</button>
                                    </div>
                                    <div class="col-sm-6" style="padding-right: 0">
                                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>
                <!-- Form -->
            </div>
            <!-- modal-body -->
        </div>
    </div>
</div>

<!-- Modal Supprimer produit -->
<div class="modal fade" id="delete-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Supprimer un produit</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="form-delete">
                    <input type="hidden" id="delete-id" />
                    <p>Supprimer le produit <strong><span id="libelle-produit" style="text-decoration: underline;"></span></strong> ?</p>

                    <div class="modal-footer">
                        <div class="cols-sm-12">
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-danger btn-block" id="btn-delete">Supprimer</button>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Annuler</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model-body -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB /Releves/List/111 -->
                <h2>
                    <a href="@Url.Action("List", "Releves", new {id = ViewBag.Releve.RefParcelle, page = ViewBag.Page})"><i class="fa fa-bars"></i> Relevés</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title : <span>@Utils.UcFirst(ViewBag.Releve.Parcelle.Nom)</span>
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Bilan du relevé : @ViewBag.Releve.Nom</h2>
                                <div class="nav navbar-right panel_toolbox">
                                    <button class="btn btn-success btn-sm" id="btnPrint"><i class="fa fa-print"></i> Print</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="container" id="bilan">

                                    <ul class="header ul-item">
                                        <li class="li-item">
                                            <h4>@ViewBag.StadePhenologique</h4>
                                        </li>
                                        @foreach (var programme in Model.Programme)
                                        {
                                        <li class="li-item">
                                            <h4>@programme.Nom</h4>
                                        </li>
                                        }
                                    </ul>

                                    @foreach (var etape in Model.Etape)
                                    {
                                    <ul class="ul-item">
                                        <li class="li-item">
                                            <div class="thumbnail">
                                                @Html.Image("/Content/images/Etapes/" + etape.ID + ".png", etape.Description, "60px", "")
                                                <div class="caption">
                                                    <h5>@etape.Nom</h5>
                                                </div>
                                            </div>
                                        </li>

                                        @foreach (var items in Model.Programme.Select(programme => Model.GetProduits(programme.ID, etape.ID)))
                                            {
                                                if (items.Count > 0)
                                                {
                                        <li class="li-item" id="etape-@etape.ID">
                                            @*Produits de l'Item, personnalisation ici*@
                                            @foreach (var produits in items)
                                                        {
                                            @Html.Raw(BilanReportViewModel.DisplayProduct(produits, template))
                                                        }
                                        </li>
                                                }
                                                else
                                                {
                                        <li class="li-item" id="etape-void-@etape.ID">&nbsp;</li>
                                                }
                                            }
                                    </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- panel releve -->
                    </div>
                    <!-- col-md-10 -->
                </div>
                <!-- row -->
            </div>
            <!-- x_content -->
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("/Content/css/bilan.css")" rel="stylesheet" type="text/css" media="all" />
}

@section CustomJavascript {
    @Scripts.Render("~/bundles/pulsate")
    @Scripts.Render("~/bundles/reportBilan")
}

@section Scripts {

}