﻿@using SiteBMS.ViewModels
@model SiteBMS.ViewModels.BilanReportViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row center-block">

        <div class="col-md-12" style="border: 0;">

            <div class="row">
                <div class="row-height top-border">

                    @*<div class="col-md-1 item">
                        <div class="inside">&nbsp;</div>
                    </div>*@
                    <div class="col-md-1">
                        <div class="inside">
                            <div class="thumbnail">
                                @Html.Image("/Content/images/Etapes/empty.jpg", "", "1%", "img-thumbnail")
                            </div>
                         </div>
                    </div>


                    @foreach (var programme in Model.Programme)
                    {
                        <div class="col-md-2 item">
                            <div class="inside">
                                <h2>@programme.Nom</h2>
                            </div>
                        </div>
                    }
                </div>
                <!--div.row-height-->
            </div>
            <!--div.row-->

            @foreach (var etape in Model.Etape)
            {
                <div class="row">

                    <div class="row-height">

                        <div class="col-md-1 item">
                            <div class="inside">
                                <!--img-etape-->
                                <div class="thumbnail">
                                    @Html.Image("/Content/images/Etapes/" + etape.ID + ".jpg", etape.Description, "100%", "img-thumbnail")
                                    <div class="caption">
                                        <h5>@etape.Nom</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- image-->

                        @foreach (var items in Model.Programme.Select(programme => Model.GetProduits(programme.ID, etape.ID)))
                        {
                            if (items.Count > 0)
                            {
                                <div class="col-md-2 item">
                                    <div class="inside">
                                        <ul class="list-group">
                                            @foreach (var produits in items)
                                            {
                                                @Html.Raw(BilanReportViewModel.DisplayProduct(produits))
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-2 item">
                                    <div class="inside">&nbsp;</div>
                                </div>
                            }
                        }
                        <!--Programm-->
                    </div>
                    <!--row-height-->
                </div>
                <!--div.row-->
            }
            <!--foreach.Etape-->
        </div>
    </div>
</div>
<!--container-->

@section Styles {
    <link href="@Url.Content("/Content/css/bilan.css")" rel="stylesheet" type="text/css" />
}

@section CustomJavascript {
    @Scripts.Render("~/bundles/matchHeight")
}

@section Scripts {

    <script type="text/javascript">

        // col-md-height col-md-middle

        // https://github.com/liabru/jquery-match-height

        // adapt cols heigth
        $(function () {

            var options = {
                byRow: true,
                property: 'height',
                target: null,
                remove: false
            }
            $('.item').matchHeight(options);
        });
        
    </script>
}