﻿@model IEnumerable<SiteBMS.ViewModels.CumulViewModel>

<!-- http://jsfiddle.net/macgile/8n5j0ncm/ -->
<input type="hidden" id="id_cumul" value="@ViewBag.ID" />

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Cumul @ViewBag.Title</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel" style="border:0">
                <div class="x_title" style="border-bottom:0;margin-bottom:0;">

                    <ul class="nav navbar-right">
                        <!-- 1: client, 2: distributeur, 3: parcelle, 4: releve -->
                        <li>
                            @if (ViewBag.CumulType != 4)
                            {
                                <div class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-6 col-sm-12 col-xs-12">Années disponible</label>
                                        <div class="col-md-6 col-sm-12">
                                            @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Years, "-Choix Année-",
                                    htmlAttributes: new { @class = "form-control", @onchange = "ChangeYear()" })
                                        </div>

                                    </div>
                                </div>
                            }
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="printCumulContent">
                    <div class="container">
                        <table class="table table-bordered" id="tableCumul">
                            @if (ViewBag.CumulType != 4)
                            {
                                <tr>
                                    <th colspan="3"><h4>Année @ViewBag.Year</h4></th>
                                </tr>
                            }
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Produit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotQte)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitProd)
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Produit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotQte)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitProd)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <!-- panel releve -->
        </div>
        <!-- col-md-10 -->
    </div>
    <!-- row -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" id="btnPrint" style="margin-bottom: 0;" onclick="PrintModal()">Imprimer</button>
    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Fermer</button>
</div>
<div id="printSection">
    <div class="container">
        <h3 class="modal-title cumulPrintTitle">Cumul @ViewBag.Title</h3>
        <table class="table table-bordered">
            @if (ViewBag.CumulType != 4)
            {
                <tr>
                    <th colspan="3"><h4>Année @ViewBag.Year</h4></th>
                </tr>
            }
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotQte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UnitProd)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotQte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitProd)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
