﻿@model IEnumerable<SiteBMS.ViewModels.CumulViewModel>
<div class="row">
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <!-- BREADCRUMB /Releves/List/111 -->
                <h2>
                    <a href="@Url.Action("Index", "Cumul", new {id = 10})"><i class="fa fa-bars"></i> Cumuls</a>
                    <i class="fa fa-chevron-right" style="font-size: 0.8em;"></i>
                    @ViewBag.Title : @*<span>@Utils.UcFirst(ViewBag.Releve.Parcelle.Nom)</span>*@
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Cumul Client : Daveau</h2>

                                @if (ViewBag.Url != "Releves")
                                {
                                    <div class="input-group" style="margin-right: 8px;">
                                        @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Years, "-Choix Année-",
                                    htmlAttributes: new { @class = "form-control", @onchange = "ChangeYear()" })
                                    </div>
                                }

                                <div class="nav navbar-right panel_toolbox">
                                    <button class="btn btn-success" id="btnPrint"><i class="fa fa-print"></i> Print</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="container" id="cumul">
                                    <table class="table">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Produit)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotQte)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UnitProd)
                                            </th>
                                        </tr>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Produit)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotQte)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UnitProd)
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- panel releve -->
                    </div>
                    <!-- col-md-10 -->
                </div>
                <!-- row -->
            </div>
            <!-- x_content -->
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        function ChangeYear() {
            var year = $("#year").val();
            window.location.href = "/Cumul/Index/" + @ViewBag.Id + "?cumulType=" + @ViewBag.CumulType + "&year=" + year;
        }
    </script>
}