﻿@{
    ViewBag.Title = "Home Page";
}

<br />

@*<div class="container">
    <div class="row" style="position:relative;">
        <div class="col-sm-2">
            <img src="~/Content/images/logo_chelal.png" alt="Logo" class="img-responsive" />
        </div>
        <div class="bottom-align-text col-sm-10">
            <h3>Some Text</h3>
        </div>
    </div>
</div>*@


<div class="jumbotron">

    <div class="container">
        <div class="row myrow">
            <div class="col-xs-1 col-md-1 col-sm-2">
                <p><img src="~/Content/images/color_bms_logo.png" alt="Chelal logo" style="width:100%;height:100%"></p>
            </div>
            <div class="col-xs-10 col-md-10 col-sm-10 rightspan">
                    <h1>BMS Micro-Nutrients</h1>
                    <h4>Chelated micro-nutrients and foliar fertilizers</h4>
            </div>
        </div>


        @*<div class="row" style="position:relative;">
            <div class="col-md-2">
                <img src="~/Content/images/logo_chelal.png" alt="Logo" class="img-responsive" width="120"/>
            </div>
            <div class="bottom-align-text col-md-10">
                <h1>BMS Micro-Nutrients</h1>
                <h4>chelated micro-nutrients and foliar fertilizers</h4>

            </div>
        </div>*@
    </div>


        @*<h1><img src="~/Content/images/logo_chelal.png" alt="BMS Micro-Nutrients" id="logo" style="margin-bottom: 20px;"> BMS Micro-Nutrients</h1>
            <h4>oligo-éléments chélatés et engrais foliaires</h4>*@

        @if (Request.IsAuthenticated)
        {
            <h4>Welcome @User.FullName</h4>
            <h4>Your Role is : @User.RoleName</h4>
        }
        @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@

    </div>

@*<div class="branding-data clearfix">
    <div class="logo-img">
        <a href="/" rel="home" title="BMS Micro-Nutrients"><img src="~/Content/images/logo_chelal.png" alt="BMS Micro-Nutrients" id="logo"></a>
    </div>
    <hgroup class="site-name-slogan">
        <h2 class="site-name"><a href="/en" title="Home">BMS Micro-Nutrients</a></h2>
        <h6 class="site-slogan">chelated micro-nutrients and foliar fertilizers</h6>
    </hgroup>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            // toggle current customer menu item
            $("#customer-menu").addClass("active");
            $("#customer").toggle();
  });
</script>


}