﻿
@model PagedList.IPagedList<SiteBMS.ViewModels.TranslateViewModel>
@using System.Web.Mvc.Html
@using PagedList.Mvc
@{
    // @model IEnumerable<SiteBMS.ViewModels.TranslateViewModel>
    ViewBag.Title = "Translation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        @using (Html.BeginForm("Translate", "Home", FormMethod.Get, new {@class = "navbar-form navbar-right form-inline", role = "form" }))
        {

            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    onclick="document.getElementById('SearchString').value = ''; window.location.href = '/Home/Translate';">
                                <i class="fa fa-times" style="color: lightgrey;"></i>
                            </button>
                        </span>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Chercher" })
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>

                </li>
            </ul>
        }
    </div>
</div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

            <div class="row-fluid">
                <div class="table-responsive">

                    <table class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().Cle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().FR)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().GB)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().IT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().ES)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().DE)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().PT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstOrDefault().NL)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-info btn-sm" onclick="saveTranslation(this,@item.Id);" id="bnt_@item.Id">Save</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.Cle, new { htmlAttributes = new { id = "CLE_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.FR, new { htmlAttributes = new { id = "FR_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.GB, new { htmlAttributes = new { id = "GB_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.IT, new { htmlAttributes = new { id = "IT_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.ES, new { htmlAttributes = new { id = "ES_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.DE, new { htmlAttributes = new { id = "DE_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.PT, new { htmlAttributes = new { id = "PT_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                    @*<td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.AR, new { htmlAttributes = new { id = "AR_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>*@
                                    <td>
                                        <div class="form-inline" role="form">
                                            <div class="form-group">
                                                @Html.EditorFor(model => item.NL, new { htmlAttributes = new { id = "NL_" + @item.Id, @class = "form-control" } })
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- PAGINATION -->
<div class="row">
    <div class="col-sm-3">
        <div class="page-count-pagination">
            @Resources.Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
    </div>
    <div class="col-sm-9">
        <div class="custom-pagination">
            @Html.PagedListPager(Model, page => Url.Action("Translate",   new { currentFilter = ViewBag.CurrentFilter, page }),
                                                new PagedListRenderOptions
                                                {
                                                    LinkToFirstPageFormat = "<i class='fa fa-angle-double-left'></i>",
                                                     LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i> " + Resources.Previous,
                                                    LinkToNextPageFormat = Resources.Next +" <i class='fa fa-angle-right'></i>",
                                                    LinkToLastPageFormat = "<i class='fa fa-angle-double-right'></i>"
                                                })
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("body.nav-md").removeClass("nav-md").addClass("nav-sm");
        });

        function saveTranslation(obj, id) {

            if (id != undefined && id != null) {

                var cle = $("#CLE_" + id).val();
                var fr = $("#FR_" + id).val();
                var it = $("#IT_" + id).val();
                var es = $("#ES_" + id).val();
                var de = $("#DE_" + id).val();
                var gb = $("#GB_" + id).val();
                var pt = $("#PT_" + id).val();
                //var ar = $("#AR_" + id).val();
                var nl = $("#NL_" + id).val();

                var json = JSON.stringify({ Id: id, Cle:cle, FR: fr, IT: it, ES:es, DE:de, GB:gb, PT:pt, NL:nl });

                $.ajax({
                    url: '/Home/SaveTranslate',
                    type: "POST",
                    dataType: "JSON",
                    contentType: "application/json; charset =utf-8",
                    data: json,
                    async: true,
                    success: function (data) {
                        //console.log(data);
                        $("#bnt_"+ id).removeClass("btn-info").addClass("btn-success");
                    }
                });
            }
        }

    </script>
}
